{% extends "base.html" %}

{% block extra_head %}
{{ form.media.css }}
{% endblock extra_head %}

{% block content %}

<style type="text/css" media="screen">
  .diff-table {
    background-color: #EDEDED;
    font-family: monospace;
    font-size: 0.7em;
    color: #333;

  }
  td[nowrap] {
    min-width: 450px;
  }
  .diff_header {
    font-weight: bold;
    color: #999;
  }
  .diff_next a {
    border-radius: 20px;
    background-color: #333;
    color: #EDEDED;
    display: block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
  }
  .diff_add {
    background-color: green;
    display: inline-block;
  }
  .diff_sub {
    background-color: red;
  }
</style>
<div class="row">

  <form action="" method="get" accept-charset="utf-8">
    <div class="col-sm-6">
      {{form.installer_1}}
    </div>
    <div class="col-sm-6">
      {{form.installer_2}}
    </div>
    <div class="col-sm-12 centered">
      <input type="submit" class="btn btn-lg" value="Diff" />
    </div>
  </form>

  {% if diff_table %}
  <div class="col-sm-6">
    <h3>
      <a href="{{installer_1.game.get_absolute_url}}" target="_blank">{{ installer_1.game.name }}</a> ({{installer_1}}) <br />
      <span class='small'>{{installer_1.user}} {{installer_1.created_at}} for {{installer_1.runner}}</span>
    </h3>
  </div>

  <div class="col-sm-6">
    <h3>
      <a href="{{installer_2.game.get_absolute_url}}" target="_blank">{{ installer_2.game.name }}</a> ({{installer_2}}) <br />
      <span class='small'>{{installer_2.user}} {{installer_2.created_at}} for {{installer_2.runner}}</span>
    </h3>
  </div>

  <div class="col-lg-12 ">
    {{diff_table | safe }}
  </div>
  {% endif %}

</div>
{% endblock content %}


{% block scripts %}
  <script type="text/javascript" charset="utf-8">
    $(function () {
      $.fn.select2.defaults.set("width", null);
      $.fn.select2.defaults.set("theme", 'bootstrap');
    });
  </script>
  {{ block.super }}
  {{ form.media.js }}
{% endblock scripts %}
