{% extends "base.html" %}

{% block title %}
Fork installer {{ installer }}
{% endblock title %}


{% block extra_head %}
{{ form.media.css }}
{% endblock extra_head %}


{% block content %}
<div class="row">
<div class="message-view col-md-6 col-md-offset-3">
  <h4>Fork installer {{installer}}</h4>
  <p>
    You can create a new installer based on an existing one by forking it, select the
    game you want to apply it to and you will be redirected to the newly created installer.
  </p>
  <p>
    <strong>Important</strong>: If you wish to modify an installer <strong>you do not need to fork
    it.</strong>, you can edit the existing one and submit your modifications
    for review. Any fork that doesn't provide additional features over an existing one will
    <strong>immediatly be deleted</strong> during our moderation process.
  </p>

  <div>
    <form action="{% url "fork_installer" id=installer.id %}" method="post" accept-charset="utf-8">
      {% csrf_token %}
      {{ form.as_p }}
      <p class="form-actions right">
        <a href="{% url "game_detail" slug=installer.game.slug %}" class='btn'>Cancel</a>
        <input type="submit" class="btn btn-primary" value="Fork">
      </p>
    </form>
  </div>
</div>
</div>
{% endblock content %}


{% block scripts %}
  <script>
    $(function(){
      $.fn.select2.defaults.set("width", null);
      $.fn.select2.defaults.set("theme", 'bootstrap');
    });
  </script>
  {{ block.super }}
  {{ form.media.js }}
{% endblock scripts %}
