{% extends "base.html" %}


{% block title %}
  {% if new %}
    Create new installer for {{ game }}
  {% else %}
    Edit installer for {{ game }}
  {% endif %}
  | Lutris
{% endblock %}

{% block extra_head %}
  {{ form.media.css }}
{% endblock %}

{% block content %}
<h1>{% if new %}New{% else %}Edit{% endif %} installer for {{ game }}</h1>
<div class="row">
  <div class="col-sm-7">
    <div class="well">
    {% if versions %}
      <p>Load a previous revision </p>
      <select class='django-select2' id='revision-select'>
        {% for version in versions %}
        <option value="{{version.id}}">{{version.revision.comment}}</option>
        {% endfor %}
      </select>
    {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div id='editor'></div>
      <input type="submit" class="btn" name="save" value="Save draft">
      <input type="submit" class="btn btn-primary" name="submit" value="Submit to moderation"/>
      {% if installer.draft %}
      <input type="submit" class="btn btn-danger" name="delete" value="Delete this draft">
      {% endif %}
      {% if installer %}
      <a
        class='btn'
        id="test-installer-button"
        {% if revision_id %}
        href="lutris:{{game.slug}}?revision={{revision_id}}"
        {% else %}
        href="lutris:{{installer.slug}}"
        {% endif %}
      >Test this installer</a>
      {% endif %}
      <a class='btn' href="{{game.get_absolute_url}}">Cancel</a>
    </form>
    </div>
  </div>

</div>
<div class="well docs fixed-panel">
    <h1>Installer documentation</h1>
    {% include "docs/installers.html" %}
</div>
{% endblock %}


{% block scripts %}
  <script src="/static/ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>
  <script>
    $(function(){
      // ACE editor config
      const textarea = $('textarea[name="content"]').hide();
      const editor = ace.edit("editor");
      editor.setTheme("ace/theme/twilight");
      editor.session.setMode("ace/mode/yaml");
      editor.session.setTabSize(4);
      editor.session.setUseSoftTabs(true);
      editor.setOption("fontSize", "16px");

      editor.getSession().setValue(textarea.val());
      editor.getSession().on('change', function(){
        textarea.val(editor.getSession().getValue());
      });

      {% if versions %}
      $('#revision-select').on('change', function(event) {
        const formUrl = "{% url 'edit_installer' slug=installer.slug  %}";
        const revisionId = event.target.value;
        window.location.replace(formUrl + "?revision=" + revisionId);
      })
      {% endif %}

    });
  </script>
  {{ block.super }}
  {{ form.media.js }}

{% endblock %}
