{% extends "base.html" %}

{% block extra_head %}
  <script type="text/javascript" charset="utf-8">
      window.Polymer = {
        dom: 'shady',
        lazyRegister: true,
      };
      (function() {
        'use strict';
        var onload = function() {
          // For native Imports, manually fire WebComponentsReady so user code
          // can use the same code path for native and polyfill'd imports.
          if (!window.HTMLImports) {
            document.dispatchEvent(
              new CustomEvent('WebComponentsReady', {bubbles: true})
            );
          }
        };

        var webComponentsSupported = (
          'registerElement' in document
          && 'import' in document.createElement('link')
          && 'content' in document.createElement('template')
        );

        if (!webComponentsSupported) {
          var script = document.createElement('script');
          script.async = true;
          script.src = '/static/webcomponentsjs/webcomponents-lite.min.js';
          script.onload = onload;
          document.head.appendChild(script);
          console.log("added webcomponentsjs");
        } else {
          onload();
        }
        console.log("webComponentsSupported", webComponentsSupported);
      })();
  </script>
  <link rel="import" href="/static/components/installer-review.html">
{% endblock extra_head %}

{% block content %}
<style>
  .installer-revision-list {
    list-style-type:none;
    padding: 0;
  }
  .installer-revision-list .btn {
    width: 100%;
    margin: 4px 0;
  }

  .pane-active {
    border-radius: 6px;
    background-color: #444;
  }
</style>
<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <h1><a href="{{game.get_absolute_url}}">{{game.name}}</a> installers</h1>
    </div>
    <installer-review game='{{game.slug}}'></installer-review>

    <div class="col-sm-3">
      <ul class="installer-revision-list">
        {% for installer_data in installers_data %}
          <li>
            <a href="javascript:void(0)"
              class="btn btn-primary"
              data-installer-id="{{installer_data.installer.id}}"
              onclick="onInstallerClick(this)">
              {{installer_data.installer}}
            </a>
          </li>
          {% for version in installer_data.versions %}
            <li>
              <a href="javascript:void(0)"
                class="btn"
                data-version-id="{{version.id}}"
                onclick="onRevisionClick(this)"
                title="{{version.revision.comment}}">
                {{version}}
              </a>
            </li>
          {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-4 pane pane-active" id="pane-1" onclick="switchPane(this)">
      <h2 class="title"></h2>
      <pre class="output"></pre>
      <section>
        <h5>Description</h5>
        <p class="description"></p>
      </section>
      <section>
        <h5>Notes</h5>
        <p class="notes"></p>
      </section>
    </div>

    <div class="col-sm-5 pane" id="pane-2" onclick="switchPane(this)">
      <h2 class="title"></h2>
      <p>
        <strong>Author:</strong><span class="author"></span><br/>
        <strong>Date:</strong><span class="date"></span><br/>
        <strong>Version:</strong><span class="version"></span><br/>
        <strong>Runner:</strong><span class="runner"></span><br/>
        <strong>Draft:</strong><input type="checkbox" class="draft" disabled>
        <strong>Published:</strong><input type="checkbox" class="published" disabled>
      </p>
      <pre class="output"></pre>
      <section>
        <h5>Description</h5>
        <p class="description"></p>
      </section>
      <section>
        <h5>Notes</h5>
        <p class="notes"></p>
      </section>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  window.activePane = "pane-1";

  function switchPane(element) {
    const paneId = element.getAttribute('id');
    const panes = document.getElementsByClassName('pane');
    Array.prototype.forEach.call(panes, function(elem) {
      elem.classList.remove('pane-active')
    });
    element.classList.add('pane-active');
    window.activePane = paneId;
  }

  function getRequest(method, url) {
    request = new XMLHttpRequest();
    request.open(method, url);
    request.setRequestHeader("Content-type","application/json");
    request.setRequestHeader("Authorization","Token {{user.auth_token.key}}");
    return request;
  }

  function getPaneElements() {
    const pane = document.getElementById(window.activePane);
    return {
      'title': pane.getElementsByClassName('title')[0],
      'version': pane.getElementsByClassName('version')[0],
      'content': pane.getElementsByClassName('output')[0],
      'notes': pane.getElementsByClassName('notes')[0],
      'description': pane.getElementsByClassName('description')[0],
      'date': pane.getElementsByClassName('date')[0],
      'author': pane.getElementsByClassName('author')[0],
      'version': pane.getElementsByClassName('version')[0],
      'runner': pane.getElementsByClassName('runner')[0],
      'draft': pane.getElementsByClassName('draft')[0],
      'published': pane.getElementsByClassName('published')[0],
    }
  }

  function onInstallerClick(element) {
    const installerId = event.target.getAttribute('data-installer-id');
  }

  function onRevisionClick(element) {
    const versionId = element.getAttribute('data-version-id');
    const request = getRequest('GET', '/api/installers/0/revisions/' + versionId)
    const pane = getPaneElements();
    request.send();
    request.onreadystatechange = function(event) {
      if(event.target.readyState == 4) {
        response = JSON.parse(event.target.response);
        pane.title.innerHTML = response.comment;
        pane.version.innerHTML = response.data.version;
        pane.content.innerHTML = response['data']['raw_content'];
        pane.date.innerHTML = response.data.created_at;
        pane.description.innerHTML = response.data.description;
        pane.notes.innerHTML = response.data.notes;
        pane.runner.innerHTML = response.data.runner;
        pane.author.innerHTML = response.data.user;
        pane.draft.checked = response.data.draft;
        pane.published.checked = response.data.published;
      }
    };
  }
</script>
{% endblock content %}
