{% extends "base.html" %}

{% block extra_head %}
{{ form.media.css }}
{% endblock extra_head %}

{% block content %}
<ul class="game-list">

{% for submission in submissions %}
<li>
<p>
  <strong>{{ submission }}</strong>
</p>
<p>
<span>{{submission.revision.user}}</span>
<span>{{submission.revision.date_created}}</span>
{% if submission.object.game %}
<span>
  <a href="{% url 'installer_review' slug=submission.object.game.slug %}" class="btn">Review</a>
</span>
{% else %}
<span>
  <strong>NO OBJECT</strong>
</span>
{% endif %}
</p>
</li>
{% endfor %}
</ul>
{% endblock %}
