{% extends "base.html" %}

{% block extra_head %}
{{ form.media.css }}
<script>
  function getRequest(method, url) {
    request = new XMLHttpRequest();
    request.open(method, url);
    request.setRequestHeader("Content-type","application/json");
    request.setRequestHeader("Authorization","Token {{user.auth_token.key}}");
    return request;
  }

  function deleteRevision(target) {
    const button = target;
    const revisionId = target.getAttribute('data-id');
    request = getRequest('DELETE', `/api/installers/revisions/${revisionId}`);
    request.onreadystatechange = function() {
      console.log('Revision deleted');
    };
    request.send();
  }

  function publishInstaller(target) {
    var container = target.parentNode.parentNode;
    var installerId = container.getAttribute('data-id');
    request = getRequest('PATCH', '/api/installers/' + installerId);
    request.onreadystatechange = function() {
      console.log('Installer published');
      container.remove();
    };
    request.send('{"published": true}');
  }

  function removeNotes(target) {
    removeField(target, 'notes');
  }

  function removeDescription(target) {
    removeField(target, 'description');
  }

  function removeField(target, field) {
    var container = target.parentNode.parentNode;
    var installerId = container.parentNode.getAttribute('data-id');
    request = getRequest('PATCH', '/api/installers/' + installerId);
    request.onreadystatechange = function() {
      console.log(field + ' cleared');
      container.remove();
    };
    request.send('{"' + field + '": ""}');
  }

  function deleteInstaller(target) {
    var container = target.parentNode.parentNode;
    var installerId = container.getAttribute('data-id');
    request = getRequest('DELETE', '/api/installers/' + installerId);
    request.send();
    request.onreadystatechange = function() {
      console.log('Installer deleted');
      container.remove();
    };
  }
</script>
{% endblock extra_head %}

{% block content %}
<style>
  .glyphicon {
    cursor: crosshair;
  }
</style>

<h2>User submissions</h2>

<ul class="game-list">
  {% for submission in submissions %}
    <li>
      <p>
        <strong>{{ submission }}</strong>
      </p>
      <p>
      <span>{{submission.revision.user}}</span>
      <span>{{submission.revision.date_created}}</span>
      {% if submission.object.game %}
        <span>
          <a href="{% url 'installer_review' slug=submission.object.game.slug %}" class="btn">Review</a>
        </span>
      {% else %}
        <span>
          <a href="javascript:void(0)" class="btn" onclick="deleteRevision(this)" data-id="{{submission.revision.id}}">Delete</a>
        </span>
      {% endif %}
      </p>
    </li>
  {% endfor %}
</ul>


<h2>Unpublished installers</h2>

{% for installer in installers %}
  <div data-id="{{installer.id}}">
    <h3>
      <a href="{{installer.game.get_absolute_url}}" target="_blank">{{ installer.game.name }}</a> ({{installer}}) <br />
      <span class='small'>{{installer.user}} {{installer.created_at}} for {{installer.runner}}</span>
    </h3>
    {% if installer.notes %}
    <div>
      <h5>
        Notes
        <span onclick="removeNotes(this)" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
      </h5>
      <p>
        {{installer.notes}}
      </p>
    </div>
    {% endif %}
    {% if installer.description %}
    <div>
      <h5>
        Description
        <span onclick="removeDescription(this)" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
      </h5>
      <p>
        {{installer.description}}
      </p>
    </div>
    {% endif %}
    <pre>{{ installer.content }}</pre>
    <p class='actions'>
      <a class='btn' href="{% url 'edit_installer' slug=installer.slug %}" target="_blank">Edit</a>
      <button class='btn' onclick="publishInstaller(this)">Publish</button>
      <button class='btn' onclick="deleteInstaller(this)">Delete</button>
    </p>
  </div>
{% endfor %}
{% endblock %}
