{% extends "base.html" %}
{% load thumbnail %}

{% block extra_head %}
<meta property="pageId" content="{{ installer.slug }}" />
{% if game.banner %}
    <link rel='image_src' href="{{ game.banner.url }}">
    <meta property='og:image' content="{{ game.banner.url }}" />
{% else %}
    <link rel='image_src' href="{{ MEDIA_URL }}games/banners/no_banner.png">
    <meta property='og:image' content="{{ MEDIA_URL }}games/banners/no_banner.png" />
{% endif %}
<meta property='og:title' content="{{ installer.game.name }} ({{ installer.version}})" />
<meta property='og:site_name' content='Lutris' />
<meta name="title" content="{{ installer.game.name }} ({{ installer.version }}) - Lutris" />
<meta name="description" content="{{ installer.game.name }} ({{ installer.version }}) - Lutris" />
<meta property="og:description" content="{{ installer.game.name }} ({{ installer.version }}) - Lutris" />
{% endblock extra_head %}

{% block content %}
<h1>Installer {{installer.slug}}</h1>
<div class='row'>
  <div class="col-lg-10 col-lg-offset-1">
    <p>
      This script is for reference only and can't be directly used to install the game
      in the Lutris client. To install the game, <a href="{% url 'api_game_installer_list' slug=installer.slug %}?format=json">download</a> the full script.
    </p>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#installer-yaml" aria-controls="installer-yaml" role="tab" data-toggle="tab">YAML</a>
      </li>
      <li role="presentation">
        <a href="#installer-json" aria-controls="installer-json" role="tab" data-toggle="tab">JSON</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="installer-yaml">
        <pre>{{installer.as_cleaned_yaml}}</pre>
      </div>
      <div role="tabpanel" class="tab-pane" id="installer-json">
        <pre>{{installer.as_cleaned_json}}</pre>
      </div>
    </div>
    <a class="btn" href="{% url "game_detail" slug=installer.game.slug %}">Back to game</a>
  </div>
</div>
{% endblock content %}

