{% extends "base.html" %}
{% load thumbnail %}

{% block extra_head %}
<meta property="pageId" content="{{ installer.slug }}" />
{% thumbnail installer.game.title_logo "300" as img %}
<link rel='image_src' href="{{img.url}}">
<meta property='og:image' content="{{img.url}}" />
{% endthumbnail %}
<meta property='og:title' content="{{ installer.game.name }} ({{ installer.version}})" />
<meta property='og:site_name' content='Lutris' />
<meta name="title" content="{{ installer.game.name }} ({{ installer.version }}) - Lutris" />
<meta name="description" content="{{ installer.game.name }} ({{ installer.version }}) - Lutris" />
<meta property="og:description" content="{{ installer.game.name }} ({{ installer.version }}) - Lutris" />
{% endblock extra_head %}

{% block content %}
<h1>Installer {{installer.slug}}</h1>
<div class='row justify-content-md-center'>
  <div class="col-lg-10">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item">
        <button
          class="nav-link active"
          id="installer-full-yaml-tab"
          data-bs-toggle="tab"
          data-bs-target="#installer-full-yaml"
          type="button"
          role="tab"
          aria-controls="installer-full-yaml"
          aria-selected="true">YAML</button>
      </li>
      <li role="presentation" class="nav-item">
        <button
          class="nav-link"
          id="installer-yaml-tab"
          data-bs-toggle="tab"
          data-bs-target="#installer-yaml"
          type="button"
          role="tab"
          aria-controls="installer-yaml"
          aria-selected="true">YAML (script only)</button>
      </li>
      <li role="presentation" class="nav-item">
        <button
          class="nav-link"
          id="installer-json-tab"
          data-bs-toggle="tab"
          data-bs-target="#installer-json"
          type="button"
          role="tab"
          aria-controls="installer-json"
          aria-selected="false">JSON</button>
      </li>
    </ul>
    <div class="tab-content card-body border">
      <div role="tabpanel" class="tab-pane active" id="installer-full-yaml" aria-labelledby="installer-full-yaml">
        <pre class="text-white">{{installer.as_yaml}}</pre>
      </div>
      <div role="tabpanel" class="tab-pane active" id="installer-yaml" aria-labelledby="installer-yaml">
        <pre class="text-white">{{installer.as_cleaned_yaml}}</pre>
      </div>
      <div role="tabpanel" class="tab-pane" id="installer-json" aria-labelledby="installer-json">
        <pre class="text-white">{{installer.as_json}}</pre>
      </div>
    </div>
    <a class="btn btn-primary mt-2" href="{% url "game_detail" slug=installer.game.slug %}">Back to game</a>
  </div>
</div>
{% endblock content %}

