{% extends "base.html" %}
{% block title %}Contribute - Lutris{% endblock %}

{% block content %}
<div class="line">
  <h3>You can help !</h3>
  <p>
    Lutris is Open Source Software and is under a GPL v3 License. Contributors are
    more than welcome as I has lots of work elsewhere too and I'm not
    able to devote 100% of my time to Lutris ;)
    You don't have to be a Python expert to help, just run the program, report bugs,
    submit your ideas, etc ...<br/>
    If you happen to be a Python hacker then Lutris is a fun project to work on. I
    try to keep the code clean and understandable. There is all you need to start
    contributing right now ! If you have <em>any</em> question about Lutris' source
    code, get in touch with me and I'll happily guide you.
  </p>
</div>
<div class="line">
  <h3>Start hacking on Lutris, it's easy!</h3>
  <p>

  </p>
</div>
{% endblock %}
