.vscode/
src/django-jcrop/
src/django-openid-auth/
*.pyc
tags
lutris.db
lutrisweb.log
media
static
templates/docs/*.html
lutris_client/
local_settings.py
.ropeproject
nosetests.xml
coverage.xml
.coverage
fabric.yaml
/components
public/js
public/css
public/ace
public/fonts
node_modules
npm-debug.log
reports
ENV
venv
celerybeat-schedule
gog-cache
gog-logos
gog-lutris-logos
