language: python
python:
  - 3.5
env:
  - BUILD=native
  - BUILD=docker
install:
  - ci/install.sh
before_script:
  - ci/before_script.sh
script:
  - ci/script.sh

# Build Notifications
# https://docs.travis-ci.com/user/notifications/
notifications:
  # Turn off email notifications entirely.
  email: false
