PyYAML
Django>=1.4.3
Pillow
sorl-thumbnail
south
nose
django-compressor>=1.2
django-grappelli
django-nose
-e hg+http://bitbucket.org/jscott1971/django-registration/#egg=django-registration
-e git+https://github.com/urbanairship/django-mithril.git#egg=django-mithril
-e git+https://github.com/strycore/django-jcrop.git#egg=django-jcrop
