PyYAML
Django
Pillow
sorl-thumbnail
south
django-compressor
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
-e git+https://github.com/urbanairship/django-mithril.git#egg=django-mithril 
