<link rel="import" href="/static/polymer/polymer.html">
<link rel="import" href="/static/polymer/polymer-element.html">
<link rel="import" href="/static/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="/static/iron-ajax/iron-ajax.html">

<dom-module id="installer-list">

  <link rel="import" type="css" href="/static/css/lutris.min.css">

  <template>
    <custom-style>
      <style is='custom-style'>
        :host {
          padding: 0;
        }

        .installer-revision-list {
          list-style-type:none;
          padding: 0;
        }

        .installer-revision-list .btn {
          width: 100%;
          margin: 4px 0;
          overflow: hidden;
          background-color: #222;
        }

        .installer-revision-list .selected {
          background-color: #BBB;
          color: #444;
        }

        .installer-revision-list .previous-selected {
          background-color: #777;
        }

        .installer-revision-list .btn-published {
          border-left: 5px solid green;
        }

        .installer-revision-list .btn-unpublished {
          border-left: 5px solid red;
        }
      </style>
    </custom-style>
    <ul class="installer-revision-list">
      <template is="dom-repeat" id="installer-list" items={{installers}} as="installer">
        <li>
          <a class$="{{getInstallerButtonClasses(installer)}}"
              data-installer-slug$="[[installer.slug]]"
              on-tap="onInstallerClick">
              [[installer.slug]]
          </a>
        </li>
        <template is="dom-repeat" id="revision-list" items={{installer.revisions}} as="revision">
          <li>
            <a
              class="btn"
              data-installer-slug$="[[installer.slug]]"
              data-revision-id$="[[revision.id]]"
              on-tap="onRevisionClick">
              [[installer.slug]]
            </a>
          </li>
        </template>
      </template>
    </ul>
  </template>

  <script>
    class InstallerList extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is() { return 'installer-list'}

      static get properties() {
        return {
          installers: {
            type: Object,
            notify: true
          }
        }
      }

      _clearSelected() {
        [].forEach.call(this.shadowRoot.querySelectorAll('.previous-selected'), element => {
          element.classList.remove('previous-selected');
        });
        [].forEach.call(this.shadowRoot.querySelectorAll('.selected'), element => {
          element.classList.remove('selected');
          element.classList.add('previous-selected');
        });
      }

      getInstallerButtonClasses(installer) {
        let baseClasses = "btn btn-primary";
        if (installer.published) {
          return baseClasses + " btn-published";
        } else {
          return baseClasses + " btn-unpublished";
        }
      }

      onInstallerClick (event) {
        const installerSlug = event.target.attributes['data-installer-slug'].value;
        this._clearSelected()
        event.target.classList.add('selected');
        this.dispatchEvent(new CustomEvent('load-installer', {
          bubbles: true,
          composed: true,
          detail: {'installerSlug': installerSlug}
        }));
      }

      onRevisionClick(event) {
        const installerSlug = event.target.attributes['data-installer-slug'].value;
        const revisionId = event.target.attributes['data-revision-id'].value;
        this._clearSelected()
        event.target.classList.add('selected');
        this.dispatchEvent(new CustomEvent('load-revision', {
          bubbles: true,
          composed: true,
          detail: {revisionId: revisionId, installerSlug: installerSlug}
        }));
      }
    }
    customElements.define(InstallerList.is, InstallerList);
  </script>
</dom-module>
