<link rel="import" href="/static/polymer/polymer.html">
<link rel="import" href="/static/components/installer-pane.html">
<link rel="import" href="/static/components/installer-list.html">
<link rel="import" href="/static/components/installer-diff.html">
<link rel="import" href="/static/iron-ajax/iron-ajax.html">
<link rel="import" href="/static/paper-button/paper-button.html">

<dom-module id="installer-review">
  <link rel="import" type="css" href="/static/css/lutris.min.css">
  <template>
    <div class="row">
      <div class="col-sm-12">
        <h1><a href="/games/[[game.slug]]">[[game.name]]</a> installers</h1>
      </div>
      <div class="col-sm-7">
        <paper-button on-tap="onSwitchDiff" class="btn">Diff</paper-button>
      </div>
      <div class="col-sm-5">
        <paper-button on-tap="onDeleteInstaller" class="btn">Delete</paper-button>

        <paper-button on-tap="onAcceptSubmission" class="btn" hidden="[[isNotRevision]]">Accept</paper-button>
        <paper-button on-tap="onPublishInstaller" class="btn" hidden="[[!isUnpublishedInstaller]]">Publish</paper-button>
      </div>
    </div>
    <div class="row">
      <installer-list class="col-sm-2" id="installer-list" installers="[[game.installers]]"></installer-list>
      <div class="col-sm-10 row">
        <installer-pane
          class="col-sm-6"
          id="pane-1"
          source-visible="[[sourceVisible]]"
          installer="[[activeInstaller1]]">
        </installer-pane>
        <installer-pane
          class="col-sm-6"
          id="pane-2"
          source-visible="[[sourceVisible]]"
          installer="[[activeInstaller2]]">
        </installer-pane>
        <installer-diff
          class="col-sm-12"
          hidden="[[sourceVisible]]"
          name="{{objectName}}"
          installer1="[[activeInstaller1]]"
          installer2="[[activeInstaller2]]">
        </installer-diff>
      </div>
    </div>

    <iron-ajax
      auto
      url="/api/installers/game/[[slug]]/revisions"
      headers='{"Authorization": "Token [[apiKey]]"}'
      handle-as="json"
      on-response="handleResponse">
    </iron-ajax>

    <iron-ajax
      id="action-request"
      handle-as="json"
      on-response="handleAction">
    </iron-ajax>
  </template>
  <script>
    class InstallerReview extends Polymer.Element {
      static get is() { return 'installer-review' }

      static get properties() {
        return  {
          slug: String,
          apiKey: String,
          sourceVisible: Boolean,
          game: {
            type: Object,
            default: {},
            notify: true
          },
          selectedObject: {
            type: Object,
            default: {}
          },
          selectedInstaller: Object,
          activeInstaller1: Object,
          activeInstaller2: Object,
          activePane: {
            type: String,
            default: 'pane-1'
          },
          objectName: {
            type: String,
            computed: 'getObjectName(selectedObject)'
          },
          isNotRevision: {
            type: Boolean,
            value: true,
            computed: 'getIsNotRevision(selectedObject)'
          },
          isUnpublishedInstaller: {
            type: Boolean,
            value: false,
            computed: 'getIsUnpublishedInstaller(selectedObject)'
          }
        }
      }

      connectedCallback() {
        super.connectedCallback();
        window.addEventListener('load-installer', this.onLoadInstaller.bind(this));
        window.addEventListener('load-revision', this.onLoadRevision.bind(this));
      }

      ready() {
        super.ready();
        this.sourceVisible = false;
      }

      getInstallerIndex(installerId) {
        for (let i=0; i < this.game.installers.length; i++) {
          let installer = this.game.installers[i];
          if (installer.id === installerId) {
            return i;
          }
        }
      }

      getObjectName(selectedObject) {
        if (!selectedObject) {
          return;
        }
        if ('comment' in selectedObject) {
          return selectedObject.comment;
        } else if ('slug' in selectedObject) {
          return selectedObject.slug;
        }
      }

      getIsNotRevision(selectedObject) {
        if (!selectedObject) {
          return true;
        }
        if ('comment' in selectedObject) {
          return false;
        } else {
          return true;
        }
      }

      getIsUnpublishedInstaller(selectedObject) {
        if (!selectedObject || 'comment' in selectedObject) {
          return false;
        }
        return selectedObject.published === false;
      }

      handleResponse(response) {
        this.game = response.detail.__data.response;
      }

      handleAction(response) {
        console.log(response);
      }

      onLoadInstaller(event) {
        const installerSlug = event.detail.installerSlug;

        let selectedInstaller = null;
        this.game.installers.forEach(function(installer) {
          if(installer.slug == installerSlug) {
            selectedInstaller = installer;
          }
        });
        if(selectedInstaller) {
          this.selectedObject = selectedInstaller;
          this.activeInstaller1 = this.activeInstaller2;
          this.activeInstaller2 = selectedInstaller;
        }
      }

      onLoadRevision(event) {
        const installerSlug = event.detail.installerSlug;
        const revisionId = event.detail.revisionId;
        let selectedRevision = null;
        let selectedInstaller = null;
        this.game.installers.forEach(installer => {
          if(installer.slug == installerSlug) {
            selectedInstaller = installer;
            installer.revisions.forEach(revision => {
              if(revision.id == revisionId) {
                selectedRevision = revision;
              }
            });
          }
        });
        if(selectedRevision) {
          this.selectedObject = selectedRevision;
          this.selectedInstaller = selectedInstaller;
          this.activeInstaller1 = this.activeInstaller2;
          this.activeInstaller2 = selectedRevision;
        }
      }

      onSwitchDiff(event) {
        this.sourceVisible = !this.sourceVisible;
      }

      requestAction(method, payload) {
        const name = this.objectName;
        let action_url;
        if (name) {
          const actionRequest = this.$['action-request'];
          if ('comment' in this.selectedObject) {
            action_url = `/api/installers/revisions/${this.selectedObject.id}`;
          } else {
            action_url = `/api/installers/id/${this.selectedObject.id}`;
          }

          actionRequest.url = action_url;
          actionRequest.method = method;
          if (payload) {
            actionRequest.body = payload;
          }
          actionRequest.contentType = 'application/json';
          actionRequest.headers.Authorization = 'Token ' + this.apiKey;
          actionRequest.headers.Accept = 'application/json';

          actionRequest.generateRequest();
        }
      }

      removeSelected() {
        if (this.isNotRevision) {
          this.game.installers.forEach((installer, index, array) => {
            if(installer.slug == this.selectedObject.slug) {
              this.splice('game.installers', index, 1);
            }
          });
        } else {
          this.game.installers.forEach((installer, installerIndex) => {
            if(installer.slug == this.selectedInstaller.slug) {
              installer.revisions.forEach((revision, index, array) => {
                if(revision.id == this.selectedObject.id) {
                  this.splice('game.installers.'+installerIndex+'.revisions', index, 1);
                  this.notifyPath(this.game.installers[installerIndex]);
                }
              });
            }
          });
        }
      }

      onDeleteInstaller(event) {
        this.requestAction('DELETE');
        this.removeSelected();
      }

      onAcceptSubmission(event) {
        const installerIndex = this.getInstallerIndex(this.selectedObject.installer_id);
        const installer = this.game.installers[installerIndex];
        installer.published = true;
        this.game.installers[installerIndex] = installer;
        this.notifyPath(this.game.installers[installerIndex]);

        this.requestAction('PUT', {'action': 'accept'});
        this.removeSelected();
      }

      onPublishInstaller(event) {
        this.requestAction('PATCH', '{"published": true, "draft": false}');
        this.selectedObject.published = true;
      }
    }
    customElements.define(InstallerReview.is, InstallerReview);
  </script>
</dom-module>
