<link rel="import" href="/static/polymer/polymer.html">
<link rel="import" href="/static/iron-ajax/iron-ajax.html">

<dom-module id="installer-list">
  <template>
      <style is="custom-style">
        :host {
          padding: 0;
        }

        .installer-revision-list {
          list-style-type:none;
          padding: 0;
        }

        .btn {
          width: 100%;
          margin: 4px 0;
          overflow: hidden;
        }

        .selected {
          background-color: #BBB;
          color: #444;
        }

        .previous-selected {
          background-color: #777;
        }

        .btn-published {
          border-left: 5px solid green;
        }

        .btn-unpublished {
          border-left: 5px solid red;
        }
      </style>
      <ul class="installer-revision-list">
        <template is="dom-repeat" id="installer-list" items={{installers}} as="installer">
          <li>
            <a
              class$="{{getInstallerButtonClasses(installer)}}"
              data-installer-slug$="[[installer.slug]]"
              on-tap="onInstallerClick">
              [[installer.slug]]
            </a>
          </li>
          <template is="dom-repeat" id="revision-list" items={{installer.revisions}} as="revision">
            <li>
              <a
                class="btn"
                data-installer-slug$="[[installer.slug]]"
                data-revision-id$="[[revision.id]]"
                on-tap="onRevisionClick">
                [[installer.slug]]
              </a>
            </li>
          </template>
        </template>
      </ul>
  </template>
  <script>
    Polymer({
      is: 'installer-list',
      properties: {
        installers: {
          type: Object,
          notify: true
        }
      },
      _clearSelected: function () {
        [].forEach.call(document.getElementsByClassName('previous-selected'), function(element) {
          element.classList.remove('previous-selected');
        });
        [].forEach.call(document.getElementsByClassName('selected'), function(element) {
          element.classList.remove('selected');
          element.classList.add('previous-selected');
        });
      },

      getInstallerButtonClasses: function(installer) {
        baseClasses = "btn btn-primary";
        if (installer.published) {
          return baseClasses + " btn-published";
        } else {
          return baseClasses + " btn-unpublished";
        }
      },

      onInstallerClick: function(event) {
        const installerSlug = event.target.attributes['data-installer-slug'].value;
        this._clearSelected()
        event.target.classList.add('selected');
        this.fire('load-installer', {'installerSlug': installerSlug});
      },

      onRevisionClick: function(event) {
        const installerSlug = event.target.attributes['data-installer-slug'].value;
        const revisionId = event.target.attributes['data-revision-id'].value;
        this._clearSelected()
        event.target.classList.add('selected');
        this.fire('load-revision', {'installerSlug': installerSlug, 'revisionId': revisionId})
      }
    })
  </script>
</dom-module>
