<link rel="import" href="/static/polymer/polymer.html">
<link rel="import" href="/static/polymer/polymer-element.html">

<dom-module id="installer-pane">
  <link rel="import" type="css" href="/static/css/lutris.min.css">
  <template>
    <div class="pane">
      <p>
        <strong>ID: </strong><span>[[installer.id]]</span><br/>
        <strong>Author: </strong><span>[[installer.user]]</span><br/>
        <strong>Created on: </strong><span>[[installer.created_at]]</span><br/>
        <strong>Last Updated on: </strong><span>[[installer.updated_at]]</span><br/>
        <strong>Version: </strong><span>[[installer.version]]</span><br/>
        <strong>Runner: </strong><span>[[installer.runner]]</span><br/>
        <strong>Draft: </strong><input type="checkbox" disabled checked="[[installer.draft]]"><br/>
        <strong>Published: </strong><input type="checkbox" disabled checked="[[installer.published]]">
      </p>
      <p>
        <strong>Notes:</strong>
        <span>[[installer.notes]]</span>
      </p>
      <p>
        <strong>Description:</strong>
        <span>[[installer.description]]</span>
      </p>

      <template is="dom-if" if="[[sourceVisible]]">
        <pre>[[installer.content]]</pre>
      </template>
    </div>
  </template>
  <script>
    class InstallerPane extends Polymer.Element {

      static get is() { return 'installer-pane' }

      static get properties() {
        return {
          installer: Object,
          sourceVisible: Boolean,
        }
      }
    }

    customElements.define(InstallerPane.is, InstallerPane);
  </script>
</dom-module>
