<link rel="import" href="/static/polymer/polymer.html">
<link rel="import" href="/static/polymer/polymer-element.html">
<link rel="import" href="/static/shadycss/apply-shim.html">
<script type="text/javascript" src="/static/jsdifflib/diffview.js"></script>
<script type="text/javascript" src="/static/jsdifflib/difflib.js"></script>

<dom-module id="installer-diff">
  <link rel="import" type="css" href="/static/css/lutris.min.css">
  <link rel="import" type="css" href="/static/jsdifflib/diffview.css">
  <link rel="import" type="css" href="/static/css/diffextra.css">
  <template>
    <div id="diffoutput"></div>
  </template>
  <script>
    class InstallerDiff extends Polymer.Element {

      static get is() { return 'installer-diff' }

      static get properties() {
        return {
          installer1: {
            type: Object,
            observer: 'onInstallerChanged'
          },
          installer2: {
            type: Object,
            observer: 'onInstallerChanged'
          },
          name: {
            type: String,
            observer: 'onNameChanged'
          },
          oldName: {
            type: String,
            value: "Previous version"
          }
        }
      }

      onNameChanged(newValue, oldValue) {
        this.oldName = oldValue;
      }

      onInstallerChanged(event) {
        if(!this.installer1 || !this.installer2) {
          return;
        }
        const diffoutputdiv = this.$["diffoutput"];
        let base = difflib.stringAsLines(this.installer1.content),
          newtxt = difflib.stringAsLines(this.installer2.content),
          sm = new difflib.SequenceMatcher(base, newtxt),
          opcodes = sm.get_opcodes();

        diffoutputdiv.innerHTML = "";

        diffoutputdiv.appendChild(diffview.buildView({
          baseTextLines: base,
          newTextLines: newtxt,
          opcodes: opcodes,
          baseTextName: this.oldName,
          newTextName: this.name,
          contextSize: null,
          viewType: 0
        }));
      }
    }
    customElements.define(InstallerDiff.is, InstallerDiff);
  </script>
</dom-module>
