{% extends "accounts/profile_base.html" %}
{% load thumbnail %}
{% load lutris %}

{% block title %}My Library | Lutris{% endblock %}


{% block extra_head %}
{{ filter_form.media.css }}
{% endblock %}


{% block profile_content %}
<h1>My Library</h1>
<div class="row">
  <div class="col">
    <div class="py-2">
      <form method="get" class="filter-form">
        <span class="px-2">Filter: </span>
        <input type="text" name="q" value="{{q}}" id="query-field">
        <span class="px-2">Sort by:</span>
        <select name="sort" onchange="updateSortBy(this)">
          <option value="name" {% if sort == 'name' %} selected {% endif %}>Name &uarr;</option>
          <option value="-name" {% if sort == '-name' %} selected {% endif %}>Name &darr;</option>
          <option value="-playtime" {% if sort == '-playtime' %} selected {% endif %}>Most played</option>
          <option value="-lastplayed" {% if sort == '-lastplayed' %} selected {% endif %}>Last played</option>
        </select>
    </div>
    {% if page_obj.has_other_pages %}
    <div class="centered">
        {% include 'includes/library_paginator.html' %}
    </div>
    {% endif %}
    <div class="game-library">
    {% for game in games %}
      <div class="game-real-cover">
        <a href="{{ game.game.get_absolute_url }}" title="{{ game.name }}">
          <img src="{{ game.coverart }}" alt="{{ game.name }}"/><br/>
        </a>
        <span class="game-library-actions">
          <a title="Remove from Library"
            href="{% url 'remove_from_library' pk=game.pk %}"
            class="btn btn-sm btn-secondary" style="font-size: 0.75em;">
            <i class="bi-trash"></i>
          </a>
        </span>
        <span class="game-library-name">
          {{game.get_name}}
          {% if game.service %}
          <img src="{{ STATIC_URL }}images/icons/{{game.service}}.png" alt="{{game.service}}">
          {% endif %}
          {% if game.playtime %}
          <br>
          <span class="game-library-info">played {{game.playtime|human_time}}</span>
          <span class="game-library-info">
            {% if game.lastplayed %}
            <br>Last played {{game.lastplayed|tsdate}}
            {% endif %}
            {% if game.platform %}
              <br>{{game.platform}}
            {% endif %}
          </span>
          {% endif %}

        </span>

      </div>
    {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
    <div class="centered">
        {% include 'includes/library_paginator.html' %}
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script>
    const URL = "{% url 'library_list' username=user.username %}"
    function updateSortBy(elem) {
      let params = new URLSearchParams(document.location.search);
      params.set("sort", elem.value)
      window.location.replace(URL + "?" + params.toString())
    }
    function updatePaginateBy(elem) {
      let params = new URLSearchParams(document.location.search);
      params.set("paginate_by", elem.value)
      window.location.replace(URL + "?" + params.toString())
    }
  </script>
{% endblock %}