{% extends "base.html" %}


{% block title %}My games - Lutris{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="game-list-header">
      <h2>Your games</h2>
      <span class="centered">{{ games.count }} games in library</span>
      <form class="game-filter">
        <input type="text" placeholder="filter games" id="game-filter"/>
      </form>
    </div>
    <ul class="game-list user-library">
      {% for game in games %}
        {% include "includes/game_preview.html" %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
