{% extends "base.html" %}
{% block title %}My Library | Lutris{% endblock %}
{% block extra_head %}
{{ filter_form.media.css }}
{% endblock %}
{% block content %}

<!-- HEADER -->
<h1>My Library <span class="text-muted" style="font-size: 0.6em;">{{ paginator.count }} games</span>
  <span style="float: right;font-size: initial;margin-right: 1em;">
      Order by
      <select id="order_by" style="color:black;"
              data-filter="{{ filter_string }}">
        <option value="name" {% if order_by == 'name' %} selected {% endif %}>Name &uarr;</option>
        <option value="-name" {% if order_by == '-name' %} selected {% endif %}>Name &darr;</option>
        <option value="year" {% if order_by == 'year' %} selected {% endif %}>Year &uarr;</option>
        <option value="-year" {% if order_by == '-year' %} selected {% endif %}>Year &darr;</option>
        <option value="popularity" {% if order_by == 'popularity' %} selected {% endif %}>Popularity &uarr;</option>
        <option value="-popularity" {% if order_by == '-popularity' %} selected {% endif %}>Popularity &darr;</option>
        <option value="created" {% if order_by == 'created' %} selected {% endif %}>Created &uarr;</option>
        <option value="-created" {% if order_by == '-created' %} selected {% endif %}>Created &darr;</option>
        <option value="updated" {% if order_by == 'updated' %} selected {% endif %}>Updated &uarr;</option>
        <option value="-updated" {% if order_by == '-updated' %} selected {% endif %}>Updated &darr;</option>
      </select>
  </span>
</h1>
{% if is_paginated %}
  <div class="row">
    <div class="col-md-12">
      <span style="line-height: 33px;">Games {{ page_obj.start_index }} - {{ page_obj.end_index }}</span>
      <span style="float: right;">
          Show
          <select id="paginate_by" style="color:black;"
                  data-filter="{{ filter_string }}">
            <option value="25" {% if paginate_by == '25' %} selected {% endif %}>25</option>
            <option value="50" {% if paginate_by == '50' %} selected {% endif %}>50</option>
            <option value="100" {% if paginate_by == '100' %} selected {% endif %}>100</option>
          </select>
          per page
      </span>
    </div>
  </div>
  {% include 'includes/library_paginator.html' %}
{% endif %}

<div class="row">
  <div class="col-lg-10">
      {% for game in games %}
        {% include "includes/game_preview.html" %}
      {% endfor %}
  </div>
  <div class="col-lg-2">
    <div class="">
      <form action="{% url 'library_show' username=user.username %}" method="get" id="library_filter_form">
        {{ filter_form.as_p }}
        <div class="text-center">
          <input type="button" value="Apply filter" class="btn btn-sm btn-primary"
                 id="apply_library_filter">
          <input type="button" value="Clear filter" class="btn btn-sm btn-secondary"
                 id="clear_library_filter">
        </div>
      </form>
    </div>
  </div>
</div>

{% if page_obj.has_other_pages %}
  {% include 'includes/library_paginator.html' %}
{% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {{ filter_form.media.js }}
{% endblock %}
