{% extends "base.html" %}


{% block title %}My games - Lutris{% endblock %}


{% block content %}

<!-- HEADER -->
<h1>Library <small>{{ games.count }} Games</small></h1>

<div class="row">
  <div class="col-md-12">
    <form class="game-filter">
      <input type="text" placeholder="Filter your games…" id="game-filter" />
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="game-list user-library">
      {% for game in games %}
        {% include "includes/game_preview.html" %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
