{% extends "base.html" %}

{% block title %}Sign in - Lutris{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="form-view col-sm-6">
    <h1>Sign in</h1>
    <form action="{% url 'login' %}" method="post" class="form form-horizontal" id="form_login">
      {% csrf_token %}
      {{ form.as_p }}
      <div>
        <input type="submit" value="Sign in" class="btn btn-primary">
      </div>
    </form>
    <a href="{% url 'password_reset' %}">Forgot your password?</a>
  </div>
  <div class="col-sm-3"></div>
</div>
{% endblock %}
