extends "base.html"
{% block title %}Logout - Lutris{% endblock %}

block content
    .message-view
        h4 You have logged out
        p
            a(href="{% url 'homepage' %}") Return to homepage
