extends "base.html"
{% block title %}Password changed - Lutris{% endblock %}

block content
    h1 Password change successful
    p Your password was updated
    p
        a(href="{% url 'profile' %}") Go back to your profile
