{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Reset password | Lutris{% endblock %}


{% block content %}
<div class="card bg-darker d-table mx-auto">
  <div class="card-header">
    <h4>Recover your password</h4>
  </div>
  <div class="card-body">
    <p>Enter your email address below and we'll send you a link to recover your password.</p>
    <form action="" method="post" class="form-horizontal">
      {% csrf_token %}
      {{ form|crispy:"bootstrap4" }}
      <div class="form-group text-center mb-0">
        <input class="btn btn-primary" type="submit" value="Reset my password">
      </div>
    </form>
  </div>
</div>
{% endblock %}
