{% extends "base.html" %}


{% block title %}Set password{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="form-view col-sm-6">
    <h1>Set a password</h1>
    <p>
      Your account was created via a third-party service (Discord, Google, or
      Steam) and has no password yet. Setting one will let you sign in to the
      Lutris desktop client, which currently supports only username and
      password authentication.
    </p>
    <form action="" method="post" class="simple-form">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Set password" class="btn btn-sm"/>
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>
{% endblock %}
