{% extends "base.html" %}{% load crispy_forms_tags %}


{% block title %}Confirm your password | Lutris{% endblock title %}


{% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="form-view col-sm-6">
    {% if  validlink %}
      <h4>Enter new password</h4>
      <p>
        Please enter your new password twice so we can verify you typed it in correctly.
      </p>
      <form action="" method="post" class="simple-form">{% csrf_token %}
        {{ form.as_p }}
        <p>
          <input type="submit" value="Change my password" class="btn btn-sm"/>
        </p>
      </form>
    {% else %}
      <h1>Password reset unsuccessful</h1>
      <p>
        The password reset link was invalid, possibly because it has already been
        used. Please request a new password reset.
      </p>
    {% endif %}
  </div>
  <div class="col-sm-3"></div>
</div>
{% endblock %}
