{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="form-view col-sm-6">
    <h1>Recover your password</h1>
    <p>
      Enter your email adress below and we'll send you a link to recover your
      password.
    </p>
    <form class="simple-form" action="" method="post">
      {% csrf_token %}
      {% crispy form %}
      <p>
        <input class="btn btn-primary btn-sm right" type="submit" value="Reset my password">
      </p>
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>
{% endblock %}