{% extends 'base.html' %}

{% block title %}
  Set new password | Lutris
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="form-view col-sm-6">
      <h1>
        {% if validlink %}
          Enter new password
        {% else %}
          Password reset failed
        {% endif %}
      </h1>
      {% if validlink %}
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form action="" method="post" class="form">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-group text-center mb-0">
            <input class="btn btn-primary" type="submit" value="Change my password" />
          </div>
        </form>
      {% else %}
        <span>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</span>
      {% endif %}
    </div>
    <div class="col-sm-3"></div>
  </div>
{% endblock %}
