extends "base.html"
{% load crispy_forms_tags %}


block content
    .form-view
        if validlink
            h4 Enter new password
            p Please enter your new password twice so we can verify you typed it in correctly.
            form.simple-form(action="",method="post")
                {% csrf_token %}
                {{ form.as_p }}
                p
                    input.btn.btn-sm(type="submit",value="Change my password")
        else
            h1 Password reset unsuccessful
            p The password reset link was invalid, possibly because it has 
                | already been used.  Please request a new password reset. 
