extends "base.html"

block content
    .form-view
        h1 Recover your password
        p Enter your email adress below and we'll send you a link to recover
            | your password.
        form.simple-form(action="",method="post")
            {% csrf_token %}
            {{ form.as_p }}
            p
                input.btn.btn-sm(type="Submit",value="Reset my password")
