{% extends "base.html" %}{% load crispy_forms_tags %}
{% block content %}
<div class="form-view">{% if  validlink %}
  <h4>Enter new password</h4>
  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
  <form action="" method="post" class="simple-form">{% csrf_token %}
{{ form.as_p }}

    <p>
      <input type="submit" value="Change my password" class="btn btn-sm"/>
    </p>
  </form>{% else %}
  <h1>Password reset unsuccessful</h1>
  <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset. 

  </p>{% endif %}
</div>{% endblock %}
