{% extends "base.html" %}
{% block title %}Password change complete | Lutris{% endblock %}


{% block content %}
<div class="card bg-darker d-table mx-auto">
  <div class="card-header">
    <h4><i class="fas fa-check text-success mr-2"></i>Password change completed successfully</h4>
  </div>
  <div class="card-body">
    <span>Your password has been updated.</span>
  </div>
  <div class="card-footer text-center">
    <a href="{% url 'profile' %}" class="btn btn-primary">Go back to your profile</a>
  </div>
</div>
{% endblock %}
