extends "base.html"

block content
    .form-view
        h1 Password reset link sent
        p Check your email, you should have received a message containing a link 
            | allowing you to reset your password.
