{% extends "base.html" %}


{% block title %}Change password{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="form-view col-sm-6">
    <h1>Password change</h1>
    <p>
      Please enter your old password, for security's sake, and then enter
      your new password twice so we can verify you typed it in correctly.
    </p>
    <form action="" method="post" class="simple-form">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="update" class="btn btn-sm"/>
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>
{% endblock %}
