extends "base.html"
{% load crispy_forms_tags %}
{% block title %}Edit profile - Lutris{% endblock %}

block content
    .form-view
        h1 Account details
        {% crispy form %}
    .form-view
        a.btn.btn-sm(href="{% url 'password_change' %}") Modify your password


