{% extends "accounts/profile_base.html" %}
{% load crispy_forms_tags %}


{% block title %}Edit profile - Lutris{% endblock %}


{% block profile_content %}
<div class="form-view">
  <h1>Account details</h1>
  {% crispy form form.helper %}
</div>
<hr>
<h2>Account management</h2>
<div class="form-view">
  <a href="{% url 'password_change' %}" class="btn btn-secondary">Modify my password</a>
</div>
<div class='form-view'>
  <p>Caution: This will completely delete your Lutris account and is not reversible!
  Your submissions such as games and installers will be kept but any reference to
  your account will be removed.</p>
  <a href="{% url 'profile_delete' username=user.username %}" class="btn btn-danger">Delete my account</a>
</div>
{% endblock %}
