extends "base.html"


block content
    .row
        .game-header
            .title
                img(src='{{ user.get_avatar_url }}', width='128', height='128')
                span {{ user }}
                .buttons
                    a.btn(href="{% url 'profile_edit' user.username %}") Edit Profile
        .col-md-8
            h2 Library
            p Your library is synced on all your Lutris clients when you
                connect them to the website.
            a.btn(href="{% url 'library_show' username=user.username %}") View my library

            h2 Import your Steam library
            p You can automatically import the list of your Steam games and add
                them to your Lutris library.
            a.btn(href="{% url 'associate_steam' %}") Steam sync
        .col-md-4
            if user.website
                a(href="{{ user.website }}") Website

