{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}
  Register - Lutris
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 form-view">
      <h1>Register account</h1>
      <form id="form_register" method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <input type="submit" value="Register" class="btn btn-primary" />
        </div>
      </form>

      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
      <hr />
      <h4>Or sign up with</h4>
      <div class="social-login-buttons d-flex flex-column gap-2">
        {% for provider in socialaccount_providers %}
        {% if provider.id == 'steam' %}
        <a href="{% provider_login_url provider.id %}" class="btn d-flex align-items-center justify-content-center gap-2" style="background-color:#171a21;color:#fff;border:none;">
          <img src="{% static 'images/icons/steam-white.svg' %}" alt="" height="20" width="20" />
          Sign up with Steam
        </a>
        {% elif provider.id == 'discord' %}
        <a href="{% provider_login_url provider.id %}" class="btn d-flex align-items-center justify-content-center gap-2" style="background-color:#5865F2;color:#fff;border:none;">
          <img src="{% static 'images/icons/discord-white.svg' %}" alt="" height="20" width="20" />
          Sign up with Discord
        </a>
        {% elif provider.id == 'google' %}
        <a href="{% provider_login_url provider.id %}" class="btn d-flex align-items-center justify-content-center gap-2" style="background-color:#fff;color:#3c4043;border:1px solid #747775;">
          <img src="{% static 'images/icons/google-color.svg' %}" alt="" height="20" width="20" />
          Sign up with Google
        </a>
        {% elif provider.id != 'openid' %}
        <a href="{% provider_login_url provider.id %}" class="btn btn-secondary d-flex align-items-center justify-content-center gap-2">
          {{ provider.name }}
        </a>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="col-sm-3"></div>
  </div>
{% endblock %}
