// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "./modules/profile";

/* == Variables */
// Bootstrap specific
$theme-colors: (
  "primary": #ff9900,
  "light": #666,
  "lighter": #aaa,
  "dark": #3f3f3f,
  "darker": #222,
  "warning": #FD3750
);
$border-radius: 5px;
$link-color: theme-color('lighter');
$link-hover-color: theme-color('primary');
.list-group-item {
  background-color: theme-color('dark') !important;
  color: theme-color('lighter') !important;
  &:hover {
    color: theme-color('primary') !important;
  }
}

// Custom
$screenshotsWidth: 690px;
$screenshotsHeight: 388px;

$pagination-bg: theme-color('darker');
$pagination-border: #444;
$pagination-hover-bg: #444;
$pagination-active-bg: #FFF;
$pagination-active-color: #666;
$pagination-disabled-color: #888;

$modal-content-bg: theme-color("darker");
$modal-header-border-color: #666;

$padding: 7px;
$banner-width: 184px;

html {
  background-color: rgba(204, 204, 204, 0.04);
}

body {
  background: linear-gradient(180deg, rgba(153, 0, 255, 0.06) 0%, rgba(190, 156, 216, 0.0447411) 76.29%, rgba(204, 204, 204, 0.04) 100%) no-repeat;
  font-size: 16px;
  color: #EFEFEF;
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

article {
  color: #ccc;
  font-weight: 400;
  padding: 14px 15px;
  max-width: 720px;
  margin: auto;
  @include media-breakpoint-up(lg) {
    font-size: 1.2em;
  }
}

#global-search {
  @include media-breakpoint-up(lg) {
    min-width: 250px;
  }
}

.page {
  background-color: theme-color('dark');
  padding: 12px;
}

.header-wrap {
  position: relative;

  .header-control {
    position: absolute;
    right: 7px; /* 15px padding like h1 on the left - 8px padding of a to span */
    bottom: 2px;

    @include media-breakpoint-up(sm) {
      display: none;
    }

    a {
      background: none;
      border: none;
      margin: 0;
      padding: 4px 8px;
      color: theme-color('lighter');
    }
  }
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.page h1 {
  font-weight: 300;
  padding: 3px;
  font-size: 1.6em;
  margin-top: 10px;

  @include media-breakpoint-up(sm){
    font-size: 2em;
    margin-top: 20px;
  }
}

.page h2 {
  font-size: 1.4em;
}

h3 {
  font-weight: 600;
  font-size: 14px;
  color: #3F3F3F;
  padding: 0 1em;
}

.page h3 {
  color: #BBB;
  font-size: 1.2em;
  background-color: #444;
  padding: 7px 14px;
  font-weight: 300;
}

.page h4 {
  font-size: 1.1em;
  color: #CDCDCD;
  border-bottom: 1px solid #4D4D4D;
}

a {
  color: theme-color('primary');
  text-decoration: none !important;

  &:hover {
    color: darken(theme-color('primary'), 15%);
    text-decoration: underline;
  }
}

code {
  color: theme-color('lighter');
  background-color: theme-color('darker');
  display: inline-block;
  border-radius: 2px;
  margin: 2px;
  padding: 3px 6px;
  word-break: break-all;
}

form {
  label {
    .asteriskField {
      color: #bada55;
    }
  }

  textarea, input {
    border-radius: 0;
    border: 1px solid #999;
    background-color: #DEDEDE;
    color: theme-color('darker');
  }

  textarea {
    padding: 5px 10px;
  }
}

.slide-legend {
  position: absolute;
  bottom: 30px;
  right: 0;
  padding: 24px;
  font-size: 32px;
  z-index: 1;
  background-color: rgba(255, 153, 0, 0.8);
  color: #eeeeee;

  &:hover {
    color: #eeeeee;
    background-color: rgba(255, 153, 0, 0.95);
  }
}

.action-container {
  text-align: center;
  padding-bottom: 32px;
}

.action-column {
  text-align: center;
  margin: auto;
  padding-bottom: 4em;

  form, a, iframe {
    display: inline-block;
  }

  p {
    padding: 1em 0;
    text-align: left;
    height: 5em;
  }

  textarea, input, button {
    border: none;
    background-color: transparent;
  }

  .patreon-widget {
    width: 175px;
  }
}

figure {
  padding: 0;

  img {
    width: 100%;
  }

  figcaption {
    background-color: rgba(30, 30, 30, 0.15);
    padding: 0;
    font-size: .95em;
    text-align: center;
  }
}

figure.tiled {
  img {
    width: auto;
    padding: 4px 3px;
    margin: auto;
    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 20px 20%;
    }
  }
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline : 0;
}

input {
  background-color: #EEE;
  color: theme-color('darker');
}

.select2, .select2-dropdown {
  color: #333;
}

.simple-form {
  label {
    font-weight: normal;
    display: block;
    color: theme-color('lighter');
    font-size: .9em;
  }

  input[type=text],input[type=password],input[type=email] {
    border-radius: 4px;
    padding: 4px;
    width: 100%;
    display: block;
    border: 1px solid #444;
  }
}

.container {
  padding-left: 0;
  padding-right: 0;
  @include media-breakpoint-between(sm, md) {
    width: 100%;
  }
}

footer {
  border-top: 1px solid theme-color('primary');
}

.pagination-block-wrapper {
  margin-top: 20px;

  .meta-information {
    position: absolute;
    color: theme-color('lighter');
    font-size: 12px;
    left: 15px;
  }

  .pagination-block {
    display: table;
    margin: 0 auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: theme-color('darker');
      border-radius: 4px;
      font-size: 14px;

      li {
        position: relative;
        float: left;
      }

      li a,
      li span {
        display: inline-block;
        color: #AEAEAE;
        margin: 0;
        padding: 10px 12px;
      }

      li span.glyphicon {
        padding: 0;
        font-size: 11px;
      }

      li a:hover span,
      li a:focus span,
      li a:hover,
      li a:focus {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.discreet-text {
  color: #888;
  font-size: .8em;
}

.warning-message {
  font-weight: bold;
  color: #FDAA5d;
}

.rating {
  line-height: 16px;

  i {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    position: relative;
    bottom: -2px;
    box-shadow: 0 0 5px rgba(255,255,255,.8);
  }

  span {
    font-size: .9em;
    padding: 0 8px;
  }

  .rating-5 {
    background-color: #ECECEC;
  }

  .rating-4 {
    background-color: #FFF600;
  }

  .rating-3 {
    background-color: #C0C0C0;
  }

  .rating-2 {
    background-color: #FCBA0A;
  }

  .rating-1 {
    background-color: #999666;
  }
}

/* == Helpers */
.right {float: right;}

.centered-vertical {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.ellipse-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ul-reset {
  padding: 0;
  list-style-type: none;
}

/* == Page Layout */
.navbar {
  border-bottom: 1px solid theme-color('primary');
  box-shadow: 0 0 5px #000;
  margin-bottom: 0;

  .logo {
    font-weight: 300;
    font-size: 24px;
    color: theme-color('primary');
    text-decoration: none;

    img {
      padding: 6px;
      width: 50px;
      height: 50px;
    }
  }

  .navbar-header > button {
    background: none;
    border: none;
    margin-right: 5px;
    margin-bottom: 0;
    color: theme-color('lighter');
  }

  .account-action {
    float: right;

    a {
      line-height: 50px;
      margin-right: 12px;
    }
  }

  .account-info {
    float: right;

    img {
      border-radius: 32px;
      width: 50px;
      height: 50px;
      padding: 6px;
    }
  }

  .nav > li > a {
    text-transform: uppercase;
    font-weight: 600;
    color: #E5E5E5;

    @include media-breakpoint-up(sm) {
      margin-top: 10px;
      margin-right: 20px;
      padding: 6px 12px;
      font-size: 14px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      margin-right: 10px;
      padding: 6px;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 4px;
      display: block;
    }
  }
}

#main-nav {
  margin-left: 40px;
  @include media-breakpoint-down(lg) {
    margin-left: 12px;
  }
}


.dropdown-menu {
  background-color: #555;
  border: 0;
  border-radius: 0 2px 2px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  margin-top: -1px;

  li a {
    color: #ccc;

    &:hover {
      background-color: #666;
      color: #ddd;
    }
  }
}

.form-actions {
  border-top: none;
  margin-top: 0;
  margin-bottom: 0;
}

.block {
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #444;
  box-shadow: 0 1px 1px rgba(200,200,200,.6) inset,
  0 1px 1px rgba(230,230,230, .7);
  background-color: #F0F0F0;
  box-sizing: border-box;
  padding: 20px;
  color: theme-color('darker');
}

.well {
  color: #333;
}

.docs {
  tt {
    white-space: nowrap;
    font-family: monospace;
    border: 1px solid theme-color('lighter');
    border-radius: 2px;
    background-color: #ddd;
    font-size: .9em;
    padding: 1px 3px;
  }
}

.news-list {
  article {
    margin-left: 140px;
  }
}

.news-image-preview {
  float: left;
  padding: 15px;
}

.news-header {
  p {
    padding: 0 15px;
    color: #999;
    font-size: .8em;
  }

  img {
    display: block;
    margin: auto;
  }
}


.helptext {
  border: 1px solid #DEDEDE;
  font-size: 0.8em;
  display: block;
  padding: .5em;
}

.installer-textarea {
  width: 100%;
  height: 100px;
}

.code-editor {
  font-family: monospace;
  color: #EEE;
  background-color: theme-color('darker');
  width: 100%;
  height: 500px;
}

.ace_editor {
  height: 500px;
  width: 100%;
}

// Workaround for a cursor rendering bug in ACE editor:
// https://github.com/ajaxorg/ace/issues/2548
.ace_editor, .ace_text-input, .ace_editor div{
  font-family : monospace !important;
}

.errorlist {
  padding: 0;

  li {
    padding: 8px 16px;
    list-style-type: none;

    font-size: .9em;
    font-weight: bold;

    color: white;
    background-color: #FD3750;
    border-radius: 2px;
  }
}

.download-list {
  padding: 0;

  li {
    list-style-type: none;
  }

  &>li {
    padding: 14px 15px;
    border-bottom: 1px solid #555;

    @include media-breakpoint-up(sm) {
      padding: 15px 20px;
    }

    &:last-child {
      border-bottom: none;
    }

    ul {
      width: 200px;
      padding-left: 0;
      border-right: none;
      display: block;

      @include media-breakpoint-up(sm) {
        padding-left: 35px;
        display: table-cell;
        border-right: 1px solid #444;
      }
    }

    p {
      display: block;
      padding: 7px 0 7px 34px;
      font-size: .9em;
      color: #AEAEAE;

      @include media-breakpoint-up(sm) {
        padding: 7px 34px;
        display: table-cell;
      }
    }
  }

  img {
    margin: 7px;
  }
}

.breadcrumb {
  margin: 0 0 20px;
  padding: 8px 10px;
  width: 100%;
  list-style: none;
  background-color: theme-color('darker');
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;

  li {
    position: relative;
    text-shadow: 0 1px 0 #ffffff;
    display: inline;
    padding-left: 0;

    &:before {
      content: "" !important;
    }

    a {
      text-shadow: none;
      padding: 8px 0 8px 35px;
      color: #AEAEAE;

      &:before, &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        margin-top: -30px;
      }

      &:after {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid theme-color('darker');
        right: -30px;
        z-index: 2;
      }

      &:before {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid #666;
        right: -31px;
        z-index: 1;
        color: blue;  // Weird webkit bug on links with href
      }

      &:hover {
        color: #FFF;
        text-decoration: none;
      }
    }

    &:first-child a {
      padding-left: 10px;
    }
  }

  & > .active {
    color: #999999;
  }
}

.footnote {
  font-size: .75em;
  color: #999;

  a {
    color: theme-color('lighter');
    border-bottom: 1px dotted rgba(150, 150, 150, .3);

    &:hover {
      text-decoration: none;
      border-bottom-color: theme-color('lighter');

    }
  }
}

/* == Classes */

input.select2-lookalike[type="text"] {
    padding: 5px;
    border-radius: 4px;
    background-color: white;
    outline: 0;

    &:focus {
      border: solid 1px black;
    }
}

.important-checkbox {
  display: block;

  label {
    line-height: 24px;
    font-size: 1.2em;
    display: inline-block;
    padding-top: 4px;

  }

  input[type="checkbox"] {
    font-size: 24px;
    width: 24px;
    height: 24px;
    border: 2px solid blue;
    float: right;
  }
}

.overlay {
  position: relative;
  display: block;
  top: -25px;
  padding: 5px;
  line-height: 25px;
  white-space: nowrap;
  background-color: rgba(0,0,0,.8);
  color: #EEE;
}

.page-header {
  border: 0;

  .title {
    line-height: 33px;
    display: flex;

    .icon {
      width: 32px;
      height: 32px;
    }

    .buttons {
      margin-left: 0.5em;
    }

    span {
      flex-grow: 1;
      color: #EDEDED;
      font-weight: 300;
      padding-left: 15px;
      font-size: 2em;
    }
  }
}

.image-container {
  min-height: 350px;
  @include media-breakpoint-down(sm) {
    min-height: 100px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.alerts {
  margin: auto;
  text-align: center;
  list-style-type: none;
  padding-left: 0;

  li {
    border-radius: 0;
    width: 100%;
    margin: 0;
    font-weight: bold;
  }

  .alert-error {
    background-color: red;
  }

  .alert-warning {
    background-color: #ffd01f;
    color: #ff4a31;
    border: 1px solid
  }
}

.message-view {
  border: 1px solid theme-color('dark');
  border-radius: 4px;
  background-color: theme-color('darker');
  padding: 30px;
}

.message-box {
  margin: 100px auto;
  width: 500px;
  padding: 40px;
  border: 1px solid theme-color('dark');
  border-radius: 3px;
}

.form-view {
  @extend .message-view;

  & > h1 {
    margin-top: 0;
  }
}

.form-view-wide {
  @extend .form-view;
  width: 650px;
}

.game-info {
  .banner {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto 14px;
    width: 100%;
  }

  ul {
    @extend .ul-reset;
    margin-bottom: 10px;
  }

  li {
    padding: 5px 0;
  }

  .info-label {
    color: #888;
  }

  a {
    color: #DDD;
    // md-button breaks this style
    text-decoration: none !important;
  }

  .in-library {
    width: 112px;
    background-color: #365278;

    &:hover { background-color: #7e2b2b; }

    &:hover span { display: none; }

    &:hover:before { content: "Remove it"; }
  }
}

.big-button {
  color: #FFFFFF;
  background-color: #fc6500;
  display: block;
  padding: 15px;
  margin: 20px 10px;
  font-size: 1.2em;
  text-align: center;
  width: 160px;
  border: 2px solid #C85000;
  text-decoration: none;
  -moz-border-radius: 15px;
}

.game-list-header {
  background-color: theme-color('darker');
  color: #777;
  font-size: .8em;
  padding: 6px;
  border-bottom: 2px solid theme-color('primary');

  h2 {
    display: inline;
  }

  span {
    display: inline-block;
    padding-left: 100px;
  }
}

.game-list {
  list-style-type: none;

  li {
    display: flex;
    background-color: theme-color('dark');
    margin-bottom: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }

  .game-image {
    width: 184px;
    padding: 6px;
  }

  .game-image, .game-info {
    padding: 6px;
  }

  .game-info {
    width: 100%;
    display: inline-block;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .game-meta {
    a {
      border-bottom: 1px dotted #666;
    }

    span {
      margin-right: 1em;
    }
    font-size: 0.8em;
  }

  .game-title {
    color: theme-color('primary');
    font-size: 1.2em;
    font-weight: bold;
  }
}

.game-filter {
  float: right;
  margin-bottom: 20px;

  input {
    background-color: #444;
    color: #CCC;
    border: 1px solid #666;
    padding: 0 4px;
  }
}

/**
 * Box which shows a error message if applied filters returned
 * an empty response in a list view
 */
.filter-failure-message {
  width: 100%;
  text-align: center;
  font-style: italic;

  & > .filter-failure-icon {
    color: #444;
    font-size: 60px;
  }

  & > p {
    margin-top: 0 !important;
  }
}

.latest-games {
  display: flex;
  flex-wrap: wrap;

  .game-banner {
    margin: auto;
    padding: 9px;
  }
}

.game-cover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  display: block;
  width: 184px;
  height: 69px;
  text-transform: uppercase;
  line-height: 69px;
  background-color: #666;
  text-align: center;
  color: theme-color('lighter');
  font-size: 1.5em;
  position: relative;

  @include media-breakpoint-up(sm) {
    margin-bottom: 5px;
  }
}

.game-banner {
  font-size: 11px;
  text-align: center;
  color: #E5E5E5;
  display: inline-block;
  width: $banner-width;

  img{
    border-bottom: 1px solid theme-color('primary');
  }

  a {
    width: $banner-width;
    font-weight: 500;
    display: block;
    text-decoration: none;
    background: rgba(63, 63, 63, 0.80);
    text-overflow: ellipsis;

    &:hover, &:focus {
      background-color: #444;
      outline: 0;
    }
  }

  .game-title {
    font-size: 11px;
    text-align: center;
    color: #E5E5E5;
    width: 184px;
    height: 48px;
    display: block;
    padding: 5px;
  }
}

.pane {
  padding: 0;

  p {
    margin-top: 15px;
    color: #ACACAC;
  }
}

.main-button {
  padding: 7px 14px;
  margin-right: 14px;
  color: #111;
  background-color: theme-color('primary');
  text-align: center;
  font-size: .95em;
  font-weight: 500;
  border-radius: 5px;
  display: inline-flex;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);

  &:hover {
    color: theme-color('darker');
    text-decoration: none;
  }
}

.choice-list {
  @extend .ul-reset;

  li {
    margin: 10px 20px 3px 0;
    min-width: 130px;
  }

  a {
    background-color: theme-color('darker');
    border-radius: 2px;
    padding: 4px 14px;
    display: block;
    text-transform: capitalize;
    font-size: 1.1em;
    color: #EDEDED;

    &:hover {
      background-color: #444;
      text-decoration: none;
    }
  }

  img {
    margin-right: 4px;
  }
}

.installer-list {
  background-color: theme-color('darker');

  .installer-name {
    vertical-align: text-top;
    background-color: #888;
    color: #000;
    font-family: monospace;
    font-size: .8em;
    white-space: nowrap;
    padding: 4px 7px 3px;
  }

  p {
    margin: 7px 7px 0;
    width: 80%;
  }

  ul {
    @extend .ul-reset;
    margin-bottom: 0;
  }

  .installer-details {
    @extend .clearfix;
    padding: 14px 7px;
    border-bottom: 1px solid #444;

    .centered-vertical {
      height: 33px;
    }
  }

  .installer-unpublished {
    border-left: 2px solid #700;
    background-color: #333;
  }

  .hide-unpublished {
    display: none;
  }
}

.screenshots-bar {
  border-bottom: 1px solid #444;
}

.actions-bar {
  background-color: #151515;
  text-align: right;
  padding: 4px;

  a, span {
    font-size: .8em;
    padding: 4px;
  }

  a {
    border-radius: 2px;
    color: #888;
    padding-left: 8px;
    padding-right: 8px;
  }

  a:hover {
    background-color: #2e2e2e;
  }
}

.fixed-panel {
  position: fixed;
  right: 0;
  top: 80px;
  bottom: 80px;
  width: 40%;
  overflow: auto;
}

.filter-list {
  display: inline-block;
  @extend .ul-reset;
  list-style-position: inside;
  margin: 0;

  li {
    display: inline-block;
    margin: 5px 0 0;
  }

  a {
    display: block;
  }
}

.filter-link {
  background-color: #555;
  font-size: .75em;
  text-transform: uppercase;
  vertical-align: text-top;
  padding: 6px 12px;
  color: #EDEDED;
  border-radius: 2px;
  white-space: nowrap;

  @include media-breakpoint-up(sm) {
    padding: 3px 6px;
  }

  &:hover {
    background-color: #666;
    color: inherit;
    text-decoration: none;
  }
}

.box-link {
  margin: 5px 0;
  border: 1px solid theme-color('dark');
  padding: 2px 7px 2px 2px;
  display: inline-block;

  img {
    margin-right: 7px;
  }

  &:hover {
    text-decoration: none;
    background-color: theme-color('darker');
  }
}

.user-library {
  .right-button {
    position: relative;
    top: 0;
    float: right;

    .help {
      position: absolute;
      white-space: nowrap;
      top: 0;
      right: 0;
      font-size: .9em;
      background-color: #4c4c4c;
      padding: 3px 7px;
      border-radius: 2px;
      color: #333;

      @include media-breakpoint-up(sm) {
        top: -5px;
        right: -5px;
      }

      &:hover {
        background-color: #777;
        color: #DEDEDE;
      }
    }
  }
}

.modal-title {
  border-bottom: 0;
}

.issue-list {
  list-style-type: none;
  padding: 0;

  ul {
    list-style-type: none;
    padding: 0;
  }

  h5 {
    padding-top: 1em;
    color: #DDA654;
  }

  pre {
    font-size: 0.9em;
    background-color: theme-color('dark');
    color: #EDEDED;
    white-space: pre-wrap;
    border-radius: 0;
    border: none;
    padding: 1.2em;
  }

  textarea {
    width: 100%;
    height: 4.5em;
    background-color: theme-color('darker');
    border-color: theme-color('dark');
    color: #ADADAD;
    margin-top: 0.5em;
  }

  input[type=submit] {
    background-color: transparent;
    border: none;
    color: theme-color('primary');
    text-decoration: underline;
    font-size: 1em;
    font-weight: 500;
  }

  form {
    padding-bottom: 1em;
    border-bottom: 3px solid theme-color('dark');
  }
}

.issue-content {
  width: 100%;
  height: 5em;
  background-color: #e3e3e3;
  color: theme-color('darker');
  border: 1px solid theme-color('dark');
  padding: .2em;
}

/*Installer edit form: runner dropdown*/
#s2id_id_runner {
  width: 200px;
}

//.main-search-form {
//  text-align: center;
//  border-radius: 5px;
//  border: 1px solid #333;
//  background-color: #777;
//  margin: 3em;
//  padding: 2em;
//}

.warning {
  font-weight: bold;
  color: theme-color('warning');
}

.obnoxious-warning {
  font-size: 1.2em;
  text-transform: uppercase;
  color: theme-color('warning');
}

//.external-link {
//  outline: 1px solid #444;
//  margin: 8px auto;
//  display: flex;
//  height: 36px;
//  width: 174px;
//  padding: 2px;
//
//  &:hover {
//    outline: 1px solid #444;
//    text-decoration: none;
//  }
//
//  img {
//    display: inline-block;
//    width: 32px;
//    height: 32px;
//    background-color: #444;
//    vertical-align: middle;
//  }
//
//  span {
//    display: inline-block;
//    background-color: #444;
//    width: 138px;
//    line-height: 32px;
//    vertical-align: middle;
//    font-size: 0.90em;
//    padding: 0;
//    margin: 0 0 0 2px;
//  }
//}

/*Library game filter, flags selection*/
#id_flags {
  list-style: none;
  padding-left: 0;
}

.no-border {
  border: 0;
}

.runner-list {
  list-style-type: none;

  img {
    width: 48px;
    height: 48px;
  }
}

#carousel_game_link {
  position: absolute;
  right: 0;
  bottom: 24px;
  z-index: 0;
  font-size: xx-large;
}

