// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

@import "./modules/profile";

/* == Variables */
// Bootstrap specific
$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": #ff9900,
    "light": #666,
    "lighter": #aaa,
    "dark": #1a1a1a,
    "darker": #222,
    "warning": #FD3750
  )
);

$body-bg: theme-color("dark");
$body-color: $gray-200;

$link-color: theme-color('lighter');
$link-hover-color: theme-color('primary');
$pagination-bg: theme-color('darker');
$pagination-border: #444;
$pagination-hover-bg: #444;
$pagination-active-bg: #FFF;
$pagination-active-color: #666;
$pagination-disabled-color: #888;

$list-group-color: theme-color('lighter');
$list-group-bg: theme-color('darker');
$list-group-hover-bg: theme-color('dark');

$font-family-base: 'Montserrat', 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;

#footer a {
  color: #EEE;
}
#footer svg {
  margin: 16px;
}

.modal-footer {
  border-top: 1px solid #666 !important;
}

// Alertify styles
.alertify-notifier.ajs-top {
  top: 70px;
}

.alertify .ajs-header {
  font-family: $font-family-base;
}

.alertify .ajs-body {
  font-family: $font-family-base;
}

.alertify-notifier .ajs-message {
  @extend .rounded;
  color: $white;
  background: theme-color("info");
  max-width: 500px;
  width: max-content;
}
.alertify-notifier .ajs-message.ajs-success {
  color: theme-color("darker");
  background: theme-color("success");
}
.alertify-notifier .ajs-message.ajs-error {
  color: white;
  background: theme-color("danger");
}
.alertify-notifier .ajs-message.ajs-warning {
  color: theme-color("darker");
  background: color("orange");
}

.alertify-notifier .ajs-message.ajs-visible {
  -webkit-animation-name: ajs-fadeIn;
          animation-name: ajs-fadeIn;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-transition:none;
          transition:none;
}

// Blueimp gallery
.blueimp-gallery > .prev, .blueimp-gallery > .next {
  font-family: $font-family-base;
  background: None;
  border: None;
  opacity: 0.75;
}


// Custom
$screenshotsWidth: 690px;
$screenshotsHeight: 388px;

$modal-content-bg: theme-color("darker");
$modal-header-border-color: #666;

$padding: 7px;
$banner-width: 184px;

html {
  height:100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#global-search {
  @include media-breakpoint-up(lg) {
    min-width: 250px;
  }
}

code {
  color: theme-color('primary') !important;
  background-color: theme-color('darker') !important;
  display: inline-block;
  border-radius: 2px;
  margin: 2px;
  padding: 3px 6px;
  word-break: break-all;
}

form {
  label {
    .asteriskField {
      color: #bada55;
    }
  }

  textarea, input {
    border-radius: 0;
    border: 1px solid #999;
    background-color: #DEDEDE;
    color: theme-color('darker');
  }

  textarea {
    padding: 5px 10px;
  }
}

figure {
  padding: 0;

  img {
    width: 100%;
  }

  figcaption {
    background-color: rgba(30, 30, 30, 0.15);
    padding: 0;
    font-size: .95em;
    text-align: center;
  }
}

figure.tiled {
  img {
    width: auto;
    padding: 4px 3px;
    margin: auto;
    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 20px 20%;
    }
  }
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline : 0;
}

input {
  background-color: #EEE;
  color: theme-color('darker');
}

.select2, .select2-dropdown {
  color: #333;
}

header {
  border-bottom: 1px solid theme-color('primary');
  box-shadow: 0 0 5px #000;
  margin-bottom: 0;

  a {
    color: theme-color('lighter');
    &:hover {
      color: theme-color('primary');
    }
  }

  .logo {
    font-weight: 300;
    font-size: 24px;
    color: theme-color('primary');
    text-decoration: none;

    img {
      padding: 6px;
      width: 50px;
      height: 50px;
    }
  }

  button {
    background: none;
    border: none;
    margin-right: 5px;
    margin-bottom: 0;
    color: theme-color('lighter');
  }

  .account-action {
    float: right;

    a {
      line-height: 50px;
      margin-right: 12px;
    }
  }

  .account-info {
    float: right;

    img {
      border-radius: 32px;
      width: 50px;
      height: 50px;
      padding: 6px;
    }
  }

  .dropdown-item {
    color: theme-color('lighter');

    &:hover {
      background-color: theme-color('darker');
      color: theme-color('primary');
    }
  }
}

footer {
  border-top: 1px solid theme-color('primary');
}

.discreet-text {
  color: #888;
  font-size: .8em;
}

.warning-message {
  font-weight: bold;
  color: #FDAA5d;
}

.rating {
  line-height: 16px;

  i {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    position: relative;
    bottom: -2px;
    box-shadow: 0 0 5px rgba(255,255,255,.8);
  }

  span {
    font-size: .9em;
    padding: 0 8px;
  }

  .rating-5 {
    background-color: #ECECEC;
  }

  .rating-4 {
    background-color: #FFF600;
  }

  .rating-3 {
    background-color: #C0C0C0;
  }

  .rating-2 {
    background-color: #FCBA0A;
  }

  .rating-1 {
    background-color: #999666;
  }
}

/* == Helpers */
.right {float: right;}

.centered-vertical {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.ellipse-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ul-reset {
  padding: 0;
  list-style-type: none;
}

/* == Page Layout */
.navbar {

  .nav > li > a {
    text-transform: uppercase;
    font-weight: 600;
    color: #E5E5E5;

    @include media-breakpoint-up(sm) {
      margin-top: 10px;
      margin-right: 20px;
      padding: 6px 12px;
      font-size: 14px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      margin-right: 10px;
      padding: 6px;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 4px;
      display: block;
    }
  }
}

.form-actions {
  border-top: none;
  margin-top: 0;
  margin-bottom: 0;
}

.block {
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #444;
  box-shadow: 0 1px 1px rgba(200,200,200,.6) inset,
  0 1px 1px rgba(230,230,230, .7);
  background-color: #F0F0F0;
  box-sizing: border-box;
  padding: 20px;
  color: theme-color('darker');
}

.well {
  color: #333;
}

.docs {
  tt {
    white-space: nowrap;
    font-family: monospace;
    border: 1px solid theme-color('lighter');
    border-radius: 2px;
    background-color: #ddd;
    font-size: .9em;
    padding: 1px 3px;
  }
}

.news-list {
  article {
    margin-left: 140px;
  }
}

.news-image-preview {
  float: left;
  padding: 15px;
}

.news-header {
  p {
    padding: 0 15px;
    color: #999;
    font-size: .8em;
  }

  img {
    display: block;
    margin: auto;
  }
}


.helptext {
  border: 1px solid #DEDEDE;
  font-size: 0.8em;
  display: block;
  padding: .5em;
}

.installer-textarea {
  width: 100%;
  height: 100px;
}

.code-editor {
  font-family: monospace;
  color: #EEE;
  background-color: theme-color('darker');
  width: 100%;
  height: 500px;
}

.ace_editor {
  height: 500px;
  width: 100%;
}

// Workaround for a cursor rendering bug in ACE editor:
// https://github.com/ajaxorg/ace/issues/2548
.ace_editor, .ace_text-input, .ace_editor div{
  font-family : monospace !important;
}

.errorlist {
  padding: 0;

  li {
    padding: 8px 16px;
    list-style-type: none;

    font-size: .9em;
    font-weight: bold;

    color: white;
    background-color: #FD3750;
    border-radius: 2px;
  }
}

.download-list {
  padding: 0;

  li {
    list-style-type: none;
  }

  &>li {
    padding: 14px 15px;
    border-bottom: 1px solid #555;

    @include media-breakpoint-up(sm) {
      padding: 15px 20px;
    }

    &:last-child {
      border-bottom: none;
    }

    ul {
      width: 200px;
      padding-left: 0;
      border-right: none;
      display: block;

      @include media-breakpoint-up(sm) {
        padding-left: 35px;
        display: table-cell;
        border-right: 1px solid #444;
      }
    }

    p {
      display: block;
      padding: 7px 0 7px 34px;
      font-size: .9em;
      color: #AEAEAE;

      @include media-breakpoint-up(sm) {
        padding: 7px 34px;
        display: table-cell;
      }
    }
  }

  img {
    margin: 7px;
  }
}

.breadcrumb {
  margin: 0 0 20px;
  padding: 8px 10px;
  width: 100%;
  list-style: none;
  background-color: theme-color('darker');
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;

  li {
    position: relative;
    text-shadow: 0 1px 0 #ffffff;
    display: inline;
    padding-left: 0;

    &:before {
      content: "" !important;
    }

    a {
      text-shadow: none;
      padding: 8px 0 8px 35px;
      color: #AEAEAE;

      &:before, &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        margin-top: -30px;
      }

      &:after {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid theme-color('darker');
        right: -30px;
        z-index: 2;
      }

      &:before {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid #666;
        right: -31px;
        z-index: 1;
        color: blue;  // Weird webkit bug on links with href
      }

      &:hover {
        color: #FFF;
        text-decoration: none;
      }
    }

    &:first-child a {
      padding-left: 10px;
    }
  }

  & > .active {
    color: #999999;
  }
}

.footnote {
  font-size: .75em;
  color: #999;

  a {
    color: theme-color('lighter');
    border-bottom: 1px dotted rgba(150, 150, 150, .3);

    &:hover {
      text-decoration: none;
      border-bottom-color: theme-color('lighter');

    }
  }
}

/* == Classes */

input.select2-lookalike[type="text"] {
    padding: 5px;
    border-radius: 4px;
    background-color: white;
    outline: 0;

    &:focus {
      border: solid 1px black;
    }
}

.game-icon {
  width: 32px;
  height: 32px;
}

.important-checkbox {
  display: block;

  label {
    line-height: 24px;
    font-size: 1.2em;
    display: inline-block;
    padding-top: 4px;

  }

  input[type="checkbox"] {
    font-size: 24px;
    width: 24px;
    height: 24px;
    border: 2px solid blue;
    float: right;
  }
}

.overlay {
  position: relative;
  display: block;
  top: -25px;
  padding: 5px;
  line-height: 25px;
  white-space: nowrap;
  background-color: rgba(0,0,0,.8);
  color: #EEE;
}

.page-header {
  border: 0;

  .title {
    line-height: 33px;
    display: flex;

    .icon {
      width: 32px;
      height: 32px;
    }

    .buttons {
      margin-left: 0.5em;
    }

    span {
      flex-grow: 1;
      color: #EDEDED;
      font-weight: 300;
      padding-left: 15px;
      font-size: 2em;
    }
  }
}

.image-container {
  min-height: 350px;
  @include media-breakpoint-down(sm) {
    min-height: 100px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.message-view {
  border: 1px solid theme-color('dark');
  border-radius: 4px;
  background-color: theme-color('darker');
  padding: 30px;
}

.message-box {
  margin: 100px auto;
  width: 500px;
  padding: 40px;
  border: 1px solid theme-color('dark');
  border-radius: 3px;
}

.form-view {
  @extend .message-view;

  & > h1 {
    margin-top: 0;
  }
}

.form-view-wide {
  @extend .form-view;
  width: 650px;
}

.game-info {
  .banner {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto 14px;
    width: 100%;
  }

  ul {
    @extend .ul-reset;
    margin-bottom: 10px;
  }

  li {
    padding: 5px 0;
  }

  .info-label {
    color: #888;
  }

  a {
    color: #DDD;
    // md-button breaks this style
    text-decoration: none !important;
  }

  .in-library {
    width: 112px;
    background-color: #365278;

    &:hover { background-color: #7e2b2b; }

    &:hover span { display: none; }

    &:hover:before { content: "Remove it"; }
  }
}

.game-list {
  list-style-type: none;

  li {
    display: flex;
    background-color: theme-color('dark');
    margin-bottom: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }

  .game-image {
    width: 184px;
    padding: 6px;
  }

  .game-image, .game-info {
    padding: 6px;
  }

  .game-info {
    width: 100%;
    display: inline-block;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .game-meta {
    a {
      border-bottom: 1px dotted #666;
    }

    span {
      margin-right: 1em;
    }
    font-size: 0.8em;
  }

  .game-title {
    color: theme-color('primary');
    font-size: 1.2em;
    font-weight: bold;
  }
}

/**
 * Box which shows a error message if applied filters returned
 * an empty response in a list view
 */
.filter-failure-message {
  width: 100%;
  text-align: center;
  font-style: italic;

  & > .filter-failure-icon {
    color: #444;
    font-size: 60px;
  }

  & > p {
    margin-top: 0 !important;
  }
}

.latest-games {
  display: flex;
  flex-wrap: wrap;

  .game-banner {
    margin: auto !important;
    padding: 9px;
  }
}

.game-cover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  width: 184px;
  height: 69px;
  text-transform: uppercase;
  background-color: #666;
  text-align: center;
  color: theme-color('lighter');
  line-height: 0.9em;
  font-size: 1.3em;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-up(sm) {
    margin-bottom: 5px;
  }
}

.game-banner {
  font-size: 11px;
  text-align: center;
  color: #E5E5E5;
  display: inline-block;
  width: $banner-width;

  img{
    border-bottom: 1px solid theme-color('primary');
  }

  a {
    width: $banner-width;
    font-weight: 500;
    display: block;
    text-decoration: none;
    background: rgba(63, 63, 63, 0.80);
    text-overflow: ellipsis;

    &:hover, &:focus {
      background-color: #444;
      outline: 0;
    }
  }

  .game-title {
    font-size: 1.25em;
    text-align: center;
    color: #E5E5E5;
    width: 184px;
    height: 48px;
    display: block;
    padding: 5px;
  }
}

.pane {
  padding: 0;

  p {
    margin-top: 15px;
    color: #ACACAC;
  }
}

.choice-list {
  @extend .ul-reset;

  li {
    margin: 10px 20px 3px 0;
    min-width: 130px;
  }

  a {
    background-color: theme-color('darker');
    border-radius: 2px;
    padding: 4px 14px;
    display: block;
    text-transform: capitalize;
    font-size: 1.1em;
    color: #EDEDED;

    &:hover {
      background-color: #444;
      text-decoration: none;
    }
  }

  img {
    margin-right: 4px;
  }
}

.installer-list {
  background-color: theme-color('darker');

  .installer-name {
    vertical-align: text-top;
    background-color: #888;
    color: #000;
    font-family: monospace;
    font-size: .8em;
    white-space: nowrap;
    padding: 4px 7px 3px;
  }

  p {
    margin: 7px 7px 0;
    width: 80%;
  }

  ul {
    @extend .ul-reset;
    margin-bottom: 0;
  }

  .installer-details {
    @extend .clearfix;
    padding: 14px 7px;
    border-bottom: 1px solid #444;

    .centered-vertical {
      height: 33px;
    }
  }

  .installer-unpublished {
    border-left: 2px solid #700;
    background-color: #333;
  }

  .hide-unpublished {
    display: none;
  }
}

.screenshots-bar {
  border-bottom: 1px solid #444;
}

.actions-bar {
  background-color: #151515;
  text-align: right;
  padding: 4px;

  a, span {
    font-size: .8em;
    padding: 4px;
  }

  a {
    border-radius: 2px;
    color: #888;
    padding-left: 8px;
    padding-right: 8px;
  }

  a:hover {
    background-color: #2e2e2e;
  }
}

.fixed-panel {
  position: fixed;
  right: 0;
  top: 80px;
  bottom: 80px;
  width: 40%;
  overflow: auto;
}

.filter-list {
  display: inline-block;
  @extend .ul-reset;
  list-style-position: inside;
  margin: 0;

  li {
    display: inline-block;
    margin: 5px 0 0;
  }

  a {
    display: block;
  }
}

.filter-link {
  background-color: #555;
  font-size: .75em;
  text-transform: uppercase;
  vertical-align: text-top;
  padding: 6px 12px;
  color: #EDEDED;
  border-radius: 2px;
  white-space: nowrap;

  @include media-breakpoint-up(sm) {
    padding: 3px 6px;
  }

  &:hover {
    background-color: #666;
    color: inherit;
    text-decoration: none;
  }
}

.box-link {
  margin: 5px 0;
  border: 1px solid theme-color('dark');
  padding: 2px 7px 2px 2px;
  display: inline-block;

  img {
    margin-right: 7px;
  }

  &:hover {
    text-decoration: none;
    background-color: theme-color('darker');
  }
}

.user-library {
  .right-button {
    position: relative;
    top: 0;
    float: right;

    .help {
      position: absolute;
      white-space: nowrap;
      top: 0;
      right: 0;
      font-size: .9em;
      background-color: #4c4c4c;
      padding: 3px 7px;
      border-radius: 2px;
      color: #333;

      @include media-breakpoint-up(sm) {
        top: -5px;
        right: -5px;
      }

      &:hover {
        background-color: #777;
        color: #DEDEDE;
      }
    }
  }
}

.modal-title {
  border-bottom: 0;
}

.issue-list {
  list-style-type: none;
  padding: 0;

  ul {
    list-style-type: none;
    padding: 0;
  }

  h5 {
    padding-top: 1em;
    color: #DDA654;
  }

  pre {
    font-size: 0.9em;
    background-color: theme-color('dark');
    color: #EDEDED;
    white-space: pre-wrap;
    border-radius: 0;
    border: none;
    padding: 1.2em;
  }

  textarea {
    width: 100%;
    height: 4.5em;
    background-color: theme-color('darker');
    border-color: theme-color('dark');
    color: #ADADAD;
    margin-top: 0.5em;
  }

  input[type=submit] {
    background-color: transparent;
    border: none;
    color: theme-color('primary');
    text-decoration: underline;
    font-size: 1em;
    font-weight: 500;
  }

  form {
    padding-bottom: 1em;
    border-bottom: 3px solid theme-color('dark');
  }
}

.issue-content {
  width: 100%;
  height: 5em;
  background-color: #e3e3e3;
  color: theme-color('darker');
  border: 1px solid theme-color('dark');
  padding: .2em;
}

/*Installer edit form: runner dropdown*/
#s2id_id_runner {
  width: 200px;
}

.warning {
  font-weight: bold;
  color: theme-color('warning');
}

.obnoxious-warning {
  font-size: 1.2em;
  text-transform: uppercase;
  color: theme-color('warning');
}

.external-link {
  outline: 1px solid theme-color('primary');
  margin: 8px auto;
  display: flex;
  height: 36px;
  width: 174px;
  padding: 2px;

  &:hover {
    outline: 1px solid theme-color('primary');
    text-decoration: none;
  }

  img {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: theme-color('darker');
    vertical-align: middle;
  }

  span {
    display: inline-block;
    background-color: theme-color('darker');
    width: 138px;
    line-height: 32px;
    vertical-align: middle;
    font-size: 0.90em;
    padding: 0;
    margin: 0 0 0 2px;
  }
}

/*Library game filter, flags selection*/
#id_flags {
  list-style: none;
  padding-left: 0;
}

.no-border {
  border: 0;
}

.runner-list {
  list-style-type: none;

  img {
    width: 48px;
    height: 48px;
  }
}

#carousel_game_link {
  position: absolute;
  right: 0;
  bottom: 24px;
  z-index: 0;
  font-size: xx-large;
}

ol.toc a{
  color: white;
  text-decoration: none;

  &:hover {
    color: theme-color('primary');
    text-decoration: none !important;
  }
}

// Fix for anchor links
:target:before {
  content:"";
  display:block;
  height:77px; /* fixed header height*/
  margin:-77px 0 0; /* negative fixed header height */
}
