@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~select2/src/scss/core";
@import "~blueimp-gallery/css/blueimp-gallery.css";
@import "~alertifyjs/build/css/alertify.css";


// Extending shadow classes so that the color of shadow is taken from color property instead of being hardcoded
.shadow {
  @extend .shadow;
  box-shadow: 0 0.5rem 1rem !important;
}

.shadow-lg {
  @extend .shadow-lg;
  box-shadow: 0 1rem 3rem !important;
}

a {
  color: $primary;
  text-decoration: none !important;

  &:hover {
    color: darken($primary, 15%);
    text-decoration: underline;
  }
}