/* == Variables */
/* == Defaults */
body {
  background-color: #121212;
  font-size: 16px;
  color: #EFEFEF;
}
article {
  margin-bottom: 2em;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
  word-spacing: .1em;
  margin-bottom: .8em;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  color: #BBB;
  font-size: 1.2em;
  background-color: #444;
  padding: 7px 14px;
}
h4 {
  font-size: 1.1em;
  color: #CDCDCD;
  border-bottom: 1px solid #4D4D4D;
}
/* == Helpers */
/* == Page Layout */
.content {
  width: 940px;
}
.block {
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #444;
  box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.6) inset, 0 1px 1px rgba(230, 230, 230, 0.7);
  background-color: #F0F0F0;
  box-sizing: border-box;
  padding: 20px;
  color: #222;
}
.navbar {
  width: 940px;
  margin: auto;
  margin-bottom: 25px;
}
.icon {
  position: relative;
  float: left;
  top: -48px;
  margin-right: 20px;
}
.code-editor {
  font-family: monospace;
  color: #EEE;
  background-color: #222;
  width: 100%;
  height: 500px;
}
.errorlist {
  color: red;
}
.errorlist li {
  list-style-type: none;
}
/* == Classes */
.overlay {
  position: relative;
  display: block;
  top: -25px;
  padding: 5px;
  line-height: 25px;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.8);
  color: #EEE;
}
.game-header {
  position: relative;
  height: 250px;
  background-repeat: no-repeat;
  background-color: #000;
}
.game-header h1 {
  position: absolute;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 25px;
  line-height: 50px;
  background: rgba(22, 22, 22, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(22, 22, 22, 0.5)));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(22, 22, 22, 0.5));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start', endColorstr='@end');
  color: #EEE;
}
.game-header h1 a {
  color: #EDEDED;
  text-decoration: none;
}
.game-header h1 img {
  vertical-align: middle;
  padding-left: 15px;
  opacity: 1;
}
.screenshots {
  padding: 30px;
  border: 1px solid #333;
}
.screenshots .no-screenshots {
  height: 400px;
  width: 640px;
  padding-top: 80px;
  line-height: 80px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.screenshots .no-screenshots strong {
  text-transform: uppercase;
  font-size: 2.1em;
  color: #777;
  display: block;
}
.game-info {
  padding: 10px;
  border: 1px solid #333;
  font-size: .7em;
  color: #DDD;
}
.game-info strong {
  margin-top: .5em;
  display: block;
  font-weight: bold;
  color: #CCC;
  font-size: 1.1em;
}
.game-info a {
  color: #DDD;
}
/* == Forms */
.base-form label {
  display: block;
  font-size: .9em;
  line-height: 1.6em;
}
.base-form .form-row {
  display: block;
}
.base-form input[type=text],
.base-form input[type=password] {
  font-size: 1.1em;
  color: #555;
  border: 2px solid #444;
  background-color: #EDEDED;
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(30, 30, 30, 0.3) inset;
}
.big-button {
  color: #FFFFFF;
  border-color: #a84300;
  background-color: #fc6500;
  display: block;
  padding: 15px;
  margin: 20px 10px;
  font-size: 1.2em;
  text-align: center;
  width: 160px;
  border: 2px solid #C85000;
  text-decoration: none;
  -moz-border-radius: 15px;
}
.breadcrumb a {
  color: #AAA;
  font-weight: bold;
  text-decoration: none;
  font-size: .9em;
}
.game-list {
  margin: 0;
}
.game-list li {
  list-style-type: none;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #555;
}
.game-list li:hover {
  background-color: #222;
}
.game-list a {
  color: #DDD;
  text-decoration: none;
}
.game-list .game-cover {
  float: left;
  width: 120px;
  height: 40px;
  text-transform: uppercase;
  line-height: 40px;
  background-color: #666;
  text-align: center;
  margin-right: 15px;
  color: #AAA;
  font-size: 1.5em;
  border: 1px solid #AAA;
  padding: 2px;
}
.game-list .game-title {
  font-size: 1.1em;
  font-weight: bold;
  color: #D9B555;
}
.game-list .logo {
  float: left;
  vertical-align: top;
  margin-right: 20px;
}
.game-list .info {
  font-size: .8em;
}
.game-list .info a {
  border-bottom: 1px dotted #666;
}
.download-button {
  color: #222;
  display: block;
  background-color: #55BAD9;
  padding: 15px;
  text-align: center;
}
.download-button em {
  font-size: .8em;
  color: #555;
}
.download-pane {
  margin: 33px 15px;
}
