@import "bootstrap";

/* == Variables */
@siteWidth: 960px;
@screenshotsWidth: 690px;
@screenshotsHeight: 388px;

@darkBackground: #444;
@darkerBackground: #222;
@sansSerif: "Roboto", Arial, sans;
@brandColor: #ff9900;
@linkColor: @brandColor;

@pagination-bg: #222;
@pagination-border: #444;
@pagination-hover-bg: #444;
@pagination-active-bg: #FFF;
@pagination-active-color: #666;
@pagination-disabled-color: #888;

/* == Defaults */
html, body {
  background-color: #121211;
  font-size: 16px;
  color: #EFEFEF;
  font-family: @sansSerif;
  margin:0;
  padding:0;
  height:100%;
}

article {
  color: #ccc;
  font-weight: 400;
  padding: 14px 15px;
}
h1, h2, h3, h4, h5 {
  font-weight: normal;
  word-spacing: .1em;
  margin-bottom: .8em;
  font-family: @sansSerif;
}

h1 {
  border-bottom: 1px solid #444;
  font-weight: 300;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
  padding: 3px 28px;
}

h2 { font-size: 1.4em; }
h3 {
  color: #BBB;
  font-size: 1.2em;
  background-color: #444;
  padding: 7px 14px;
  font-weight: 300;
}
h4 {
  font-size: 1.1em;
  color: #CDCDCD;
  border-bottom: 1px solid #4D4D4D;
}

a {
  color: @linkColor;
  text-decoration: none;
  &:hover {
    color: darken(@linkColor, 15%);
    text-decoration: underline;
  }
}

code {
  color: #aaa;
  background-color: #222;
}

form {
  label {
    .asteriskField {
      color: #bada55;
    }
  }
}

figure {
  padding: 15px;
  background-color: #222;
  img {
    width: 100%;
  }
  figcaption {
    font-size: .8em;
    color: #BBB;
    text-align: center;
    font-style: italic;
  }
}

.simple-form {
  label {
    font-weight: normal;
    display: block;
    color: #AAA;
    font-size: .9em;
  }
  input[type=text],input[type=password],input[type=email] {
    border-radius: 4px;
    padding: 4px;
    width: 100%;
    display: block;
    border: 1px solid #444;
    background-color: #EEE;
    color: #222;
  }
}

.page {
  background-color: #2f2f2f;
}

.container{
  max-width: none !important;
  width: @siteWidth;
  padding: 0;
}

.row {
  margin: 0;
}

.footer {
  border-top: 1px solid @brandColor;
  background-color: #222;
  box-shadow: inset 0 5px 20px #181818;
  margin-top: 20px;
  padding: 30px 0;
  font-size: .8em;
  ul {
    list-style-type:none;
    padding: 0;
  }
  .icon-list {
    li {
      display: inline
    }
    a {
      display: inline-block;
      width: 38px;
      height: 38px;
      border-radius: 4px;
      text-decoration: none;
      img {
        margin: 3px;
      }
      &:hover {
        background-color: #666;
      }
    }
  }
}

.discreet-text {
  color: #888;
  font-size: .8em;
}

.warning-message {
  color: #FD3750;
}

.wrapper {
  min-height: 100%;
  display: block;
  position: relative;
}


/* == Helpers */
.rounded-corners (@radius: 5px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.rounded-top (@radius: 5px) {
  -moz-border-radius: @radius @radius 0 0;
  -webkit-border-radius: @radius @radius 0 0;
  border-radius: @radius @radius 0 0;
}

.inset-shadow(@color: #ddd, @offset: -1px) {
  -moz-box-shadow: @offset @offset 0 @color, @offset @offset 0 @color inset;
  -webkit-box-shadow: @offset @offset 0 @color, @offset @offset 0 @color inset;
  box-shadow: @offset @offset 0 @color, @offset @offset 0 @color inset;
}

.four-colors-gradient(@1, @2, @3, @4) {
  background: @1;
  background: linear-gradient(@1 0%,  @2 10%, @3 90%, @4 100%);
  background: -webkit-linear-gradient(@1 0%,  @2 10%, @3 90%, @4 100%);
  background: -moz-linear-gradient(@1 0%,  @2 10%, @3 90%, @4 100%);
  filter: e("progid:DXImageTransform.Microsoft.gradient(startColorstr='@1', endColorstr='@3')");
}

.right {float: right;}

.centered-vertical {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  text-align: center;
}

.margin-auto {
 margin: auto;
}

.ellipse-text {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.ul-reset {
  padding: 0;
  list-style-type: none;
}

/* == Page Layout */
.navbar {
  box-shadow: 0 0 10px #000;
  font-weight: 300;
  margin: auto;
  font-family: @sansSerif;
  .brand {
    width: 350px;
    color: #ccc;
    padding: 7px 20px 0;
    font-size: 2.2em;
    img {
      float: left;
      padding-right: 15px;
    }
    p {
      padding-top: 10px;
    }
    span {
      font-size: .5em;
      line-height: 1.9em;
      display: block;
    }
  }
  .nav > li > a {
    color: #aaa;
    padding-top: 54px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size:.8em;
    font-weight: 400;
    &:hover {
      color: #ccc;
      background-color: #555;
    }
  }
  .nav > .active > a {
    color: @brandColor;
  }
}

.dropdown-menu {
  background-color: #555;
  border: 0;
  border-radius: 0 2px 2px 2px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  margin-top: -1px;
  li a {
    color: #ccc;
    &:hover {
      background-color: #666;
      color: #ddd;
    }
  }
}

.form-actions {
  border-top: none;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-inner {
  border-radius: 0;
  background-color: #444;
}
.block {
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #444;
  box-shadow: 0px 1px 1px rgba(200,200,200,.6) inset,
              0 1px 1px rgba(230,230,230, .7);
  background-color: #F0F0F0;
  box-sizing: border-box;
  padding: 20px;
  color: #222;
}

.well {
  color: #333;
}

.btn {
  background-color: #555;
  background-image: none;
  border-radius: 2px;
  color: #DEDEDE;
  text-shadow: none;
  &:hover {
    background-color: #666;
    color: #FFF;
  }
}

.alert {
  ul {
    list-style-type: none;
  }
}

.docs {
  max-height: 840px;
  overflow:auto;
  tt {
    white-space:nowrap;
    font-family:monospace;
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: #ddd;
    font-size: .9em;
    padding: 1px 3px;
  }
}

.news-list {
  article {
    margin-left: 140px;
  }
}

.news-image-preview {
  float: left;
  padding: 15px;
}

.news-header {
  p {
    color: #999;
    font-size: .8em;
  }
  img {
    display: block;
    margin: auto;
  }
}

.sunken-box {
  border-bottom: 1px solid @brandColor;
  background-color: #222;
  box-shadow: inset 0 0 30px #111;
  font-weight: 300;
  text-align: left;
  padding: 20px;
  line-height: 1.8em;
  display: block;
  h2 {
    font-weight: 300;
  }
}

.code-editor {
  font-family: monospace;
  color: #EEE;
  background-color: #222;
  width: 100%;
  height: 500px;
}

.errorlist {
  color: red;
  li {
    list-style-type: none;
  }
}

.download-list {
  padding: 0;
  li {
    list-style-type: none;
  }
  &>li {
    padding: 15px 20px;
    border-bottom: 1px solid #555;
    &:last-child {
      border-bottom: none;
    }
    ul {
      width: 200px;
      border-right: 1px solid #444;
      display: table-cell;
    }
    p {
      display: table-cell;
      padding: 7px 34px;
      font-size: .9em;
      color: #AEAEAE;
    }
  }
  img {
    margin: 7px;
  }
}

.breadcrumb {
  margin: 0 0 20px;
  list-style: none;
  background-color: #222;
  overflow: hidden;
  li {
    float: left;
    position: relative;
    text-shadow: 0 1px 0 #ffffff;
    a {
      text-shadow: none;
      padding: 8px 0px 8px 50px;
      color: #AEAEAE;
      &:before, &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        margin-top: -30px;
      }
      &:after {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid @darkerBackground;
        right: -30px;
        z-index: 2;
      }
      &:before {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid #666;
        right: -31px;
        z-index: 1;
        color: blue;  // Weird webkit bug on links with href
      }
      &:hover {
        color: #FFF;
        text-decoration: none;
      }
    }
    &:first-child a {
      padding-left: 10px;
    }
  }
  & > .active {
    color: #999999;
  }
}

.footnote {
  font-size: .75em;
  color: #999;
  a {
    color: #aaa;
    border-bottom: 1px dotted rgba(150, 150, 150, .3);
    &:hover {
      text-decoration: none;
      border-bottom-color: #aaa;

    }
  }
}

/* == Classes */
.overlay {
  position: relative;
  display: block;
  top: -25px;
  padding: 5px;
  line-height: 25px;
  white-space: nowrap;
  background-color: rgba(0,0,0,.8);
  color: #EEE;
}

.game-header, .page-header {
  position: relative;
  margin: 0 0 5px;
  border: 0;
  .title {
    #gradient > .vertical(#111, @darkerBackground);
    color: #EEE;
    padding: 5px 0;
    span {
      color: #EDEDED;
      font-weight: 300;
      padding-left: 15px;
      font-size: 2em;
    }
    img {
      position: relative;
      float: left;
      top: 7px;
      margin-left: 20px;
    }
  }
  .buttons {
    float: right;
    margin-top: 7px;
    padding-right: 7px;
  }
}

.home-description {
  height: 290px;
  .centered-vertical;
  h2 { margin-top: 0; }
  img {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.45);
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
  }
}

.messages {
  position: fixed;
  top: 100px;
  margin: auto;
  width: 100%;
  text-align: center;
  list-style-type: none;
  z-index: 1010;
  li {
    margin: 0 150px;
  }
}

.message-view {
  margin: 21px auto;
  border: 1px solid @darkBackground;
  border-radius: 4px;
  background-color: @darkerBackground;
  padding: 30px;
  width: 500px;
}

.form-view {
  .message-view;
  & > h1 {
    margin-top: 0;
  }
}

.form-view-wide {
  .form-view;
  width: 650px;
}

.carousel.cross-fade {
  .item {
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
  }
  .active.left,
  .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .next,
  .prev {
    left: 0;
    z-index: 1;
  }
  .carousel-control {
    z-index: 3;
  }
}

#screenshots {
  background-color: #111;
  box-shadow: 0 5px 5px -2px rgba(0,0,0,.6);

  .screenshots-slider {
    .centered;
    height: @screenshotsHeight;
    width: @screenshotsWidth;
  }
  .screenshot-menu {
    opacity: 0;
    padding-bottom: 50px;
    position: absolute;
    width: @screenshotsWidth;
    &:hover { opacity: 1; }
  }
  .screenshot {
    .centered-vertical;
    background-color: #000;
    height: @screenshotsHeight;
    width: @screenshotsWidth;
    img {
      cursor: zoom-in;
      cursor: -webkit-zoom-in;
    }
  }
  .unpublished {
    border-left: 2px solid #C50000;
  }
}

.screenshots-bar {
  background-color: #151515;
  border-bottom: 1px solid #444;
  height: 26px;
  padding-right: 4px;
  padding-top: 4px;
}

.carousel-control {
  opacity: 0;
  &:focus {
    opacity: 0;
    outline: none;
  }
  &:hover { opacity: 1; }
  .icon-prev {
    left: 35px;
    &:before {
      content: '\25C0'; /* Left pointing arrow (U+25C0) */
    }
  }
  .icon-next {
    right: 13px;
    &:before {
      content: '\25B6'; /* Right pointing arrow (U+25B6) */
    }
  }
}

.carousel-indicators {
  bottom: auto;
  left: 0;
  margin-left: 10px;
  text-align: left;

  li {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #555;
    height: 12px;
    margin: 0 1px 0 0;
    width: 12px;

    &.active {
      background-color: #cc6600;
      box-shadow: 0 0 1px 2px #000 inset;
      margin-right: 1px;
    }

    &.unpublished {
      border: 2px solid #C50000;
      &.active { background-color: #C50000; }
    }
  }
}

.game-info {
  font-size: .8em;
  color: #DDD;
  padding: 0 14px;

  .banner {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    display: block;
    margin-bottom: 14px;
  }

  ul {
    .ul-reset;
    margin-bottom: 10px;
  }
  li {
    padding: 7px 0;
    border-bottom: 1px solid @darkerBackground;
    &:last-child {
      border-bottom: none;
    }
  }
  .info-label {
    color: #888;
  }
  a {
    color: #DDD;
  }

  .in-library {
    width: 112px;
    background-color: #365278;
    &:hover { background-color: #7e2b2b; }
    &:hover span { display: none; }
    &:hover:before { content: "Remove it"; }
  }
}

.big-button {
  color: #FFFFFF;
  border-color: #a84300;
  background-color: #fc6500;
  display: block;
  padding: 15px;
  margin: 20px 10px;
  font-size: 1.2em;
  text-align: center;
  width: 160px;
  border: 2px solid #C85000;
  text-decoration: none;
  -moz-border-radius: 15px;
}

.game-list-header {
  background-color: #222;
  color: #777;
  font-size: .8em;
  padding: 6px;
  border-bottom: 2px solid @brandColor;
  h2 {
    display: inline;
  }
  span {
    display: inline-block;
    padding-left: 100px;
  }
}

.game-filter {
  float: right;
  input {
    background-color: #444;
    color: #CCC;
    border: 1px solid #666;
    padding: 0 4px;
  }
}

.game-list {
  margin: 0;
  .ul-reset;
  li {
    border-bottom: 2px solid #252525;
    color: #999;
    padding: 8px;
    margin-bottom: 5px;
    background-color: @darkerBackground;
  }
  a {
    color :#DDD;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  .filter-link {
    background-color: #666;
  }
  .with-installer {
    background-color: @darkBackground;
    .game-title {
      color: @brandColor;
    }
  }
  .game-cover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    float: left;
    text-transform: uppercase;
    line-height: 69px;
    background-color: #666;
    text-align: center;
    margin-right: 15px;
    color: #AAA;
    font-size: 1.5em;
    position: relative;
    &:hover { bottom: 1px; }
    &:active { bottom: -1px; }
  }
  .game-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #D9B555;
  }
  .logo {
    float: left;
    vertical-align: top;
    margin-right: 20px;
  }
  .info {
    font-size: .8em;
    a {
      margin-right: 6px;
      border-bottom: 1px dotted #666;
    }
  }
}

.mini-game-list {
  margin: 10px auto;
  text-align: center;
  a {
    color: #EEE;
    padding: 7px;
    background-color: #222;
    display: inline-block;
    font-size: .8em;
    font-weight: 500;
    width: 184px + 2 * 7px;
    margin-bottom: 20px;
    text-decoration: none;
    &:hover, &:focus {
      background-color: #444;
      outline: 0;
    }
  }
  .game-cover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
    position: relative;
    &:active { bottom: -2px; }
  }
  .game-title { .discreet-text }
}

.pane {
  padding: 0px 14px;
  p {
    padding: 10px;
    color: #ACACAC;
  }
}

.main-button {
  @backgroundColor: @brandColor;
  color: #111;
  padding: 7px;
  background-color: @backgroundColor;
  text-align: center;
  font-size: .95em;
  font-weight: 500;
  .four-colors-gradient(#FF9900, #FFC433, #DD7700, #CC4400);
  border-radius: 5px;
  display: block;
  width: 230px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  span {
    display: block;
    font-size: .95em;
    color: #444;
    text-transform: capitalize;
  }
  &:hover {
    .four-colors-gradient(#FF9900, #FFDF3D, #F29000, #CC4400);
    color: #222;
    text-decoration: none;
  }
}

.choice-list {
  .ul-reset;
  li {
    margin: 10px 20px 3px 0px;
    min-width: 130px;
  }
  a {
    background-color: #222;
    border-radius: 2px;
    padding: 4px 14px;
    display: block;
    text-transform:capitalize;
    font-size: 1.1em;
    color: #EDEDED;
    &:hover {
      background-color: #444;
      text-decoration: none;
    }
  }
  img {
    margin-right: 4px;
  }
}

.installer-list {
  background-color: @darkerBackground;

  .installer-name {
    background-color: #888;
    color: #000;
    font-family: monospace;
    font-size: .8em;
    padding: 5px 7px 3px;
    .rounded-corners(2px);
  }
  p {
    margin: 7px 7px 0;
    width: 80%;
  }
  ul {
    .ul-reset;
    margin-bottom: 0;
  }
  .installer-details {
    .clearfix;
    padding: 14px 7px;
    border-bottom: 1px solid #444;
    .centered-vertical {
      height: 33px;
    }
  }
  .installer-unpublished {
    border-left: 2px solid #700;
    background-color: #333;
  }
  .new-installer {
    background-color: #151515;
    height: 25px;
    a {
      padding: 4px 4px 0;
    }
  }
}

.filter-list {
  .ul-reset;
  list-style-position: inside;
  margin: 0;
  li {
    margin: 5px 20px;
  }
  a {
    display: block;
    padding-left: 15px;
  }
}
.filter-link {
  margin-left: 4px;
  background-color: #555;
  font-size: .8em;
  text-transform: uppercase;
  padding: 3px 6px;
  color: #EDEDED;
  &:hover {
    background-color: #666;
    color: inherit;
    text-decoration: none;
  }
}

.box-link {
  margin: 5px 0;
  border: 1px solid @darkBackground;
  padding: 2px;
  padding-right: 7px;
  display: inline-block;
  img {
    margin-right: 7px;
  }
  &:hover {
    text-decoration: none;
    background-color: @darkerBackground;
  }
}

.user-library {
  .right-button {
    position: relative;
    top: 0px;
    float: right;
    .help {
      position: absolute;
      white-space:nowrap;
      top: -5px;
      right: 7px;
      font-size: .9em;
      background-color: #4c4c4c;
      padding: 3px 7px;
      border-radius: 2px;
      color: #333;
      &:hover {
        background-color: #777;
        color: #DEDEDE;
      }
    }
  }
}

/*Submit game form: banner thumbnail*/
#div_id_title_logo .jcrop-fileinput-thumbnail {
  height: initial;
  padding: 1px;
  width: initial;
  img {
    max-height: initial;
    max-width: initial;
  }
}

/*Installer edit form: runner dropdown*/
#s2id_id_runner {
    width: 200px;
}
