@siteWidth: 940px;

/* == Functions */
.rounded-corners (@radius: 5px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.rounded-top (@radius: 5px) {
    -moz-border-radius: @radius @radius 0 0;
    -webkit-border-radius: @radius @radius 0 0;
    border-radius: @radius @radius 0 0;
}

.inset-shadow(@color: #ddd, @offset: -1px) {
    -moz-box-shadow: @offset @offset 0 @color, @offset @offset 0 @color inset;
    -webkit-box-shadow: @offset @offset 0 @color, @offset @offset 0 @color inset;
    box-shadow: @offset @offset 0 @color, @offset @offset 0 @color inset;
}

.top-down-gradient(@gradient-start: #555, @gradient-end: #EEE) {
    background: @gradient-end;
    filter: e("progid:DXImageTransform.Microsoft.gradient(startColorstr='@gradient-start', endColorstr='@gradient-end')");
    background: -webkit-gradient(linear, left top, left bottom, from(@gradient-start), to(@gradient-end));
    background: -moz-linear-gradient(top,  @gradient-start,  @gradient-end);
}

h3 {
  font-size: 21px;
}

/* == Tags */
body {
  background-color: #121212;
}

h1, h2, h3, h4 {
  font-weight: 800;
  word-spacing: .1em;
  margin-bottom: .8em;
}
h2 {
  font-size: 1.4em;
}
.navbar {
  width: @siteWidth;
  margin: auto;
}

.icon {
  position: relative;
  float: left;
  top: -48px;
  margin-right: 20px;
}

.code-editor {
  font-family: monospace;
  color: #EEE;
  background-color: #222;
  width: 100%;
  height: 500px;
}

.errorlist {
  color: red;
  li {
      list-style-type: none;
  }
}
/* == Content */
#content {
    width: @siteWidth;
    font-size: 1em;
    color: #E0E0E0;
}
.feature {
  width: 400px;
  height: 300px;
}

.overlay {
  display: block;
  background-color: rgba(0,0,0,.8);
  color: #EEE;
  padding: 5px;
  position: relative;
  line-height: 25px;
  top: -25px;
  white-space: nowrap;
}
.game-header {
    background-color: #000;
    background-image: url("/media/images/banners/quake-banner.jpg");
    background-repeat: no-repeat;
    height: 150px;
    position: relative;
    h1 {
        position: absolute;
        height: 50px;
        left: 0;
        right: 0;
        background-color: #222;
        opacity: .8;
        bottom: 0px;
        font-size: 25px;
        line-height: 50px;
        a {
            color: #EDEDED;
            text-decoration: none;
        }
        img {
            vertical-align: middle;
            padding-left: 15px;
            opacity: 1;
        }
    }
}

.screenshots {
    padding: 10px;
    border: 1px solid #333;
}
.game-info {
    padding: 10px;
    border: 1px solid #333;
    font-size: .7em;
    color: #DDD;
    strong {
        margin-top: .5em;
        display: block;
        font-weight: bold;
        color: #CCC;
        font-size: 1.1em;
    }
    a {
        color: #DDD;
    }
}
/* == Blocks */

.block {
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #444;
  box-shadow: 0px 1px 1px rgba(200,200,200,.6) inset,
              0 1px 1px rgba(230,230,230, .7);
  background-color: #F0F0F0;
  box-sizing: border-box;
  padding: 20px;
  color: #222;

}

/* == Forms */
.base-form {
    label {
      display: block;
      font-size: .9em;
      line-height: 1.6em;
    }
    .form-row {
      display: block;
    }
    input[type=text], input[type=password] {
      font-size: 1.1em;
      color: #555;
      border: 2px solid #444;
      background-color: #EDEDED;
      margin-bottom: 1em;
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
      border-radius: 4px;
      box-shadow: 0 2px 2px rgba(30,30,30,.3) inset;
    }
}

.big-button {
    color: #FFFFFF;
    border-color: #a84300;
    background-color: #fc6500;
    padding: 15px;
    display: block;
    font-size: 1.2em;
    text-align: center;
    width: 160px;
    -moz-border-radius: 15px;
    /*
    -webkit-gradient: (linear, left bottom,left top,color-stop(0.45, rgb(148,30,12)), color-stop(0.74, rgb(219,139,48)), color-stop(0.94, rgb(255,195,161)));
    -moz-linear-gradient: (center bottom, rgb(148,30,12) 45%, rgb(219,139,48) 74%, rgb(255,195,161) 94%);
    */
    margin: 20px 10px;
    border: 2px solid #C85000;
    text-decoration: none;
}
.breadcrumb {
    a {
        color: #AAA;
        font-weight: bold;
        text-decoration: none;
        font-size: .9em;
    }
}
.game_list_element {
    border: 1px solid #333;
    padding: 10px;
    height: 148px;
    a {
        color :#DDD;
        text-decoration: none;
    }
    .game-title {
        font-size: 1.3em;
    }
    .logo {
        float: left;
        vertical-align: top;
        margin-right: 20px;
    }
    .info {
        font-size: .8em;
    }
}

.download-pane {
    margin: 140px 40px;
    h1 {
        font-size: 2em;
        font-weight: bolder;
        em {
            font-weight: 100;
            font-size: 0.7em;
        }
    }
    h2 {
        color: #AAA;
        font-style: italic;
    }
    li {
        list-style-type: square;
        font-size: 0.8em;
        line-height: 1.8em;
    }
}

