/* == Functions */
h3 {
  font-size: 21px;
}
/* == Tags */
body {
  background-color: #121212;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
  word-spacing: .1em;
  margin-bottom: 1em;
  text-shadow: -1px 2px 2px #777777;
  padding: 0 1em;
}
h2 {
  font-size: 1.3em;
}
.navbar {
  width: 940px;
  margin: auto;
}
.icon {
  position: relative;
  float: left;
  top: -48px;
  margin-right: 20px;
}
/* == Content */
#content {
  width: 940px;
  font-size: 1em;
  color: #E0E0E0;
}
.feature {
  width: 400px;
  height: 300px;
}
.overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  color: #EEE;
  padding: 5px;
  position: relative;
  line-height: 25px;
  top: -25px;
  white-space: nowrap;
}
.game-header {
  background-color: #000;
  background-image: url("/media/images/banners/quake-banner.jpg");
  background-repeat: no-repeat;
  height: 150px;
  position: relative;
}
.game-header h1 {
  position: absolute;
  height: 50px;
  left: 0;
  right: 0;
  background-color: #222;
  opacity: .8;
  bottom: 0px;
  font-size: 25px;
  line-height: 50px;
}
.game-header h1 a {
  color: #EDEDED;
  text-decoration: none;
}
.game-header h1 img {
  vertical-align: middle;
  padding-left: 15px;
  opacity: 1;
}
.screenshots {
  padding: 10px;
  border: 1px solid #333;
}
.game-info {
  padding: 10px;
  border: 1px solid #333;
  font-size: .7em;
  color: #DDD;
}
.game-info strong {
  margin-top: .5em;
  display: block;
  font-weight: bold;
  color: #CCC;
  font-size: 1.1em;
}
.game-info a {
  color: #DDD;
}
/* == Blocks */
/* == Forms */
.base-form label {
  display: block;
  color: #DDD;
  font-size: .9em;
  line-height: 1.6em;
}
.base-form .form-row {
  display: block;
}
.base-form input[type=text],
.base-form input[type=password] {
  color: #444;
  border: 2px solid #444;
  background-color: #AAA;
  margin-bottom: 1em;
  padding: 5px;
  width: 100%;
}
.base-form input[type=submit],
.base-form input[type=button] {
  border-radius: 4px;
  border: 1px solid #FF9400;
  color: #FF9400;
  padding: 5px;
}
.base-form .errorlist {
  color: red;
}
.base-form .errorlist li {
  list-style-type: none;
}
.big-button {
  color: #FFFFFF;
  border-color: #a84300;
  background-color: #fc6500;
  padding: 15px;
  display: block;
  font-size: 1.2em;
  text-align: center;
  width: 160px;
  -moz-border-radius: 15px;
  /*
    -webkit-gradient: (linear, left bottom,left top,color-stop(0.45, rgb(148,30,12)), color-stop(0.74, rgb(219,139,48)), color-stop(0.94, rgb(255,195,161)));
    -moz-linear-gradient: (center bottom, rgb(148,30,12) 45%, rgb(219,139,48) 74%, rgb(255,195,161) 94%);
    */

  margin: 20px 10px;
  border: 2px solid #C85000;
  text-decoration: none;
}
.breadcrumb a {
  color: #AAA;
  font-weight: bold;
  text-decoration: none;
  font-size: .9em;
}
.game_list_element {
  border: 1px solid #333;
  padding: 10px;
  height: 148px;
}
.game_list_element a {
  color: #DDD;
  text-decoration: none;
}
.game_list_element .game-title {
  font-size: 1.3em;
}
.game_list_element .logo {
  float: left;
  vertical-align: top;
  margin-right: 20px;
}
.game_list_element .info {
  font-size: .8em;
}
.download-pane {
  margin: 140px 40px;
}
.download-pane h1 {
  font-size: 2em;
  font-weight: bolder;
}
.download-pane h1 em {
  font-weight: 100;
  font-size: 0.7em;
}
.download-pane h2 {
  color: #AAA;
  font-style: italic;
}
.download-pane li {
  list-style-type: square;
  font-size: 0.8em;
  line-height: 1.8em;
}
