<div style="margin: 5px; padding: 10px; background-color: #eee; max-width: 600px; 
    margin-bottom: 15px; box-shadow: 1px 2px 5px 0px rgba(148,148,148,1);">

  <table style="background-color: #fefefe; width: 100%;">
    {% if not for_game %}
      <tr>
        <th>Changes for</th>
        <td><a href="{% url 'game_detail' change.change_for.slug %}">{{ change.change_for.name }}</a></td>
      </tr>
    {% endif %}
    <tr>
      <th>From</th>
      <td>{{ change.author }}</td>
    </tr>
    <tr>
      <th>Reason</th>
      <td>{% if change.reason %} {{ change.reason }} {% else %} <em>No reason given</em> {% endif %}</td>
    </tr>
    <tr>
      <th>Diff</th>
      <td style="padding: 0;">
        <table style="width: 100%; border: 0;">
          {% for entry, old_value, new_value in change.diff %}
            <tr>
              <th>field</th>
              <td>{{ entry }}</td>
            </tr>
            <tr style="color: red; background-color: #fbe9eb;">
              <th>old</th>
              <td>{{ old_value }}</td>
            </tr>
            <tr style="color: green; background-color: #ecfdf0;">
              <th>new</th>
              <td>{{ new_value }}</td>
            </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <th>Actions</th>
      <td>
        <a href="{% url 'admin-change-submission-accept' change.id %}?redirect={{ request.get_full_path }}"
          class="grp-button grp-default">Accept</a>
        <a href="{% url 'admin-change-submission-reject' change.id %}?redirect={{ request.get_full_path }}"
          class="grp-button grp-delete-link">Reject</a>
      </td>
    </tr>
  </table>

</div>
