{% extends "admin/base_site.html" %}
{% block breadcrumbs %}
<ul>
    <li><a href="../../">Home</a></li>
    <li><a href="../">Games</a></li>
    <li>{{ title }}</li>
</ul>
{% endblock %}
{% block content %}

<div class="g-d-c">
  <dic class="g-d-12">
    <div class="grp-module">
      <h2>Changes</h2>
      {% for c in change_suggestions %}
        <div class="grp-row">
          <a href="{% url 'admin-change-submission' c.id %}"><strong>{{ c.change_for.name }}</strong></a>
        </div>
      {% endfor %}
    </div>
  </dic>
</div>

{% endblock %}
