{% extends "admin/base_site.html" %}
{% block breadcrumbs %}
<ul>
    <li><a href="../../../">Home</a></li>
    <li><a href="../../">Games</a></li>
    <li>{{ title }}</li>
</ul>
{% endblock %}
{% block content %}

<div class="grp-content-container">
  <table style="max-width: 600px;">
    <tr>
      <td></td>
      <th>Old</th>
      <th>New</th>
    </tr>
    {% for entry, old_value, new_value in changes %}
      <tr><th>{{entry}}</th><td>{{old_value}}</td><td>{{new_value}}</td></tr>
    {% endfor %}
  </table>

  <div style="margin-top: 1em;">
    <a href="{% url 'admin-change-submission-accept' submission_id %}"
        class="grp-button grp-default">Accept</a>
    <a href="{% url 'admin-change-submission-reject' submission_id %}"
        class="grp-button grp-delete-link">Reject</a>
  </div>

</div>

{% endblock %}
