{% load static from staticfiles %}

<footer id="footer" class="bg-darker py-3 text-lighter d-flex justify-content-center">
  <div class="row">
    <div class="col mx-3">
      <a href="https://github.com/lutris" class="border-0">
        <i class="bi-github" style="font-size: 2rem;"></i>
      </a>
    </div>
    <div class="col mx-3">
      <a href="https://fosstodon.org/@lutris" class="border-0">
        <i class="bi-mastodon" style="font-size: 2rem;"></i>
      </a>
    </div>
    <div class="col mx-3">
      <a href="https://twitter.com/LutrisGaming" class="border-0">
        <i class="bi-twitter" style="font-size: 2rem;"></i>
      </a>
    </div>
    <div class="col mx-3">
      <a href="{{ DISCORD_URL }}" class="border-0">
          <i class="bi-discord" style="font-size: 2rem;"></i>
      </a>
    </div>
    <div class="col mx-3">
      <a href="https://patreon.com/lutris">
        <img src="{% static 'images/patreon.png' %}" alt="Support Lutris on Patreon" />
      </a>
    </div>
  </div>
</footer>
