{% load static from staticfiles %}
<nav class="navbar navbar-expand-lg bg-darker">
  <a class="logo navbar-brand" href="/">
    <img src="{% static 'images/logo.png' %}" alt="Lutris" />
    <span>Lutris</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
    aria-controls="navbar"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="main-nav">
      <li class="nav-item"><a class="main-nav-button nav-link" href="{% url 'downloads' %}">Download</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'donate' %}">Support us!</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'game_list' %}">Games</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-2" action="{% url 'game_list' %}" method="get">
      <div class="input-group">
        <i class="fas fa-search fa-lg text-lighter my-auto mr-2" aria-hidden="true"></i>
        <input type="text"
              name="q"
              class="form-control bg-dark text-primary border-0 shadow-none"
              id="global-search"
              placeholder="Search…" />
      </div>
    </form>
    {% if user.is_authenticated %}
      <div class="account-info">
        <a href="{% url 'user_account' user.username %}">
          <img src="{{user.avatar_url}}" title="{{user.username}}"/>
        </a>
      </div>
    {% else %}
      <div class="account-action">
        <a href="{% url 'login' %}" data-toggle="tooltip" data-placement="bottom" title="Log in"><i class="fas fa-sign-in-alt fa-lg"></i></a>
        <a href="{% url 'register' %}" data-toggle="tooltip" data-placement="bottom" title="Register"><i class="fas fa-file-signature fa-lg"></i></a>
      </div>
    {% endif %}
  </div>
</nav>
