
<link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/themes/dark/dark.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
      var slider_images = $(".nivoSlider").find('img')
      if(slider_images.length) {
        $(".nivoSlider").nivoSlider();
        } else {
          $(".nivoSlider").removeClass(".nivoSlider");
        }
  })
</script>
