<div class="pane">
  {% with main_download.items.0 as download  %}
  <a href="{{ download.1 }}" class='main-button'>
    Download Lutris 0.3.2
    <span><img src="{{ STATIC_URL }}images/{{ download.0 }}.png" alt="Download for {{ download.0 }}" />for {{ download.0 }}</span>
  </a>
  {% endwith %}
  <div>
    <h4>Other downloads</h4>
    <ul class="choice-list">
      {% for download in downloads.items  %}
        <li>
        <a href="{{ download.1 }}"><img src="{{ STATIC_URL }}images/{{ download.0 }}.png" alt="Download for {{ download.0 }}" /> {{ download.0}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
