<div class="pane">
  {% with main_download.items.0 as download  %}
  <a href="{{ download.1 }}" class='main-button'>
    Download Lutris client
    <span><img src="{{ STATIC_URL }}images/{{ download.0 }}.png" />for {{ download.0 }}</span>
  </a>
  {% endwith %}
  <p>
    <h4>Other downloads</h4>
    <ul class="choice-list">
      {% for download in downloads.items  %}
        <li>
          <a href="{{ download.1 }}"><img src="{{ STATIC_URL }}images/{{ download.0 }}.png" /> {{ download.0}}</a>
        </li>
      {% endfor %}
    </ul>
  </p>
</div>
