<div class="container py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Play all your games blabla</h2>
  <div class="row g-5 py-5">
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
      </div>
      <div>
        <h2>Featured title</h2>
        <p>
            Lutris uses community contributed installation scripts to provide an
            optimal experience and setup. Once installed, games are launched with
            programs called runners. Those runners include RetroArch, Dosbox,
            customized Wine versions and many more!
        </p>
        <a href="/downloads" class="btn btn-primary">Download Lutris</a>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
      </div>
      <div>
        <h2>Featured title</h2>
        <p>
            We are a fully independent project and Lutris will always remain free of charge.
            In order to keep the project alive, we need your support! Donations fund the
            entirety of the development and hosting costs, please consider becoming one of
            our supporters!
        </p>
        <a href="/donate" class="btn btn-primary rounded">Support us</a>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
      </div>
      <div>
        <h2>Featured title</h2>
        <p>
            We want to provide a powerful yet simple platform for everyone to enjoy all
            their games, old and new. This is possible thanks to our amazing community.
            Join us and help us make Linux a top-tier gaming platform!
        </p>
        <a href="https://github.com/lutris" class="btn btn-primary rounded">Contribute</a>
      </div>
    </div>
  </div>
</div>