{% load thumbnail %}

.carousel.slide(id='featured-slider')
    .carousel-inner.featured-slider
        for featured in featured_contents
            a(href='{{ featured.content_object.get_absolute_url }}',class='item {% if forloop.first %}active{% endif %}')
                {% thumbnail featured.image "877x280" crop="top" as img %}
                img(src="{{ img.url }}",width=877,height=280,title="{{ featured.description }}",alt="{{ featured.description }}")
                {% endthumbnail %}
                span(class="carousel-caption") {{ featured.description }}
    a(class='left carousel-control',href='#featured-slider',data-slide='prev')
        span(class="icon-prev") &nbsp;
    a(class='right carousel-control',href='#featured-slider',data-slide='next')
        span(class="icon-next") &nbsp;

block scripts
  script
    $(function(){
        $("#featured-slider").carousel('cycle');
    })
