{% load thumbnail %}


li.clearfix
    a(href="{{ game.get_absolute_url }}")
        {% thumbnail game.title_logo "184x69" as img %}
        img.game-cover(src="{{ img.url }}",alt="{{ game.name }}")
        {% empty %}
        span.game-cover no image
        {% endthumbnail %}
    div
        a.game-title(href='{{ game.get_absolute_url }}') {{ game.name }}
        for platform in game.platforms.all
            a.filter-link(href='{% url "games_by_plaform" slug=platform.slug %}') {{ platform }}
        .info
            div
                for genre in game.genres.all
                    a(href="{ url 'games_by_genre' genre.slug %}") {{ genre }}
                if game.year
                    Released in 
                    a(href="{ url 'games_by_year' game.year %}") {{ game.year }}
                    br
                if game.developer
                    Developed by 
                    a(href="{ url 'games_by_company' game.developer.slug %}") {{ game.developer }}
                if game.publisher
                    Published by 
                    a(href="{ url 'games_by_company' game.publisher.slug %}") {{ game.publisher }}
