{% load thumbnail %}

<li style="padding-left: 1em;" class="{% if game.has_installer %} with-installer{% endif %}">

  <div class="row" style="display: flex;">
    <div style="width: 184px; margin-right: 1em;">
      {% if not game.change_for %}
        <a href="{{ game.get_absolute_url }}">
          {% thumbnail game.title_logo "184x69" crop="center" as img %}
            <img src="{{ img.url }}" alt="{{ game.name }}"/>
          {% empty %}
            <span>no image</span>
          {% endthumbnail %}
        </a>
      {% else %}
        {% thumbnail game.change_for.title_logo "184x69" crop="center" as img %}
          <img src="{{ img.url }}" alt="{{ game.change_for.name }}"/>
        {% empty %}
          <span>no image</span>
        {% endthumbnail %}
      {% endif %}
    </div>
    <div class="hidden-xs" style="width: 100%;">
      <div class="row">
        <!--<div class="col">-->
          {% if not game.change_for %}
            <a href="{{ game.get_absolute_url }}" title="{{ game.name }}"
               class="game-title ellipse-text" style="max-width: 640px;">{{ game.name }}</a>
          {% else %}
            <a class="game-title ellipse-text" title="{{ game.change_for.name }}"
            style="max-width: 640px;">[Change suggestions for] {{ game.change_for.name }}</a>
          {% endif %}
          {% if is_library %}
            <a title="Remove from Library" href="{% url 'remove_from_library' slug=game.slug %}" class="right-button">
              <i class="fas fa-trash-alt"></i>
            </a>
          {% endif %}
        <!--</div>-->
      </div>
      <div class="row">
        Platforms:
        {% for platform in game.platforms.all %}
        <a href="{% url 'games_by_plaform' slug=platform.slug %}" class="filter-link">{{ platform }}</a>
        {% endfor %}
      </div>
      <div class="info">
        Genre:
        {% for genre in game.genres.all %}
          <a href="{% url 'games_by_genre' genre.slug %}">{{ genre }}</a>
        {% endfor %}
        {% if game.year %}
          Released in <a href="{% url 'games_by_year' game.year %}">{{ game.year }}</a>
        {% endif %}
        {% if game.developer %}
          Developed by <a href="{% url 'games_by_company' game.developer.slug %}">{{ game.developer }}</a>
        {% endif %}
        {% if game.publisher %}
          Published by <a href="{% url 'games_by_company' game.publisher.slug %}">{{ game.publisher }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</li>
