{% load thumbnail %}

<li class="{% if game.has_installer %} with-installer{% endif %}">

  <div class="game-image">
    {% if not game.change_for %}
      <a href="{{ game.get_absolute_url }}">
        <img src="{{ game.banner_url }}" alt="{{ game.name }}"/>
      </a>
    {% else %}
      <img src="{{ game.change_for.banner_url }}" alt="{{ game.change_for.name }}"/>
    {% endif %}
  </div>

  <div class="game-info">

    <a href="{{ game.get_absolute_url }}"
        title="{{ game.name }}"
        class="game-title">{{ game.name }}</a>

    {% if is_library %}
      <a title="Remove from Library" href="{% url 'remove_from_library' slug=game.slug %}" class="right-button">
        <i class="fas fa-trash-alt"></i>
      </a>
    {% endif %}

    <div class="game-meta">
      <span>
      Platforms:
      {% for platform in game.platforms.all %}
        <a href="{% url 'games_by_plaform' slug=platform.slug %}" class="filter-link">{{ platform }}</a>
      {% endfor %}
      </span>
      {% if game.developer %}
        <span>
        Developed by <a href="{% url 'games_by_company' game.developer.slug %}">{{ game.developer }}</a>
        </span>
      {% endif %}

      {% if game.publisher %}
      <span>
        Published by <a href="{% url 'games_by_company' game.publisher.slug %}">{{ game.publisher }}</a>
      </span>
      {% endif %}
      <br>
      <span>
      Genre:
      {% for genre in game.genres.all %}
        <a href="{% url 'games_by_genre' genre.slug %}">{{ genre }}</a>
      {% endfor %}
      </span>

      {% if game.year %}
        <span>
          Released in <a href="{% url 'games_by_year' game.year %}">{{ game.year }}</a>
        </span>
      {% endif %}
      <br>
    </div>
  </div>

</li>
