  <div>
    {% if page_obj.has_previous %}
      <a title="First Page" class=""
          href="?page=1&paginate_by={{ paginate_by }}&ordering={{ order_by }}{{ filter_string }}">
        <i class="bi-chevron-double-left"></i>
      </a>
      <a title="Previous Page" class="mx-2"
          href="?page={{ page_obj.previous_page_number }}&paginate_by={{ paginate_by }}&ordering={{ order_by }}{{ filter_string }}">
        <i class="bi-chevron-left"></i>
      </a>
    {% endif %}
    {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ paginator.count }}
    {% if page_obj.has_next %}
      <a title="Next Page" class="mx-2"
          href="?page={{ page_obj.next_page_number }}&paginate_by={{ paginate_by }}&ordering={{ order_by }}{{ filter_string }}">
        <i class="bi-chevron-right"></i>
      </a>
      <a title="Last Page" class=""
          href="?page={{ paginator.num_pages }}&paginate_by={{ paginate_by }}&ordering={{ order_by }}{{ filter_string }}">
        <i class="bi-chevron-double-right"></i>
      </a>
    {% endif %}
  </div>
