{% load thumbnail %}

.carousel.slide(id='screenshots')
    if screenshots
        .carousel-inner.screenshots-slider
            for screenshot in screenshots
                div(class="item {% if forloop.first %}active{% endif %}")
                    div(class="centering")
                        {% thumbnail screenshot.image '690x430' as img %}
                        img(src="{{ MEDIA_URL }}/{{ img }}", title="{{ screenshot.description }}")
                        {% endthumbnail %}
        if screenshots.count > 1
            a(class='left carousel-control',href='#screenshots',data-slide='prev')
                span(class="icon-prev") &nbsp;
            a(class='right carousel-control',href='#screenshots',data-slide='next')
                span(class="icon-next") &nbsp;

block scripts
    script
        $(function(){
            $("#screenshots").carousel('cycle');
        })
