[Unit]
Description=Celery daemon
After=network.target

[Service]
User=strider
Group=strider
WorkingDirectory=/srv/prod/website/
EnvironmentFile=/srv/prod/website/.env.prod
ExecStart=/srv/prod/venv/bin/celery -A lutrisweb.celery.app worker -B -l info

[Install]
WantedBy=multi-user.target