{% extends "base.html" %}
{% load lutris %}
{% load static from staticfiles %}
{% block title %}About Lutris{% endblock %}


{% block content %}
  <h1 class="text-center pb-3">About Lutris</h1>
  <div class="row">
    <div class='col-md-4'>
      <p>
        Lutris is a gaming client for Linux. It gives you access to all your
        video games with the exception of the current console generation.  You
        can, in a single interface, run any game from your childhood memories
        to the current multiplayer games.

        Integrations with stores like GOG and Steam allow you to import your
        existing game library and community maintained install scripts give you
        a completely automated setup.
      </p>
    </div>
    <div class="col-md-8">
        <img src="{% static 'images/screenshots/main-window.png' %}"
             class="shadow w-100 text-primary"
             alt="Lutris main window"/>
    </div>
  </div>

  <h1 class="text-center pt-5 pb-3">How does it work?</h1>
  <div class="row">
    <div class="col-md-4 col-sm-6 hidden-xs">
        <img src="{% static 'images/screenshots/install-dialog.png' %}"
             class="shadow w-100 text-primary"
             alt="Installer selection window for The Witcher 2"/>
    </div>
    <div class="col-md-8 col-sm-6">
      <p>
        Lutris uses what we refer as <a href="{% url "runners_list" %}">runners</a>. Runners are programs that the
        client can control and launch. Our most popular runners include
        RetroArch, DosBox, FS-UAE, ScummVM, MESS, Dolphin and of course Wine TkG,
        a build of Wine optimized to give you the best performance out of your
        system.

        It is also possible to launch Linux native games, we have a large
        selection of free and Open Source games ready to install from the
        client. Download the client and start playing in minutes!
      </p>
    </div>
  </div>

  <h1 class="text-center pt-5 pb-3">A focus on video game preservation</h1>
  <div class="row">
    <div class="col-md-6">
      <p>
        Video games are now part of our history and our culture. If we want to keep a
        trace of the actual games and not just videos or articles about them, we need
        have a way to play them in a way that would closely match how the game was
        meant to be experienced. We also need to make sure that the games we have today
        still work tomorrow. This is why the choice of Linux as a gaming environment is
        so important. In a closed ecosystem, our legacy is at the mercy of software
        vendors able to kill features required to run some games. While we cannot
        support each and every recent AAA release, mostly due to DRM and anti-cheat
        incompatibilities, Lutris does support a vast majority of every game ever
        released in history, on a wide variety of hardware systems.
      </p>
    </div>
    <div class="col-md-6">
      <figure class="tiled">
        <img src="{% static 'images/games/turrican.png' %}" alt="Turrican 2 on Amiga"/>
        <img src="{% static 'images/games/dark-forces.jpg' %}" alt="Dark Forces on MS Dos" />
        <img src="{% static 'images/games/the-sims-2.jpg' %}" alt="The Sims 2 on Windows" />
        <img src="{% static 'images/games/thps2.png' %}" alt="Tony Hawks Pro Skater 2 on PlayStation" />
      </figure>
    </div>
  </div>
{% endblock %}
