{% extends "base.html" %}

{% block content %}
<h1>Contact us</h1>
<div class="row">
  <div class="col-xs-12">
    <h2>Email</h2>
    <article>
      <p>
        You can send us an email at <a href='mailto:contact@lutris.net'>contact@lutris.net</a>
      </p>
    </article>
    <h2>IRC</h2>
    <article>
      <p>
        Come chat with us on the <a
          href='irc://irc.freenode.org:6667/lutris'>#lutris</a> channel on
        Freenode.<br/>
        Please keep in mind that we are not always in front of a computer so 
        stick around a while and ping strycore or Xodetaetl so we get notified.
      </p>
    </article>
  </div>
</div>
{% endblock %}
