{% extends "base.html" %}
{% block title %}Download Lutris{% endblock %}

{% block content %}
<h1 class="text-center pb-3">Downloads</h1>
<div class="row justify-content-md-center">
  <div class="col-sm-8">
    <p>
        Lutris is compatible with any up-to-date Linux system. It relies on
        Python 3 and GTK libraries and will run on any desktop environment.
        Packages are provided for current Linux distributions. In some cases,
        Lutris will be available without adding additional software sources but
        if that's not the case, follow the instructions specific to your
        distribution below.
    </p>
    <p>
        <strong>Make sure to install Wine and drivers!</strong><br/>
        If you plan on playing games for Windows, to ensure a smooth
        experience, install a recent version of
        <a href="https://wiki.winehq.org/Download">Wine</a> on your
        system. This will provide all necessary dependency as Lutris cannot ship
        with every component in its <a href="https://github.com/lutris/docs/blob/master/LutrisRuntime.md">
        runtime</a>. When playing games lutris will use
        a custom version of Wine optimized for games.<br>
        This is not needed if running Lutris from Flatpak.
    </p>
    <ul class='download-list'>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/pop_os.png' alt='Pop!_OS'>Pop!_OS
          </li>
        </ul>
        <p>
          Lutris is available on Pop!_OS through <a href="appstream://net.lutris.Lutris">Pop!_Shop</a>.
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/steamos.png' alt='SteamOS'>SteamOS
          </li>
        </ul>
        <p>
          <strong>To install Lutris on the Steam Deck:</strong><br>
          - Open the Power menu and select Switch to Desktop<br>
          - Open Konsole and run the following command: <br>
          <code>flatpak install flathub org.gnome.Platform.Compat.i386 org.freedesktop.Platform.GL32.default org.freedesktop.Platform.GL.default</code><br>
          - Open Discover and search for Lutris then install it<br><br>
          <strong>To play games from the Steam Deck UI:</strong><br>
          Select "Create Steam shortcut" during the game installation or right-click on an existing game and choose "Create Steam shortcut".<br><br>
          <strong>To play games using the controller:</strong><br>
          - Open Steam settings and in the Controller section open Desktop Configuration<br>
          - Change the controller configuration to Disabled<br>
          - Keep the Steam key pressed to control your mouse<br>
          - The controller will now be accessible in desktop mode
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/flatpak.png' alt='Flatpak'>Flatpak
          </li>
        </ul>
        <p>
          Lutris is available in Flathub Beta.<br>
          Add the Flathub Beta repository if not already enabled:<br>
          <code>flatpak remote-add flathub-beta https://flathub.org/beta-repo/flathub-beta.flatpakrepo</code><br/>
          <code>flatpak update --appstream</code><br>
          Install required dependencies from Flathub (non Beta):<br>
          <code>flatpak install flathub org.gnome.Platform.Compat.i386 org.freedesktop.Platform.GL32.default org.freedesktop.Platform.GL.default</code><br>
          Install Lutris:<br>
          <code>flatpak install flathub-beta net.lutris.Lutris</code>
        </p>
      </li>
      <li>
        <ul>

          <li>
            <img src='{{ STATIC_URL }}images/icons/ubuntu.png' alt='Ubuntu'>Ubuntu
          </li>
          <li>
            <img src='{{ STATIC_URL }}images/icons/elementary_os.png' alt='Elementary OS'>Elementary
          </li>
        </ul>
        <p>
          Packages compatible with Ubuntu and derivatives are available on the
          <a href="https://launchpad.net/~lutris-team/+archive/ubuntu/lutris">PPA</a>.<br/>
          You can add a repository using terminal to receive automatic updates:<br/>
          <br/>
          <code>sudo add-apt-repository ppa:lutris-team/lutris</code><br/>
          <code>sudo apt update</code><br/>
          <code>sudo apt install lutris</code>
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/debian.png' alt='Debian'>Debian
          </li>
        </ul>
        <p>
          Packages compatible with Debian are available on the
          <a href="https://software.opensuse.org/download.html?project=home%3Astrycore&package=lutris">openSUSE Build Service</a>.
          <br/>
          You can add a repository using terminal to receive automatic updates:<br/>
          <br/>
          <code>echo "deb http://download.opensuse.org/repositories/home:/strycore/Debian_11/ ./" | sudo tee /etc/apt/sources.list.d/lutris.list</code><br/>
          <code>wget -q
            https://download.opensuse.org/repositories/home:/strycore/Debian_11/Release.key
            -O- | sudo tee /etc/apt/trusted.gpg.d/lutris.asc -</code><br/>
          <code>sudo apt update</code><br/>
          <code>sudo apt install lutris</code>
        </p>
      </li>
      <li>
        <ul>
          <li><img src="{{STATIC_URL}}images/icons/solus.png" alt="Solus">Solus</li>
        </ul>
        <p>
          Lutris is available in the Solus Software Center<br/><br/>
          <code>sudo eopkg it lutris</code>
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/fedora.png' alt='Fedora'>Fedora
          </li>
        </ul>
        <p>
          Lutris is available in the official repositories<br/><br/>
          <code>sudo dnf install lutris</code>
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/open_suse.png' alt='openSUSE'>openSUSE
          </li>
        </ul>
        <p>
          Packages for current versions of openSUSE are available from the
          <a href="https://software.opensuse.org/package/lutris">openSUSE repositories</a> via YaST or commandline<br/><br/>
          <code>sudo zypper in lutris</code>
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/arch_linux.png' alt='Arch Linux'>Arch Linux
          </li>
          <li>
            <img src='{{ STATIC_URL }}images/icons/manjaro.png' alt='Manjaro'>Manjaro
          </li>
        </ul>
        <p>
        You can get Lutris from the
        <a href="https://www.archlinux.org/packages/community/any/lutris/">Arch Community Repository</a>. Updates on Manjaro are delayed.<br/><br/>
        <code>sudo pacman -S lutris</code>
        </p>
      </li>
      <li>
        <ul>
          <li><img src="{{STATIC_URL}}images/icons/clearlinux.png" alt="Clear Linux">Clear Linux</li>
        </ul>
        <p>
          Lutris is available as a bundle.<br/><br/>
          <code>sudo swupd bundle-add lutris</code>
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/mageia.png' height="32px" alt='Mageia'>Mageia
          </li>
        </ul>
        <p>
        Lutris is available in Mageia App Db:
        <a href="https://madb.mageia.org/package/show/name/lutris">https://madb.mageia.org/package/show/name/lutris</a><br/>
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/gentoo_linux.png' alt='Gentoo'>Gentoo
          </li>
        </ul>
        <p>
        Lutris is available in portage tree:
        <a href="https://packages.gentoo.org/packages/games-util/lutris">https://packages.gentoo.org/packages/games-util/lutris</a>
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/centos.png' alt='CentOS'>CentOS Stream
          </li>
          <li>
            <img src='{{ STATIC_URL }}images/icons/redhat.png' alt='RHEL'>RHEL 8
          </li>
        </ul>
        <p>
        For CentOS Stream and derivatives like RHEL 8,9 or Rocky Linux 8,9 the package is available in EPEL (Extra packages for Enterprise Linux)
	  <br/>Note: Enable EPEL, you can follow these <a href="https://docs.fedoraproject.org/en-US/epel/#_el9">instructions </a>for more information.
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/slackware.png' alt='Slackware'>Slackware
          </li>
        </ul>
        <p>
          A Slackbuild script is available at <a href="https://slackbuilds.org/apps/lutris/">https://slackbuilds.org/apps/lutris/</a>
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/package.png' alt='Tarball package'>Tarball
          </li>
        </ul>
        <p>
        Lutris is available as a <a href="{{ download_url }}lutris_{{ version }}.tar.xz">tar.xz package</a>.
        You can run the project directly from the extracted archive but you might not have all features installed
        such as the browser integration or xboxdrv support.
        You'll need to make sure you have the necessary dependencies for Python 3 (PyGObject3 and PyYAML).<br/>
        <strong>Warning:</strong> Please do not use <code>setup.py install</code> to install Lutris.
        It does not fully install lutris, some aspects are handled by the distribution's package manager.
        Additionally, Python's setuptools do not allow to easily uninstall software installed in such a manner.
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src="{{ STATIC_URL }}images/icons/github-32.png" alt="Source">Source
          </li>
        </ul>
        <p>
        Lutris is constantly evolving. If you want to try out the latest
        features or help with the development, you can get Lutris from Github:
        <code>git clone https://github.com/lutris/lutris.git</code><br/>
        You do not need to <em>install</em> Lutris to run it, <code>cd</code> in the
        source folder and run <code>./bin/lutris -d</code><br/>
        <strong>Warning:</strong> If Lutris isn't installed from your package
        manager already, some features such as browser integration or xboxdrv
        support will be missing. We recommend you keep the latest release version
        installed, even if you plan on using the development branch.
        <br/>
        Please report all problems on the
        <a href="https://github.com/lutris/lutris/issues">bugtracker</a>
        </p>
      </li>
    </ul>
    <p class="footnote right">
    Icons by
    <a href='https://www.fatcow.com/free-icons'>FatCow</a> under
    <a href="https://creativecommons.org/licenses/by/3.0/us/">CC-BY-3.0-US</a>
    </p>
  </div>
</div>
{% endblock %}
