{% extends "base.html" %}
{% block title %}Download Lutris{% endblock %}

{% block content %}
<h1>Downloads</h1>
<div class="row">
  <div class="col-xs-12">
    <article>
      <p>
        Lutris should be compatible with most up-to-date Linux distributions,
        it relies on the Python language and Gnome 3 libraries (but will run
        fine under any desktop environmment). The following distributions are
        currently supported: Ubuntu 14.04, Debian 8 (Jessie), Fedora 20,
        OpenSUSE 13.1, ArchLinux and Gentoo.
      </p>
    </article>
    <ul class='download-list'>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/ubuntu.png' alt='Ubuntu'>Ubuntu
          </li>
          <li>
            <img src='{{ STATIC_URL }}images/icons/debian.png' alt='Debian'>Debian
          </li>
        </ul>
        <p>
        Download
        <a href='{{ download_url }}lutris_{{ version }}_all.deb'>lutris_{{ version }}_all.deb</a>
        and install it with the Software Center or gdebi.
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/fedora.png' alt='Fedora'>Fedora
          </li>
          <li>
            <img src='{{ STATIC_URL }}images/icons/open_suse.png' alt='OpenSuse'>OpenSuse
          </li>
        </ul>
        <p>
          Download
          <a href='{{ download_url }}lutris-{{ version }}-3.fc20.noarch.rpm'>lutris-{{ version }}-3.fc20.noarch.rpm</a>
          and install it with rpm.
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/arch_linux.png' alt='ArchLinux'>ArchLinux
          </li>
        </ul>
        <p>
        You can get Lutris from the AUR repositories:
        <a href="https://aur.archlinux.org/packages/lutris/">https://aur.archlinux.org/packages/lutris/</a>.<br/>
        or get the version from git:
        <a href="https://aur.archlinux.org/packages/lutris-git/">https://aur.archlinux.org/packages/lutris-git/</a>.
        (may be unstable, use with caution)
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/gentoo_linux.png' alt='Gentoo'>Gentoo
          </li>
        </ul>
        <p>
        Lutris is available in the official Gentoo repositories:
        <a href="http://packages.gentoo.org/package/games-util/lutris">http://packages.gentoo.org/package/games-util/lutris</a>.
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src='{{ STATIC_URL }}images/icons/package.png' alt='tar.gz package'>tar.gz
          </li>
        </ul>
        <p>
        Lutris is available as a <a href="{{ download_url }}lutris_{{ version }}.tar.gz">tar.gz package</a>.
        Install it by extracting the archive and running as root: <code>python setup.py install</code><br/>
        You'll need to make sure you have the necessary dependencies: PyGObject3 and PyYAML. <br/>
        On Slackware systems, you can those at:
        <pre>
        http://slackbuilds.org/repository/14.1/python/pygobject3/
        http://slackbuilds.org/repository/14.1/libraries/PyYAML/
        </pre>
        </p>
      </li>
      <li>
        <ul>
          <li>
            <img src="{{ STATIC_URL }}images/icons/github-32.png" alt="Github">Github
          </li>
        </ul>
        <p>
        Lutris is constantly evolving. If you want to try out the latest
        features or help with the development, you can get Lutris from Github:
        <code>git clone http://github.com/lutris/lutris.git</code><br/>
        Please report all problems on the
        <a href="https://github.com/lutris/lutris/issues">bugtracker</a>
          or on
        <a href="irc://irc.freenode.org:6667/lutris">IRC (#lutris on Freenode)</a>
        </p>
      </li>
    </ul>
    <p class="footnote">
    Icons by
    <a href='http://www.fatcow.com/free-icons'>FatCow</a> under
    <a href="http://creativecommons.org/licenses/by/3.0/us/">CC-BY-3.0-US</a>
    </p>
  </div>
</div>
{% endblock %}
