{% extends "base.html" %}
{% block title %}Lutris F.A.Q.{% endblock title %}

{% block content %}
<h1>Frequently asked questions</h1>

<div class='row'>
  <div class="col-md-12">
    <article>
      <h2>General</h2>
      <h3 id='faq-sell-games'>Does Lutris sell games?</h3>
      <p>
        No, we don't sell commercial games on the platform, Lutris allows you
        to install and play games purchased on a variety on different game stores such as
        Steam, Humble Bundle, GOG, Battle.net, etc…
      </p>
      <h3 id='faq-community'>How do I get in touch with the Lutris community?</h3>
      <p>
        If you want to ask questions about Lutris or just hang out with other Lutris users, you can join our
        <a href="https://discord.gg/dfUpvYn">Discord channel</a> or our IRC channel
        <a href="irc://irc.freenode.org:6667/lutris">#lutris on freenode.org</a>.
        You can also use the <a href="https://forums.lutris.net/">forums</a> to ask questions.
        Please do not privately contact Lutris developers for tech support.
      </p>

      <h3 id='faq-game-dev'>I'm a game developer, can I publish my game on Lutris?</h3>
      <p>
        You can create a page for your game and submit an installer for it but
        right now there aren't any special features for game developers. We do
        have some plan to add a game developer role to the website, you can
        follow its development here: <a
          href='https://github.com/lutris/website/issues/83'>on Github</a>
      </p>
      <h3 id='faq-runtime'>What is the Lutris runtime?</h3>
      <p>
        The Lutris runtime is a collection of libraries we automatically
        provide to ensure compatibility with all games and runners over all
        Linux distributions. The runtime itself is composed of parts of the <a
          href="https://github.com/ValveSoftware/steam-runtime">Steam
          runtime</a>, some Ubuntu 16.04 libraries and a few extra libraries
        from various places.<br/>
        Of course, ensuring binary compatibility over all existing Linux
        distributions is not an easy task and sometimes issues will arise. If
        such a thing happen, try disabling the runtime in the system options of
        your game. For more details on the runtime, see the <a
          href="https://github.com/lutris/lutris/wiki/Lutris-Runtime">wiki</a>.
      </p>
      <h3 id='faq-game-crash'>Game [x] crashes, what should I do?</h3>
      <p>
        First run Lutris from a command line to see potential errors from the game.
        If you see errors related to Linux libraries, try running the game with
        the <a href='#faq-runtime'>runtime</a> disabled. If disabling the
        runtime fixes the issue, please, notify the developers, we don't want
        to ship a broken runtime and your input can help fixing it.<br/>
        If your game still doesn't launch try collecting as much info about
        your setup (name of the game, your graphics drivers, Linux distributin,
        hardware setup, desktop environment, …) and explain your issue to the
        <a href="#faq-community">community</a>.
        If you want to troubleshoot the issue yourself, there are some good
        resources you can look into. Start by looking up the game in <a
          href="https://pcgamingwiki.com">PCGamingWiki</a> as you might run
        into a know problem and they might have a workaround. If you are trying
        to run a Windows game, also check out <a
          href="https://appdb.winehq.org/">WineHQ's AppDB</a> or look for
        issues other Windows users are running into, in the Steam forums for
        example.
      </p>
      <h3 id='faq-url-handler'>Clicking "Install" on the website's games doesn't do anything</h3>
      <p>
        Some distributions (such as Kubuntu) do not configure URL handlers
        correctly, this is not an issue with Lutris, the same thing will happen
        with, for example, the Steam client.
        To fix the issue, you can set `network.protocol-handler.expose-all` to
        False in Firefox's about:config. With that flag disabled, you will now
        see a pop-up when clicking "Install", prompting you to choose a program
        to open the URL with. It is recommended you use `/usr/bin/xdg-open` to
        handle lutris: (or steam:) urls.
      </p>
    </article>

    <article>
      <h2>Runners</h2>
      <h3 id='faq-runner'>What is a "Runner"?</h3>
      <p>
        A "runner" is the term we use to refer to programs that can run games,
        it can be Linux itself, Wine, DOSBox, MAME, gzdoom, …
        Runners are recognized as such in Lutris itself, not all programs that
        run games are considered runners. For example Darkplaces, the open
        source engine for Quake is not a runner but gzdoom is. Usually,
        programs become runners if they can run a variety of games, not just
        one or two.
      </p>
      <h3>I want to use your runners but I don't care for Lutris itself</h3>
      <p id='faq-download-runners'>
        Aww, that's too bad… :( But don't worry! All our runner builds are
        freely downloadable from <a
          href="https://lutris.net/files/runners/">here</a>.
      </p>
    </article>

    <article>
      <h2>Wine games</h2>
      <h3 id='faq-wine-systemwide'>Wine is broken / I have dependency issues</h3>
      <p>
        While Lutris can use a wide selection of Wine builds that we provide
        ourselves, it is strongly encouraged to have Wine installed from your
        operating system's package manager. This ensure that all required Wine
        dependecies are present on the system and will produce better results
        when using Lutris builds.
      </p>
      <h3 id='faq-wine-patches'>Some game requires a custom patch to work properly</h3>
      <p>
        Lutris provides custom builds of wine to increase the number of playable games.
        If there are patches out there that makes some game playable and we do
        not distribute them, you can ask us to build it. <br/>
        In order to build a patched version of Wine, we currently need a git
        repository containing the fully patched source tree of wine, if your
        patches rely on Wine Staging, make sure to apply those as well.
        Once you have patched Wine, you can push it to a git repository of your
        choice and notify the moderation team so we can publish the build.
      </p>
      <h3 id='faq-wine-versions'>How do I change the Wine version used in a game?</h3>
      <p>
        If you already have a version of Wine installed, you should see a Wine
        entry on the sidebar, you can right click on it then select "Manage
        versions". From there you can install or remove any Wine build we
        provide. The wine versions are downloaded to <code>~/.local/share/lutris/runners/wine/</code>
      </p>
      <h3 id='faq-wine-resolution'>The resolution is messed up, how can I fix that?</h3>
      <p>
        Resolution switching for Wine games heavily depends on your hardware
        and your desktop environment and also the game itself.<br/>
        If you are experiencing issues, try using a virtual desktop in the Wine
        runner options then start the game and set it to use your monitor's
        native resolution. Once the game is using your native resolution, you
        should be able to turn off the virtual desktop.
      </p>
      <h3 id='faq-winemenubuilder'>I get winemenubuilder.exe errors in the console output</h3>
      <p>
        You shouldn't worry about those. We explicitely disable winemenubuilder
        at runtime so it doesn't mess with your Linux desktop's file type
        associations. Any error related to winemenubuilder can be safely
        ignored.
      </p>
      <h3 id='faq-overwatch'>I'm just here for Overwatch, don't care about anything else</h3>
      <p>
        Please refer to the following article <a
          href="https://github.com/lutris/lutris/wiki/Game:-Overwatch">on the
          Github wiki</a>
      </p>
    </article>
  </div>
</div>
{% endblock content %}
