{% extends "home.html" %}
{% load thumbnail %}
{% block title %}{{ news }} - Lutris{% endblock %}

{% block main %}
  <header class="news-header" id="article">
    <h3>{{ news }}</h3>
    <p> Posted by {{ news.user }} {{ news.publish_date }} </p>
    {% if news.image %}
       {% thumbnail news.image '400x400' format='PNG' upscale=False as image %}
        <a href="{{ MEDIA_URL }}{{ news.image }}">
          <img src="{{ image.url }}" />
        </a>
       {% endthumbnail %}
    {% endif %}
  </header>
  <article>
    {{ news.content }}
  </article>
{% endblock %}
