<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Lutris</title>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/email.css" />
</head>

<body bgcolor="#FFFFFF">

<table class="head-wrap" bgcolor="#222222">
  <tr>
    <td></td>
    <td class="header container" >
        <div class="content">
        <table bgcolor="#222222">
          <tr>
              <td><img src="{{ STATIC_URL }}images/logo-header.png" /></td>
              <td align="right">
                  <h6 class="collapse">{{email_title}}</h6>
              </td>
          </tr>
        </table>
        </div>
    </td>
    <td></td>
  </tr>
</table>

<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">
      <div class="content">
      <table>
        <tr>
          <td>
            {% block content %}
            <h3>Hi, {{name}}</h3>
            <p class="lead">
            Some content in big
            </p>
            <p>
            More content, smaller
            </p>
            <p class="callout">
                Callout section
            </p>
            {% endblock content %}
            <table class="social" width="100%">
              <tr>
                <td>
                  <table align="left" class="column">
                    <tr>
                      <td>
                        <h5 class="">Connect with Us:</h5>
                        <p class="">
                          <a href="https://www.facebook.com/LutrisGaming" class="soc-btn fb">Facebook</a>
                          <a href="https://twitter.com/lutrisgaming" class="soc-btn tw">Twitter</a>
                        </p>
                      </td>
                    </tr>
                  </table>
                  <table align="left" class="column">
                    <tr>
                      <td>
                        <h5 class="">Contact Info:</h5>
                        <p>
                        Email: <strong><a href="emailto:admin@lutris.net">admin@lutris.net</a></strong>
                        </p>
                      </td>
                    </tr>
                  </table>
                  <span class="clear"></span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      </div>
    </td>
    <td></td>
  </tr>
</table>

<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">
      <div class="content">
        <table>
          <tr>
            <td align="center">
              <p>
                <!--
                <a href="#">Terms</a> |
                <a href="#">Privacy</a> |
                <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
                -->
              </p>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table>

</body>
</html>
