{% extends "emails/base.html" %}
{% load thumbnail %}


{% block content %}

<p>Hello Lutris moderators!</p>

<p>
  This is your daily digest of user submitted content to review. <br />
  Here is a quick reminder of the acceptance guidelines:
  <ul>
    <li>All installers that look functionnal should be published.</li>
    <li>
    You can't interfere with an installer if you can't test it. It is the
    author's responsability to make sure it works.
    <strong>Do not base your judgement on WineHQ AppDB ratings, any comments
    pointing to AppDB will be deleted and the installer will be published.
    </strong>
    </li>
    <li>If you see an installer fetching content from an unusual and untrusted
    source, please contact an admin and do not publish the installer.</li>
    <li>If you have tested an installer and have had issues with it, submit a
    rating for it and if necessary, submit an installer issue (only if you
    believe the issue can be fixed). For minor issues, add a technical note in
    the installer.</li>
    <li>All games should be published even with incomplete information (you
    will soon receive notification about incomplete games). The submitted
    information about the game must be correct, if not you must fix it before
    publishing the game.</li>
    <li>All screenshots should be published as long as they display the game in
    fullscreen</li>
    <li>All issues must be deleted after they have been fixed. If you have
    worked on fixing an issue but could achieve the desired result, leave a
    note in the issue's message.</li>
  </ul>
</p>


{% if installers %}
  <h1>Unpublished installers</h1>
  {% for installer in installers %}
    {% with installer.game as game %}
      <a href="{{ game.get_absolute_url }}">
      {% thumbnail game.title_logo "184x69" crop="center" as img %}
        <img src="{{ img.url }}" alt="{{ game.name }}" class="game-cover"/>
      {% empty %}
        <span class="game-cover">no image</span>
      {% endthumbnail %}
      </a>
    {% endwith %}
  {% endfor %}
{% endif %}

{% if screenshots %}
  <h1>Unpublished screenshots</h1>
  {% for screenshot in screenshots %}
  <a href="{{ screenshot.game.get_absolute_url }}">
     {% thumbnail screenshot.image '184x130' as img %}
        <img src="{{ img.url }}" title="{{ screenshot.description }}"/>
      {% endthumbnail %}
    </a>
  {% endfor %}
{% endif %}

{% if submissions %}
  <h1>Unpublished submissions</h1>
  {% for submission in submissions %}
    {% with submission.game as game %}
      <a href="{{ game.get_absolute_url }}">
      {% thumbnail game.title_logo "184x69" crop="center" as img %}
        <img src="{{ img.url }}" alt="{{ game.name }}" class="game-cover"/>
      {% empty %}
        <span class="game-cover">no image</span>
      {% endthumbnail %}
      </a>
    {% endwith %}
  {% endfor %}
{% endif %}


{% if issues %}
  <h1>Unresolved issues</h1>
  {% for issue in issues %}
    <ul>
      <li><a href="{{issue.get_absolute_url}}">{{issue}}</a></li>
    </ul>
  {% endfor %}
{% endif %}
{% endblock content %}
