{% extends "emails/base.html" %}


{% block content %}
<p>Hello {{username}}!</p>

<p>
Thank you for your submission for <strong>{{name}}</strong>. The game has been reviewed by a
moderator and approved!
</p>

<p>
The game's page is available at
<a href="https://lutris.net{{game_url}}">https://lutris.net{{game_url}}</a><br />
You can submit an installer script for it if you haven't done so already.<br />
The scripting details are explained on the installer submission page, you can
have a look at other scripts to see how they are written. If you get confused
or have any questions about the scripting process, please contact us on
<a href="{{ DISCORD_URL }}">Discord</a>
</p>

<p>
Have a great day! <br />
<strong>The Lutris team</strong>
</p>
{% endblock content %}
