{% extends "email/base.html" %}

{% block content %}
<div class="content">
  <table>
      <tr>
        <td>
          <h1>Great Scott!</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et.
          </p>
          <p>
            <img src="http://placehold.it/600x300" />
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.
          </p>
        </td>
      </tr>
  </table>
</div>

<div class="content">
  <table bgcolor="">
    <tr>
      <td class="small" width="20%" style="vertical-align: top; padding-right:10px;">
        <img src="http://placehold.it/75x75" />
      </td>
      <td>
        <h4>Title Ipsum <small>This is a note.</small></h4>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a class="btn">Clickity Click &raquo;</a>
      </td>
    </tr>
  </table>
</div>

<div class="content">
  <table bgcolor="">
    <tr>
      <td class="small" width="20%" style="vertical-align: top; padding-right:10px;">
        <img src="http://placehold.it/75x75" />
      </td>
      <td>
        <h4>Title Ipsum <small>This is a note.</small></h4>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a class="btn">Clickity Click &raquo;</a>
      </td>
    </tr>
  </table>
</div>

<div class="content">
  <table bgcolor="">
    <tr>
      <td>
        <p class="callout">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt.
          <a href="#">Do it Now! &raquo;</a>
        </p>
      </td>
    </tr>
  </table>
</div>

<div class="content">
  <table bgcolor="">
    <tr>
      <td class="small" width="20%" style="vertical-align: top; padding-right:10px;">
        <img src="http://placehold.it/75x75" />
      </td>
      <td>
        <h4>Title Ipsum <small>This is a note.</small></h4>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a class="btn">Clickity Click &raquo;</a>
      </td>
    </tr>
  </table>
</div>
{% endblock content %}
