{% extends "emails/base.html" %}


{% block content %}
<p>Hello {{ username }},</p>

<p>
  Your Lutris account was created via {{ provider }}, so it doesn't have a
  password yet. Until now that meant you couldn't sign in to the Lutris
  desktop client, which only accepts username and password authentication.
</p>

<p>
  You can now set a password (and rename your account if you'd like). Log
  in to lutris.net the same way you did before, then visit:
</p>

<p>
  <a href="{{ set_password_url }}">{{ set_password_url }}</a>
</p>

<p>
  Your current Lutris username is <strong>{{ username }}</strong> &mdash;
  you'll need it when signing in to the desktop client.
</p>

<p>
  If you didn't create a Lutris account, you can safely ignore this email.
</p>

<p>
  <strong>The Lutris team</strong>
</p>
{% endblock content %}
