{% load lutris %}
{% load humanize %}
{% load static %}

<li class="list-group-item bg-darker{% if installer.draft %} draft-border{% endif %}">
  <div>
    <div class="btn-group right">
      <a type="button" class="btn btn-sm btn-secondary" href="lutris:{{ installer.slug }}">Install</a>
      {% if not installer.auto %}
        <button
          type="button"
          class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
          id="dropdownMenuReference"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          data-bs-reference="parent">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuReference">
          <li><a class="dropdown-item bg-dark text-white" href="{% url 'edit_installer' slug=installer.slug %}">
            Edit installer
          </a></li>
          {% if user.is_staff %}
            <li><a class="dropdown-item bg-dark text-white" href="{% url 'admin:games_installer_change' installer.id %}">
              Admin installer
            </a></li>
          {% endif %}

          {% if installer.id %}
            <li><a class="dropdown-item bg-dark text-white" href="{% url 'view_installer' id=installer.id %}">
              View install script
            </a></li>
          {% endif %}
          <li><a class="dropdown-item bg-dark text-white" href="{% url 'api_game_installer_list' slug=installer.slug %}?format=json">
            Download script
          </a></li>
        </ul>
      {% endif %}
    </div>
    <div class="centered-vertical">

      <span class='filter-link'>{{ installer.runner }}</span>

      <span class='installer-name'>{{ installer.version|capfirst }} version</span>
      <span class="small-text">
        {% if installer.is_playable == True %}
        Rating: ✅ <strong>PLAYABLE</strong>{% elif installer.is_playable == False %}
        Rating: ❌ <strong>NOT PLAYABLE</strong>{% endif %}
      </span>
      <small class="text-muted">
        {% if installer.updated_at %}last published {{ installer.updated_at | naturaltime }}{% endif %}
        {% if installer.latest_version %}, last edit made {{ installer.latest_version.revision.date_created | naturaltime }}
          {% if user.is_staff %}
            <a href="{{ DASHBOARD_URL }}/#/installers/submissions/{{installer.latest_version.revision.id}}"
              class="btn btn-sm btn-danger">Review installer</a>
          {% endif %}
        {% endif %}
      </small>
    </div>
  </div>
  {% if installer.flagged %}
  <div class="danger-zone"><strong>☠️ THIS INSTALLER HAS BEEN FLAGGED AS POTENTIALLY UNSAFE.<br>USE WITH EXTREME CAUTION ☠️</strong></div>
  {% endif %}
  {% if installer.description.strip %}
  <div><strong>{{ installer.description|clean_html|safe|linebreaksbr }}</strong></div>
  {% endif %}


  {% if installer.notes.strip %}
  <div class="small-text">{{ installer.notes|clean_html|safe|linebreaksbr }}</div>
  {% endif %}

</li>
