{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
  <div class="game-header"
       {% thumbnail game.title_logo "940x250" crop="top" as banner %}
       style="background-image: url('{{ banner.url }}')"
       {% endthumbnail %}>
    <h1>
      <img src='{{ MEDIA_URL }}{{ game.icon }}' width='128' height='128' class='icon' />
      {{ game.name }}
    </h1>
  </div>
  <div class="row">
    <div class="span9">
      <div class='screenshots'>
        {% for screenshot in game.screenshot_set.all %}
          {% thumbnail screenshot.image 640x480 crop="center" as img %}
          <img src="{{ STATIC_URL }}images/screenshots/quake1.jpg" />
          {% endthumbnail %}
        {% empty %}
        <div class='no-screenshots'>
          <strong>
            No screenshot available
          </strong>
          <a href='{% url screenshot_add game.slug %}'>Add one ?</a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="span3">
      <div class="game-info">
        {% thumbnail game.cover "220" as img %}
        <img src="{{ img.url }}" />
        {% endthumbnail %}

        <strong>Genre: </strong>
        {{ game.genre }}
        <strong>Platform: </strong>
        {{ game.platform }}
        <strong>Developer: </strong>
        {{ game.developer }}
        <strong>Publisher: </strong>
        {{ game.publisher }}
        <strong>Release date: </strong>
        {{ game.year }}
        <strong>Website: </strong>
        <a href='{{ game.website }}' >{{ game.website }}</a>
      </div>
    </div>
  </div>
  <div class="span9">
  <p>
    {{ game.description }}
  </p>
  {% url new_installer slug=game.slug as installer_url %}
  {% for installer in game.installer_set.all %}
    <div>
      <span class="label label-important">{{ installer.slug }}</span> for {{ installer.runner }},
      submitted by {{ installer.user.username }}
      <a href='lutris:{{ installer.slug }}' class="pull-right btn btn-inverse btn-large">Install</a>
      {% if installer.user == user %}
      {% url edit_installer slug=installer.slug as edit_url %}
      <a href="{{ edit_url }}">Edit installer </a>
      {% endif %}
      {% url serve_installer slug=installer.slug as download_url %}
      <a href="{{ download_url }}">Download raw installer</a>
    </div>
    {% if forloop.last %}
    <div>
      <a href="{{ installer_url }}" class="btn btn-small btn-inverse">Write a new installer</a>
    </div>
    {% endif %}
  {% empty %}
    Oh noes! No installer has been written for this game.
    Why don't you <a href="{{ installer_url }}" class="btn btn-small btn-inverse">write one</a> ?
  {% endfor %}
  </div>
{% endblock %}
