{% extends "base.html" %}
{% load thumbnail %}


{% block stylesheets %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/themes/dark/dark.css" />
{% endblock %}


{% block content %}
  <div class="game-header"
    {% thumbnail game.title_logo banner_size options=banner_options as banner %}
       style="background-image: url('{{ banner.url }}')"
    {% endthumbnail %}>
    <div class='title'>
      {% if game.icon %}
        <img src='{{ MEDIA_URL }}{{ game.icon }}' width='128' height='128' />
      {% endif %}
      <span>{{ game.name }}</span>
    </div>
  </div>

  <div class="row">
    <div class="span9">
      {% with game.screenshot_set.published as screenshots %}
        {% if screenshots %}
          <div class="slider-wrapper theme-dark">
            <div class='screenshots nivoSlider'>
              {% for screenshot in game.screenshot_set.published %}
                {% thumbnail screenshot.image '640x480' crop="center" as img %}
                  <img src="{{ MEDIA_URL }}/{{ img }}" title="{{ screenshot.description }}" />
                {% endthumbnail %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endwith %}
      <a href='{% url 'screenshot_add' game.slug %}'>Add one ?</a>
    </div>
    <div class="span3">
      <div class="game-info">
        {% thumbnail game.title_logo "184" as img %}
          <img src="{{ img.url }}" class="banner" />
        {% endthumbnail %}

        <ul>
          <li>
            <strong>Genre: </strong>
            {% for genre in game.genres.all %}
              {{ genre }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </li>
          <li>
            <strong>Platform: </strong>
            {% for platform in game.platforms.all %}
              {{ platform }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </li>
          <li>
            <strong>Developer: </strong>
            {% firstof game.developer "Unknown" %}
          </li>
          <li>
            <strong>Publisher: </strong>
            {% firstof game.publisher "Unknown" %}
          </li>
          <li>
            <strong>Release date: </strong>
            {% firstof game.year "Unknown" %}
          </li>
          {% if game.website %}
          <li>
              <strong>Website: </strong>
              <a href='{{ game.website }}' >{{ game.website }}</a>
          </li>
          {% endif %}
          {% if game.steamid %}
          <li>
          </li>
          {% endif %}
        </ul>
        <div class="centered">
          <a href="http://store.steampowered.com/app/{{ game.steamid }}/" class="box-link">
            <img src="{{ STATIC_URL }}images/steam.png" alt="" />
            Get it on Steam
          </a>
          <a href="{% url "add_to_library" slug=game.slug %}" class="btn">Add to my library</a>
        </div>
      </div>
    </div>
  </div>
  <div class="span9">
  <p>
    {{ game.description }}
  </p>
  {% url 'new_installer' slug=game.slug as installer_url %}
  {% for installer in game.installer_set.all %}
    <div>
      <span class="label label-important">{{ installer.slug }}</span> for {{ installer.runner }},
      submitted by {{ installer.user.username }}
      <a href='lutris:{{ installer.slug }}' class="pull-right btn btn-inverse btn-large">Install</a>
      {% if installer.user == user %}
      {% url 'edit_installer' slug=installer.slug as edit_url %}
      <a href="{{ edit_url }}">Edit installer </a>
      {% endif %}
      {% url 'serve_installer' slug=installer.slug as download_url %}
      <a href="{{ download_url }}">Download raw installer</a>
    </div>
    {% if forloop.last %}
    <div>
      <a href="{{ installer_url }}" class="btn btn-small btn-inverse">Write a new installer</a>
    </div>
    {% endif %}
  {% empty %}
    Oh noes! No installer has been written for this game.
    Why don't you <a href="{{ installer_url }}" class="btn btn-small btn-inverse">write one</a> ?
  {% endfor %}
  </div>
{% endblock %}
{% block scripts %}
   {% include "includes/_nivoslider.html" %}
{% endblock %}
