{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
  <div class="game-header"
    {% if game.cover %}
       {% thumbnail game.cover "940x150" crop="center" as banner %}
        style="background-image: url('{{ banner.url }}')"
       {% endthumbnail %}
    {% endif %}
    >
    <h1>
      <img src='{{ MEDIA_URL }}{{ game.icon }}' width='128' height='128' class='icon' />
      {{ game.name }}
    </h1>
  </div>
  <div class="row">
    <div class="span9">
      <div class='screenshots'>
        <img src="{{ STATIC_URL }}images/screenshots/quake1.jpg" />
      </div>
    </div>
    <div class="span3">
      <div class="game-info">
        {% thumbnail game.cover "220" as img %}
        <img src="{{ img.url }}" />
        {% endthumbnail %}

        <strong>Genre: </strong>
        {{ game.genre }}
        <strong>Platform: </strong>
        {{ game.platform }}
        <strong>Developer: </strong>
        {{ game.developer }}
        <strong>Publisher: </strong>
        {{ game.publisher }}
        <strong>Release date: </strong>
        {{ game.year }}
        <strong>Website: </strong>
        <a href='{{ game.website }}' >{{ game.website }}</a>
      </div>
    </div>
  </div>
  <p>
    {{ game.description }}
  </p>
  {% url new_installer slug=game.slug as installer_url %}
  {% for installer in game.installer_set.all %}
    <a href='lutris:{{ installer.slug }}' class="btn btn-inverse btn-large">Install</a>
    {% if forloop.last %}
      or <a href="{{ installer_url }}">Write a new one</a>
    {% endif %}
  {% empty %}
    Oh noes! No installer has been written for this game. 
    Why don't you <a href="{{ installer_url }}">write one</a> ?
  {% endfor %}
{% endblock %}
