{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}

{% block content %}
<div class="row">
  <div class="span8">
    <div class="pane">
    <ul class='breadcrumb'>
      <li>
        <a href='{% url "game_list" %}'>Games</a>
      </li> 
      {% if genre %}
        <li>
          <a href='{% url "games_by_genre" genre.slug %}'>{{ genre }}</a>
        </li>
      {% endif %}
      {% if platform %}
      <li>
        <a href='/games/platform/{{ platform.slug }}'>{{ platform }}</a>
      </li>
      {% endif %}
      {% if year %}
      <li>
        <a href='{% url "games_by_year" year %}'>{{ year }}</a>
      </li>
      {% endif %}
      {% if company %}
      <li>
        <a href='{% url "games_by_company" company.slug %}'>{{ company.name }}</a>
      </li>
      {% endif %}
      {% if search_terms %}
      <li><a href="{{ request.path }}">Search "{{ search_terms }}"</a></li>
        
      {% endif %}
    </ul>


    <ul class='game-list'>
      {% for game in games %}
        <li class='clearfix'>
        <a href="{{ game.get_absolute_url }}">
          {% thumbnail game.title_logo '184x69' crop="top" as img %}
            <img class='game-cover' src='{{ img.url }}' />
          {% empty %}
            <span class='game-cover'>no image</span>
          {% endthumbnail %}
          </a>
          <div>
            <a class="game-title" href='{{ game.get_absolute_url }}'>{{ game.name }}</a>
              {% for platform in game.platforms.all %}
                <a class='filter-link' href='{% url "games_by_plaform" slug=platform.slug %}'>{{ platform }}</a>
              {% endfor %}
            <div class='info'>
              <div>
                {% for genre in game.genres.all %}
                <a href="{% url "games_by_genre" genre.slug %}">{{ genre }}</a>
                {% endfor %}
              {% if game.year %}
              Released in <a href='{% url "games_by_year" game.year %}'>{{ game.year }}</a>
              {% endif %}
              <br/>
              {% if game.developer %}
              Developed by <a href='{% url "games_by_company" game.developer.slug %}'>{{ game.developer }}</a>
              {% endif %}
              {% if game.publisher %}
              Published by <a href='{% url "games_by_company" game.publisher.slug %}'>{{ game.publisher }}</a>
              {% endif %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    </div>
  </div>
  <div class="span4">
    <div class="pane">
      <a href="{% url "submit_game" %}" class=main-button>Submit a new game</a>
      <h4>Search games</h4>
      <form action="." method=get class="form-search centered">
        <div class="input-append">
          <input type="text" name="q" class="search-query" />
          <button class=btn type="submit"><i class='icon-search'></i></button>
        </div>
      </form>
      <h4>Filter by platform</h4>
      <ul class="filter-list">
        {% for platform in platforms %}
        <li><a class="filter-link" href="{% url "games_by_plaform" slug=platform.slug %}">{{ platform.name }}</a></li>
        {% endfor %}
      </ul>

      <h4>Filter by genre</h4>
      <ul class="filter-list">
        {% for genre in genres %}
        <li><a class="filter-link" href="{% url "games_by_genre" genre.slug %}">{{ genre.name }}</a></li>
        {% endfor %}
      </ul>
        
        
    </div>
  </div>
</div>
{% endblock %}

