{% extends "base.html" %}
{% block content %}
  <div class="game-header">
    <h1
        {% if game.get_banner %}
        style="background-image: url("{{ game.get_banner }}")"
        {% endif %}
        >
      <img src='{{ STATIC_URL }}{{ game.icon }}' width='32' height='32' />
      <a href='{{ game.get_absolute_url }}'>{{ game.name }}</a>
    </h1>
  </div>
  <div class='screenshots'>
    <img src="{{ STATIC_URL }}images/screenshots/quake1.jpg" />
  </div>
  <div class="game-info">
    <img src="{{ STATIC_URL }}images/covers/quake.jpg" />
    <strong>Genre: </strong>
    {{ game.genre }}
    <strong>Platform: </strong>
    {{ game.platform }}
    <strong>Developer: </strong>
    {{ game.developer }}
    <strong>Publisher: </strong>
    {{ game.publisher }}
    <strong>Release date: </strong>
    {{ game.year }}
    <strong>Website: </strong>
    <a href='{{ game.website }}' >{{ game.website }}</a>
  </div>
  <p>
    {{ game.description }}
  </p>
  {% if game.installer %}
    <a href='lutris://{{ game.slug}}'>Install</a>
  {% endif %}
{% endblock %}
