{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}

{% block content %}
<div class="row">
  <div class="col-xs-8">
    <div class="pane">
    <ul class='breadcrumb'>
      <li>
        <a href='{% url "game_list" %}'>Games</a>
      </li>
      {% if genre %}
        <li>
          <a href='{% url "games_by_genre" genre.slug %}'>{{ genre }}</a>
        </li>
      {% endif %}
      {% if platform %}
      <li>
        <a href='/games/platform/{{ platform.slug }}'>{{ platform }}</a>
      </li>
      {% endif %}
      {% if year %}
      <li>
        <a href='{% url "games_by_year" year %}'>{{ year }}</a>
      </li>
      {% endif %}
      {% if company %}
      <li>
        <a href='{% url "games_by_company" company.slug %}'>{{ company.name }}</a>
      </li>
      {% endif %}
      {% if search_terms %}
      <li><a href="{{ request.path }}">Search "{{ search_terms }}"</a></li>

      {% endif %}
    </ul>

    <ul class='game-list'>
      {% for game in games %}
        {% include "includes/game_preview.html" %}
      {% endfor %}
    </ul>

    {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-links">
          <a href=".?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
      {% endif %}
        <li>
          <a>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
        </li>
      {% if page_obj.has_next %}
        <li>
          <a href=".?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
      {% endif %}
    </ul>
    {% endif %}
    </div>
  </div>
  <div class="col-xs-4">
    <div class="pane">
      <a href="{% url "submit_game" %}" class=main-button>Submit a new game</a>
      <h4>Search games</h4>
      <form action="." method=get class="form-inline">
        <div class="form-group">
          <div class="col-xs-8">
            <input type="text" name="q" id="search-entry" class="search-query form-control input-sm" />
          </div>
          <input class="btn btn-sm" type="submit" value="Search" />
        </div>
      </form>
      <h4>Filter by platform</h4>
      <ul class="filter-list">
        {% for platform in platforms %}
        <li><a class="filter-link" href="{% url "games_by_plaform" slug=platform.slug %}">{{ platform.name }}</a></li>
        {% endfor %}
      </ul>

      <h4>Filter by genre</h4>
      <ul class="filter-list">
        {% for genre in genres %}
        <li><a class="filter-link" href="{% url "games_by_genre" genre.slug %}">{{ genre.name }}</a></li>
        {% endfor %}
      </ul>


    </div>
  </div>
</div>
{% endblock %}

