{% extends "base.html" %}
{% block title %}Edit installer for {{ game }} - Lutris{% endblock %}

{% block content %}
{% if new %}
<h1>New installer for {{ game }}</h1>
{% else %}
<h1>Edit installer for {{ game }}</h1>
{% endif %}
<div class="row">
  <div class="col-xs-7">
    <div class="well">
    <form action="" method="post">
      {% csrf_token %}
      {% for field in field %}
        {{ field.errors }}
      {% endfor %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary"/>
      <a class='btn' href="">Cancel</a>
    </form>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="well docs">
    {% include "docs/installers.html" %}
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script>
jQuery(function ($) {
  $("#id_runner").select2({
    'minimumResultsForSearch': 6, 
    'allowClear': false, 
    'closeOnSelect': false, 
    'placeholder': ''
  });
});
</script>
  
{% endblock %}
