{% extends "base.html" %}


{% block title %}
  {% if new %}
    Create new installer for {{ game }}
  {% else %}
    Edit installer for {{ game }}
  {% endif %}
  | Lutris
{% endblock %}

{% block extra_head %}
  {{ form.media.css }}
{% endblock %}

{% block content %}
{% if new %}
  <h1>New installer for {{ game }}</h1>
{% else %}
  <h1>Edit installer for {{ game }}</h1>
{% endif %}
<div class="row">
  <div class="col-sm-7">
    <div class="well">
    <form action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        {{ field.errors }}
      {% endfor %}
      {{ form.as_p }}
      <input type="submit" class="btn" name="save" value="Save draft">
      <input type="submit" class="btn btn-primary" name="submit" value="Submit to moderation"/>
      {% if installer.draft %}
      <input type="submit" class="btn btn-danger" name="delete" value="Delete this draft">
      {% endif %}
      <a class='btn' href="{{game.get_absolute_url}}">Cancel</a>
    </form>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="well docs">
    {% include "docs/installers.html" %}
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
  <script>
    $(function(){
      $.fn.select2.defaults.set("width", null);
      $.fn.select2.defaults.set("theme", 'bootstrap');
    });
  </script>
  {{ block.super }}
  {{ form.media.js }}

{% endblock %}
