{% extends "base.html" %}


{% block content %}
<div class='content'>
  {% for installer in installers %}
    <div data-id="{{installer.id}}">
      <h3>
        {{ installer.game.name }} ({{installer}}) <br />
        <span class='small'>{{installer.user}} {{installer.created_at}}</span>
      </h3>
      {% if installer.notes %}
      <h5>Notes</h5>
      <p>
        {{installer.notes}}
      </p>
      {% endif %}
      <pre>{{ installer.content }}</pre>
      <p class='actions'>
        <button class='btn' onclick="publishInstaller(this)">Publish</button>
        <button class='btn' onclick="deleteInstaller(this)">Delete</button>
      </p>
    </div>
  {% endfor %}
</div>
<script type="text/javascript" charset="utf-8">
  function getRequest(method, url) {
    request = new XMLHttpRequest();
    request.open(method, url);
    request.setRequestHeader("Content-type","application/json");
    request.setRequestHeader("Authorization","Token {{user.auth_token.key}}");
    return request;
  }
  function publishInstaller(target) {
    var container = target.parentNode.parentNode;
    var installerId = container.getAttribute('data-id');
    request = getRequest('PATCH', '/api/installers/' + installerId);
    request.onreadystatechange = function() {
      console.log('Installer published');
      container.remove();
    };
    request.send('{"published": true}');
  }

  function deleteInstaller(target) {
    var container = target.parentNode.parentNode;
    var installerId = container.getAttribute('data-id');
    request = getRequest('DELETE', '/api/installers/' + installerId);
    request.send();
    request.onreadystatechange = function() {
      console.log('Installer deleted');
      container.remove();
    };
  }
</script>
{% endblock %}
