{% extends "base.html" %}
{% load static %}


{% block title %}
{% if not game %}Submit a new game{% else %}Suggest changes{% endif %} - Lutris
{% endblock %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/croppie.css' %}" />
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">

    <div class="form-view">
      <h1>
        {% if not game %}
        Submit a game
        {% else %}
        Suggest changes to '{{ game.name }}'
        {% endif %}
      </h1>
      {% if game %}
      <p class="warning">If you abuse this form to report bugs, we will disable your Lutris account.</p>
      {% else %}
      <p class="warning">
        Please check the spelling of the game you're adding. Do not use an abbreviated version of a name.
        Submissions that we judge have been sent in bad faith can get your Lutris account deleted.
      </p>
      {% endif %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% if game %}
          <div id="div_id_reason" class="form-group">
            {{ form.reason.errors }}
            {{ form.reason.label_tag }}
            {{form.reason}}
          </div>
        {% endif %}
          <div id="div_id_name" class="form-group">
            {{ form.name.errors }}
            {{ form.name.label_tag }}
            <div>
              {{form.name}}
            </div>
          </div>
          <div id="div_id_year" class="form-group">
            {{form.year.errors}}
            <label for="{{form.year.id_for_label }}">Release year</label>
            <div>
              {{form.year}}
            </div>
          </div>
          <div id="div_id_developer" class="form-group">
            {{ form.developer.errors }}
            {{ form.developer.label_tag }}
            {{ form.developer }}
          </div>
          <div id="div_id_publisher" class="form-group">
            {{ form.publisher.errors }}
            {{ form.publisher.label_tag }}
            {{ form.publisher }}
          </div>
          <div id="div_id_website" class="form-group">
            {{ form.website.errors }}
            {{ form.website.label_tag }}
            {{ form.website }}
            <small id="hint_id_website" class="form-text text-muted">
              The official website (full address). If it doesn't exist, leave blank.
            </small>
          </div>
          <div id="div_id_platforms" class="form-group">
            {{ form.platforms.errors }}
            {{ form.platforms.label_tag }}
            {{ form.platforms }}
          </div>
          <div id="div_id_genres" class="form-group">
            {{ form.genres.errors }}
            {{ form.genres.label_tag }}
            {{ form.genres }}
          </div>
          <div id="div_id_description" class="form-group">
            {{ form.description.errors }}
            {{ form.description.label_tag }}
            {{ form.description }}
            <small id="hint_id_description" class="form-text text-muted">
              Copy the official description of the game if you can find it.
              Don't write your own. For old games, check Mobygame's Ad Blurbs, look for the English back cover text.
            </small>
          </div>
          <div id="div_id_title_logo" class="form-group">
            <div class="controls file-upload-button ">
              {{ form.title_logo.errors }}
              <label for="id_title_logo" class="upload-button">
                Game title (184x69 image format):
              </label>
              {{ form.crop_data }}
              {{ form.title_logo }}
              <div id="cropper" style="display: none"></div>
              <p>
                <small id="hint_id_title_logo" class="form-text text-muted">
                  The banner should include the game's title.
                  Please make sure that your banner doesn't rely on transparency
                  as those won't be reflected in the final image
                </small>
              </p>
            </div>
          </div>
          <div>
            <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit">
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/croppie.min.js' %}"></script>
{{ block.super }}
{{ form.media.js }}

<script>
  let $uploadCrop = $('#cropper').croppie({
    enableExif: true,
    mouseWheelZoom: false,
    viewport: {
        width: 736,
        height: 276
    },
    boundary: {
        width: 736,
        height: 276
    }
  })

  $('#cropper').on('update.croppie', function(ev, cropData) {
    $("#id_crop_data").val(JSON.stringify(cropData))
  })

  $('#id_title_logo').on('change', function () {
    $('#cropper').show()
    var reader = new FileReader();
    reader.onload = function (e) {
      $uploadCrop.croppie('bind', {
        url: e.target.result
      }).then(function(){

       });
    }
    reader.readAsDataURL(this.files[0]);
  });

  $(function () {
    $('#id_platforms').select2({
      closeOnSelect: false,
      placeholder: ''
    });
    $('#id_genres').select2({
      closeOnSelect: false,
      placeholder: ''
    });
  });
</script>
{% endblock %}