{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Submit a game - Lutris{% endblock %}
{% block extra_head %}
{{ form.media.css }}
{% endblock %}

{% block content %}
  <div class="form-view-wide">
    <h1>Submit a game</h1>
    <p>
      Please be as accurate as possible with the information you provide.
      Wikipedia or <a href="http://www.mobygames.com/search/quick">Mobygames</a>
      are generally reliable sources. If you know more accurate ones, let us
      know! Thanks for your efforts!<br /><br />
    </p>
    {% crispy form %}
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {{ form.media.js }}
  <script>
    $(function () {
      $("#id_platforms").select2({'closeOnSelect': false, 'placeholder': ''});
      $("#id_genres").select2({'closeOnSelect': false, 'placeholder': ''});
      $('input[type=file]').JCropFileInput({
        debug: false,
        ratio: 8/3,
        thumbMaxWidth: 184,
        onSubmit: function (event) {
          if(event.target.responseURL == window.location.href) {
            document.open()
-           document.write(event.target.responseText)
-           document.close()
          } else {
            window.location = event.target.responseURL;
          }

        }
      });
      $("#id_search").on('select2:select', function (event) {
        var game_id = event.target.value;
        if (!game_id) {
          return;
        }
        $.ajax({
          url: '/thegamesdb/' + game_id + '.json',
          dataType: "json",
          success: function (response) {
            console.log(response);
            $('#id_name').val(response.game_title);
            $('#id_description').html(response.overview);
          }
        });
      });
    });
  </script>
{% endblock %}
