{% extends "base.html" %}
{% block title %}Game submitted - Lutris{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="message-view col-sm-6">

    <h1 style="font-size: 56px; font-weight: 900; border: solid red 16px; padding 24px ">MODIFICATIONS TO GAMES ARE DISABLED</h1>

    <strong style="font-size: 32px; font-weight: 900;">WE ARE SHORT STAFFED AND WE DO NOT HAVE THE NECESSARY RESSOURCES TO PROCESS YOUR SUBMISSIONS.</strong>
    <br>
    <strong style="font-size: 32px; font-weight: 900;">USER EDITS WILL BE TURNED OFF UNTIL WE HAVE ENOUGH MODERATORS TO PROCESS CHANGES.</strong>
    <br>


    <a href="{% url "game_list" %}">Back to the games list</a>
  </div>
  <div class="col-sm-3"></div>
</div>
{% endblock %}
