{% extends "base.html" %}
{% load lutris %}


{% block content %}
<div class='row'>
  <div class='col-md-9'>
    <h3>About Lutris</h3>
    <article>
      <p>
        Lutris is an open gaming platform for GNU/Linux. It aims at supporting
        as many games as possible thanks to emulators and providing a simple
        and reliable experience when installing games.
      </p>
      <p>
        The project combines the lutris.net website, a Linux client and game
        runners which are provided by your distribution or by Lutris itself.
      </p>
    </article>

    <h3>Supported platforms</h3>
    <article>
      <p>
        Lutris should work on any modern Linux platform, the client tries to
        minimize its dependencies and avoid relying on the system package
        manager whenever it can. This allows to keep a predictable behavior
        between different flavors of Linux.
      </p>
      <p>
        However, due to the lack of maintainers for many distributions, Lutris is
        only currently officially supported on current versions of Ubuntu and
        Fedora. Maintainers for every other distributions are more than welcome.
      </p>
      <p>
        The following gaming platforms are supported on Lutris:
        <ul>
          <li>Native Linux games</li>
          <li>Windows games (+ Steam based games)</li>
          <li>Arcade based games</li>
          <li>Amiga 500, 600, 1200</li>
          <li>Atari 2600, 800, 800XL, 130XE, 5200, ST, STE, TT, Lynx</li>
          <li>Bandai WonderSwan, WonderSwan Color</li>
          <li>Browser games like Quake Live, Minecraft or Flash based games</li>
          <li>Commmodore VIC-20, C64, C128, CBM-II, PLUS/4</li>
          <li>LucasArt SCUMM based games (Monkey Island, Maniac Mansion, ...)</li>
          <li>Magnavox Odyssey², Videopac+</li>
          <li>Mattel Intellivision</li>
          <li>Microsoft MSX, MS-DOS</li>
          <li>NEC PC-Engine Turbographx 16, Supergraphx, PC-FX</li>
          <li>Nintendo NES, SNES, Game Boy, Game Boy Advance, Gamecube</li>
          <li>Sega Master Sytem, Game Gear, Genesis, Dreamcast</li>
          <li>SNK Neo Geo, Neo Geo Pocket</li>
          <li>Sony Playstation</li>
          <li>Z-Machine games like Zork</li>
          <li>And many more to come in the future ...</li>
        </ul>
      </p>
    </article>

    <h3>Contributing to the project</h3>
    <article>
      <p>
        There are many ways to contribute to Lutris. The simplest way is to
        submit games to the website's database and writing installers. If you
        want to go a step further, you can also submit bug reports and
        suggestions on the <a href="https://Launchpad.net/lutris">Launchpad page</a>.
      </p>
      <p>
        If you know Python and Gtk, you can grab the source from bzr with:
        <code>bzr branch lp:lutris</code> and start sending your patches and
        contributions to the code base.
      </p>
    </article>
  </div>
  <div class="col-md-3">
    {% download_links %}
  </div>
</div>
{% endblock %}
