<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Mathieu Comandon">
        <title>Lutris : Play video games on Linux easily</title>
        <meta name="description" content="Lutris is a gaming platform for Linux. It supports as many games as possible for a wide variety of platforms (native games, Windows, Playstation, Gamecube, SNES, Arcade games, Amiga, etc ...). "/>
        <meta name="keywords" content="Lutris, Linux, GNU / Linux, gaming, video games, native, humble bundle, loki, windows games, nintendo, sega, playstation, dos, amiga, atari, neo geo, pc engine, joypad, joystick, python, open source, free software, gpl, steam, desura" />
        <link type="text/css" href="/media/css/lutris.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header id="header" class="line">
            <div class="container">
                <div class='title'>
                    <img class='logo' src='/media/images/logo.png' alt='Lutris'/>
                    <h1>
                        <a href='/' >
                            Lutris
                            <span class='tagline'>
                                The universal gaming platform for GNU/Linux
                            </span>
                        </a>
                    </h1>
                </div>
                <ul class='nav-menu'>
                    <li><a href="/">Home</a></li>
                    <li><a href='/about'>About</a></li>
                    <li><a href="/download">Get Lutris</a></li>
                    <!--Coming soon ;) -->
                    <!--<li><a href="/games">Games</a></li>-->
                    <li><a href="https://launchpad.net/lutris">Contribute</a></li>
                    <li><a href="http://lutris.net/blog">Blog</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/accounts/logout/">Logout</a></li>
                    {% else %}
                        <li><a href="/accounts/login/">Login</a></li>
                        <li><a href="/accounts/register">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <div id="content" class="page container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

