<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>Lutris : Play video games on Linux easily</title>
        <link type="text/css" href="/media/css/reset.css" rel="stylesheet" />
        <link type="text/css" href="/media/css/lutris.css" rel="stylesheet" />
    </head>
    <body>
        <div id="logo-bg">
        </div>
        <div id="content">
                {% block content %}
                {% endblock %}
        </div>
    </body>
</html>

