{% load static from staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Mathieu Comandon">
  <title>{% block title %}Lutris - Open Gaming Platform{% endblock %}</title>
  <meta name="description" content="Play all your games on Linux. Lutris is an Open Source gaming platform for Linux. It installs and launches games so you can start playing without the hassle of setting up your game. Get your games from GOG, Steam, Battle.net, Origin, Uplay and many other sources running on any Linux powered gaming machine."/>
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
  <link rel="publisher" href="https://plus.google.com/+LutrisNet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
  <link type="text/css" href="{% static 'css/libs.min.css' %}" rel="stylesheet" />
  <link type="text/css" href="{% static 'css/lutris.min.css' %}" rel="stylesheet" />
  <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
  {% block stylesheets %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<style>
  a.title:link {text-decoration:none;}
  a.title:hover {color:#ff9900;text-decoration:underline;}
</style>
<body>
  {% if messages %}
  <ul class="alerts">
    {% for message in messages %}
      <li{% if message.tags %} class="alert alert-dismissable alert-{{ message.tags }}"{% endif %}>
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </li>
    {% endfor %}
  </ul>
  {% endif %}

    <nav class="navbar navbar-default navbar-inverse">
      <div class="container">

        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>

          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#search-games"
                  aria-expanded="false"
                  aria-controls="navbar">
            <span class="sr-only">Search games</span>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>

          <a class="navbar-brand brand" href="/">
            <img class="logo" src="{{ STATIC_URL }}images/logo.png" alt="Lutris" />
            <p class="hidden-sm hidden-xs">
              Lutris
            </p>
          </a>
        </div>

        <div id="search-games" class="navbar-collapse collapse">
          <div class="search-games-content">
            <form action="{% url 'game_list' %}" method="get" class="form-inline">
              <div class="input-group">
                <input type="text" name="q" class="search-query form-control" id="global-search"
                    placeholder="Search…" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Search</button>
                </span>
              </div>
            </form>
          </div>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" id="main-nav">
            <li><a href="{% url 'downloads' %}" class="action-button">Download</a></li>
            <li><a href="{% url 'game_list' %}">Games</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'library_show' user.username %}">My Library</a></li>
              <li><a href="{% url 'user_account' user.username %}">My Account</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
            <li class="hidden-xs">
              <a href="#" class="collapsed" data-toggle="collapse" data-target="#search-games"
                  aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Search games</span>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  {% block nonpage_content %}{% endblock nonpage_content %}
  <div id="content" class="container"><div class="page">{% block content %}{% endblock %}</div></div>

  <footer class="footer">
    <div class="container">
      <div class="col-sm-4">
        <h5>The project</h5>
        <ul>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'faq' %}">FAQ</a></li>
          <li><a href="https://github.com/lutris/lutris/wiki">Wiki</a></li>
          <li><a href="https://github.com/lutris/lutris/issues">Report an issue</a></li>
          <li><a href="https://forums.lutris.net">Forums</a></li>
          <li><a href="irc://irc.freenode.org:6667/lutris">IRC (#lutris on Freenode)</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="icon-list">
          <li>
            <a href="https://github.com/lutris">
              <img src="{{ STATIC_URL }}images/icons/github-32.png" title="Github">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/LutrisGaming">
              <img src="{{ STATIC_URL }}images/icons/twitter-32.png" title="Twitter">
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/LutrisGaming/">
              <img src="{{ STATIC_URL }}images/icons/facebook-32.png" title="Facebook">
            </a>
          </li>
          <li>
            <a href="{{ DISCORD_URL }}">
              <img src="{{ STATIC_URL }}images/icons/discord-32.png" title="#lutris channel on Linux_Gamers_Group Discord">
            </a>
          </li>
        </ul>
        <h4>Support us on</h4>
        <p class="centered">
          <a href="https://patreon.com/lutris">
            <img src="{% static 'images/patreon.png' %}" alt="Support Lutris on Patreon" />
          </a>
        </p>
      </div>

      <div class="col-sm-4">
        <h5>Friends</h5>
        <ul>
          <li><a href="https://www.gamingonlinux.com/">Gaming on Linux</a>
          <li><a href="https://linuxgamecast.com/">LinuxGameCast</a>
          <li><a href="https://winehq.org">WineHQ</a></li>
          <li><a href="https://www.playonlinux.com">PlayOnLinux</a>
          <li><a href="https://linuxgameconsortium.com/">Linux Game Consortium</a>
          <li><a href="https://rootgamer.com/">Root Gamer</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="{% static 'js/libs.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script>
    $(document).ready(function() {
      $('#search-games').on('show.bs.collapse', function() {
        // Wait a little while: calling focus on hidden objects will blur immediately
        setTimeout(function() {
          document.getElementById('global-search').focus();
        }, 50);
      });
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42114412-1', 'lutris.net');
    ga('send', 'pageview');
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>
