{% extends "base.html" %}
{% block content %}
<div class="line">
  <div class="unit size3of5">
    <div class='spaced'>
      <img class='spaced' src='/media/images/preview.png' />
    </div>
  </div>
  <div class='unit lastUnit size2of5'>
    <div class='spaced download-pane'>
      <h1>Lutris <em>0.2.2</em></h1>
      <a class="big-button" href='/download'>Download it now</a>
      <h2>Features</h2>
      <ul>
        <li>Supports thousands of games</li>
        <li>Optimizes your gaming experience</li>
        <li>Minimize tedious configuration</li>
      </ul>
    </div>
  </div>
{% endblock %}
