{% extends "base.html" %}
{% block content %}

<h3>What is Lutris ?</h3>
<img src="/media/images/samus.jpg" style="float: right"/>
<p>
Lutris is an graphical frontend allowing users to easily run any
video game than is supported on GNU/Linux.
Lutris let you to change some system settings and keep the configuration.
Once a game is correctly configured, you only are one mouse click from gaming.<br/>
</p>


<h3>You can help !</h3>
<p>
Lutris is Open Source Software and is under a GPL v3 License. Contributors are
more than welcome as I has lots of work elsewhere too and I'm not
able to devote 100% of my time to Lutris ;)
You don't have to be a Python expert to help, just run the program, report bugs,
submit your ideas, etc ...<br/>
If you happen to be a Python hacker then Lutris is a fun project to work on. I
try to keep the code clean and understandable. There is all you need to start
contributing right now ! If you have <em>any</em> question about Lutris' source
code, get in touch with me and I'll happily guide you.
</p>
<h3>More about Lutris</h3>
<ul>
    <li><a href="/future">List of supported systems</a></li>
    <li><a href="/future">Plans for the future</a></li>
</ul>

{% endblock %}