{% extends "base.html" %}
{% block content %}

<div class="line">
    <div class="unit size4of5">
        <h3>What is Lutris ?</h3>
        <p>
            Lutris is an graphical frontend allowing users to easily run any
            video game than is supported on GNU/Linux.
            Lutris let you to change some system settings and keep the configuration.
            Once a game is correctly configured, you only are one mouse click from gaming.<br/>
        </p>
    </div>
    <div class="unit size1of5 lastUnit">
        <div class="bigButton">Download Lutris</div>
    </div>
</div>

<div class="line">
<h3>More about Lutris</h3>
<ul>
    <li><a href="/future">List of supported systems</a></li>
    <li><a href="/future">Plans for the future</a></li>
</ul>
</div>
{% endblock %}